[2022-02-04 18:54] jbphet commented on #277
I just did some experimentation with the 1.3 metadata format, and the structure is slightly different, and as far as I can tell it doesn't include version information for the sim.  The 1.2 format _did_ include this, and rosetta uses it.  So, we either need to add version into to 1.3 or `isPrototype` to the 1.2 to get it all to work.

Also, in my experimentation, I found that my attempts to retriev

[2022-02-04 20:30] jbphet opened #278 "Add a route to obtain SHA of code running in a given instance of Rosetta"
The SHA is logged at startup in the output log, but while working on some maintenance recently, it occurred to be that it would sure be nice to just get the SHA from a URL instead of having to search through logs.

[2022-02-04 20:32] jbphet commented on #278
I've added this functionality to the main, non-react version.  Assigning to @liam-mulhall to add it to the react version.

[2022-02-11 00:12] jbphet commented on #277
@mattpen - I removed the `summary` query parameter, and am able to see the version information in the 1.3 metadata now, which is great.  However, I'm a little concerned about the size of this data and the time it takes to get it.  I tested on phet-sever, and it takes about 4 seconds, which isn't bad, bit it may make some pages a bit slow if users trigger an update of the local copy of the data.  A

[2022-02-11 00:20] jbphet opened #279 "Check for missing translations due to JSDoc dependency issue, fix any that exist"
In https://github.com/phetsims/chipper/issues/1189, a problem was reported and then fixed in a maintenance release where builds of some sims were failing for a period of time.  If translations were submitted during the time period during which these sims were broken, the sims would not have been built and deployed.  The build logs should be checked for failures and, if there are some and if the tr

[2022-02-11 03:32] mattpen commented on #277
You could limit the data with locale=en, but then you would need to make 2 requests I think.  One for a summary of all locales and one for complete data of just English. That seems silly.

 I think the best solution is to just add the version data back into the summary for 1.3. That shouldn't add too much bloat. It'll take a bit to get that change up in production,  though.

[2022-02-11 18:17] jbphet commented on #277
Sounds good to me.  Let me know when it's ready and I'll give it a try.

[2022-02-14 23:50] mattpen opened #280 "admin-guide.md and implementation-notes.md need an update"
These two files both reference phet-server as the main production machine, which is set to change very soon.  This documentation should be updated to reference phet-server2 as the primary backend and phet-server as the secondary backend (which should host rosetta in maintenance-mode permanently).

Assigning @jbphet @liam-mulhall - happy to help if needed.

[2022-02-15 00:16] jbphet commented on #279
I did an initial scan through the logs for the time period in question, and I'm seeing what looks like 211 build requests and 13 failures.  Ideally, we would check each of the failure cases to see if there truly is no translation for that sim from later than that date, since a translator could have re-submitted it.  I'm working with the QA team to see if they can help out with this process.

[2022-02-15 19:08] jbphet commented on #279
I talked with @kathy-phet and @KatieWoe, and we decided that I should upload a filtered version of the build server log from the time period in question, meet with @KatieWoe to discuss, and she will take it from there.  She will then let me know which sims need to be rebuilt.

I trimmed a copy of the build log to only have the days during the period, then used this command to filter it:
[code]

I'

[2022-02-15 22:22] KatieWoe commented on #279
- [ ] Sim = build-a-molecule, Locale = ko, Day and time = Jan 23 01:25:01
- [ ] Sim = build-a-molecule, Locale = ko, Day and time = Jan 23 05:11:27
- [ ] Sim = density, Locale = de, Day and time = Jan 23 08:20:58
- [ ] Sim = circuit-construction-kit-ac, Locale = ar, Day and time = Jan 23 09:27:53
- [ ] Sim = circuit-construction-kit-ac, Locale = sk, Day and time = Jan 23 14:18:49
- [ ] Sim = circu

[2022-02-17 22:08] oliver-phet commented on #277
@mattpen do you have an ETA on getting the version data back into the 1.3 summary?

[2022-02-24 04:09] mattpen commented on #277
OK, @jbphet the version summary should now be available in the 1.3 summary.  Sorry for the delay, can you please check on your side.

[2022-03-03 01:44] kathy-phet commented on #279
@jbphet @KatieWoe - I noticed that 2 sim translations are on are the rebuild list. However Fourier Making Waves isn't on the list of affected sims that JO has here:
https://github.com/phetsims/chipper/issues/1189#issuecomment-1026321711

@jbphet - Do you understand that inconsistency?

[2022-03-03 21:11] jbphet commented on #279
Partially, but I think we'd need to bring in @jonathanolson to fully understand it.  The build log _does_ show a failed build of an Icelandic translation of fourier-making-waves during that time period, and the failure message looks like the same one that was occurring for the sims that _are_ on the list.  That message is:

[code]

I'll assign @jonathanolson to see if he can tell us why the sim wo

[2022-03-05 00:32] jbphet commented on #277
I just checked and can see both the version information and the `isPrototype` flag.  This looks good as far as I can tell, and I'll try incorporating it into Rosetta next.

[2022-03-07 18:13] liam-mulhall commented on #274
@oliver-phet, should there be Test/Save/Submit buttons on the top and the bottom of the translation form (upon selecting a simulation)? Or only on the bottom? Or something else?

[2022-03-07 19:23] oliver-phet commented on #274
The current utility has top and bottom, so I'd just keep that design (hopefully that's easiest)!

I think it would be best to have a null value like "Select" that the drop down defaults to. So a translator needs to explicitly select their locale to begin translating. I'm worried if we open the first by default we'll receive some accidental Abkhaz submissions.

[2022-03-10 23:12] jbphet commented on #277
I've implemented support for translation of prototypes on the master branch of Rosetta.  Since we are going to cut over to a new server in a couple of days, I'm going to make this feature available at the time of the cutover, since it will take less of my time that way.  If everything goes as planned, this functionality should go online on Sunday March 13 2022.

[2022-03-10 23:14] jbphet commented on #277
I've assigned this to @liam-mulhall, since he'll need to make sure that this is supported in the reacted-based version on rosetta on which he is working.  The commit list above should be helpful for that.

[2022-03-10 23:38] oliver-phet commented on #277
Woohoo! I'll look out for confirmation next week then send an announcement to translators.

[2022-03-11 00:21] jbphet commented on #277
I just tested the version of Rosetta that includes support for prototype translation by accessing it on ox-dev, which currently resolves to phet-server2.  I logged in as a user that is a trusted translator but is not a team member and, as expected, saw the prototype sims in the translation list, such as greenhouse-effect and geometrics optics, and did _not_ see the invisible sims, such as chains a

[2022-03-11 18:42] jbphet commented on #279
I built the Icelandic version of Fourier a while back, and it appears to have worked, since that one is now live on the site at https://phet.colorado.edu/sims/html/fourier-making-waves/latest/fourier-making-waves_is.html.

I tried building the Korean version of Build a Molecule, but it failed because there is no translation file for this.  In other words, the file `build-a-molecule_ko.json` does n

[2022-03-11 18:42] #279 closed

[2022-03-13 16:53] jbphet commented on #277
We've cut over to the new server, so support for translation of prototypes should now be available to our translators.  @oliver-phet - you can send out your email whenever you're ready.  Once that's done, please leave this issue open and assigned to @liam-mulhall so that he can make sure this capability is supported in rosetta-react.

[2022-03-14 20:22] oliver-phet commented on #277
Translators have been notified that prototypes are now available in the utility.

[2022-03-21 17:51] liam-mulhall opened #281 "Add warning about prototypes"
In the 2022-03-21 meeting on translation prototypes, we decided to add a warning to the translation utility that tells users that key-value pairs for strings in prototypes might change and therefore their work might go away once the sim is published.

The web team is going to write this warning for us. @oliver-phet, please let us know what the text will be.

[2022-03-21 22:12] jbphet commented on #281
I have added an initial version of this warning message and it is now live on the user-facing version of Rosetta.  It looks like this:

![image](https://user-images.githubusercontent.com/3082831/159371985-d5a9a352-b102-4c24-aa58-4a1b49a56e18.png)

@oliver-phet - I'll update the wording if and when you have a revised version, so please assign back to me at that time.

[2022-03-22 19:40] oliver-phet commented on #281
@jbphet can you slightly modify the wording:
"Warning - This simulation is currently a prototype. Changes may occur by the time the simulation is fully published that may include new strings or will require some strings to be re-translated."

[2022-03-23 18:25] jbphet commented on #281
Done.  I think we're good here, closing.

[2022-03-24 21:09] jbphet commented on #281
Reopening - we need to make sure this goes into the rosetta-react version that @liam-mulhall is working on.

[2022-04-06 15:15] mattpen opened #282 "Test Rosetta with Node 16"
@jbphet @liam-mulhall - we should test rosetta with Node 16 to make sure it is compatible. Node 16 is installed on phet-server-dev, so we should be able to test this at https://ox-dev.colorado.edu/translate.  Node 16 is now the LTS version of node, and we are upgrading it to solve some problems in https://github.com/phetsims/chipper/issues/1171#issuecomment-1088978203.

[2022-04-06 16:57] jbphet commented on #282
@mattpen - What is your time frame for upgrading to Node 16 on phet-server2?  Knowing this will help @liam-mulhall and I to prioritize and schedule this work.

[2022-04-06 17:18] mattpen commented on #282
I had to upgrade node to 16 on a high priority for the build-server today, but it looks like rosetta can use 14 for the time being by referencing the old executables in nvm's version directory.  I'm not sure this is a good long term solution, so it would be nice to get this done sooner if possible.

[2022-04-19 21:56] jbphet commented on #282
@mattpen - I just pulled the latest Rosetta code onto phet-server-dev and restarted the server process there using systemctl, and I can see by tailing the logs and messing around at https://ox-dev.colorado.edu/translate that interaction is occurring.  However, Rosetta records the Node version that it's running on in its log when it starts up, and that line says:

[code]

Running `node --version` f

[2022-04-30 01:27] mattpen commented on #282
I changed `/usr/bin/node` to `/usr/local/bin/node` in /usr/lib/systemd/system/rosetta.service.  This should cause rosetta to run with node 16, sorry I missed this.  Back to @jbphet and @liam-mulhall for testing.

[2022-05-06 21:34] jbphet commented on #282
@mattpen - I just tested on ox-dev and everything seemed to work fine.  Feel free to switch to Node 16 on the main server and let me know when you've done it, and I'll take a look there.

For my reference, I tested all of the basic UI interactions, but I didn't submit an actual translation, since the server was configured to submit to master and to make build requests.

[2022-05-12 21:39] mattpen commented on #282
I updated rosetta to use 16.14.2 on phet-server2 and restarted it.  Looks like it started successfully:

[code]

[2022-05-12 23:07] jbphet commented on #282
I ran a test where I updated the `ab` locale of the Chains sim, and it looks like everything worked fine.

I'll add a reminder to check early next week that we got some successful translations, and then I think we can safely close this.

For reference, here are two entries from Rosetta's log that show the Node version and the SHA that were tested:

[code]

[2022-05-16 17:26] jbphet commented on #282
I checked the logs and the main website this morn, and it appears that several translations have been successfully submitted and deployed since the change to Node 16, so I think we can safely close this issue.

[2022-05-16 17:26] #282 closed, assigned to jbphet

[2022-06-02 21:54] liam-mulhall commented on #272
# Milestones

- [ ] Add functionality to save strings to Babel. (date completed = )
- [ ] Add test button and associated functionality. (date completed = )
- [ ] Make footer stick to the bottom. (date completed = )
- [ ] Add form validation equivalent to what current Rosetta has. (date completed = )
- [ ] At this point, the new Rosetta is equivalent to the old Rosetta. (date completed = )
- [ ] Ad

[2022-06-10 04:06] liam-mulhall commented on #125
I don't have plans to work on this anytime soon. My focus is on getting the new version of Rosetta finished and then making sure the desktop app is built and deployed regularly. Un-assigning myself for now.

[2022-06-10 13:25] liam-mulhall commented on #255
At this point, this branch is stale and should probably be deleted. Closing this issue.

[2022-06-10 13:25] #255 closed

[2022-06-10 15:10] liam-mulhall commented on #75
There will be extensive notes in the new version of Rosetta.

[2022-06-10 15:12] liam-mulhall commented on #187
This will be done in the new version of Rosetta.

[2022-06-10 15:16] liam-mulhall commented on #204
@mattpen, is this issue stale? I seem to recall you said this approach would no longer be viable.

[2022-06-10 15:23] liam-mulhall commented on #238
This will be done in the new version of Rosetta.

[2022-06-10 15:24] liam-mulhall commented on #240
This will be done (to some extent) in the new version of Rosetta.

[2022-06-10 15:27] mattpen commented on #204
So, I think the need to unify the headers is still present, but I would definitely want to have a new discussion about how best to do this.

[2022-06-10 15:36] liam-mulhall commented on #204
Okay, sounds good. I will contact you when we're closer to deploying the new version of Rosetta.

[2022-06-10 15:43] liam-mulhall commented on #259
This will be added in the new version of Rosetta.

[2022-06-11 00:08] liam-mulhall commented on #265
@jbphet, can we discuss this at next week's meeting?

[2022-06-11 00:14] liam-mulhall commented on #267
Done in https://github.com/phetsims/rosetta/commit/7939d28f73c6f419017d6adcd2f3e44b50c1cfb4.

[2022-06-11 00:14] #267 closed

[2022-06-11 00:20] liam-mulhall commented on #269
I believe this issue is fixed. Closing.

[2022-06-11 00:20] #269 closed

[2022-06-11 00:26] liam-mulhall commented on #276
I've used the trigger build route pretty extensively since we updated phet-server's Rosetta (the changes in https://github.com/phetsims/rosetta/commit/4f52e00963b8d4b5cd6c97e08a2f970b2ee0b691 have been working). Closing.

[2022-06-11 00:26] #276 closed

[2022-06-11 05:05] liam-mulhall commented on #280
There will be an up-to-date guide in the new version of Rosetta.

[2022-06-15 13:59] oliver-phet commented on #262
I just re-pinged the translator. Our newest sims still haven't been translated into _ko so I suspect the issue is still blocking translation.

[2022-06-23 21:47] liam-mulhall opened #283 "Use Yarn with Rosetta 2.0?"
John and I are wondering whether it would be a good idea to use Yarn with the new version Rosetta because it would be nice to separate the client-side code and the server-side code. This would entail a monorepo structure like:

[code]

John and I are in agreement that it would be best to keep the code for the client and the server in one Git repository as opposed to splitting the code into two Git

[2022-06-23 21:51] liam-mulhall commented on #283
If we do use Yarn, should we use version 1 or version 2?

[2022-06-24 15:58] liam-mulhall commented on #283
Re V1 vs. V2, according to the Yarn docs, you _don't_ have to use the new "Zero Install"/"Plug'n'Play" scheme that gets rid of `node_modules`, i.e. you can still have `node_modules` and use V2.

[2022-06-30 02:26] samreid commented on #283
Yes, one repo sounds good.  How does this relate to yarn?

[2022-07-07 16:53] oliver-phet commented on #262
Latest from _ko translator:

[2022-07-07 20:14] liammulh opened #284 "Rosetta 2.0: Modularize code, use modern JavaScript, use React for front end, add translation report"
# Rosetta 2.0

This is an epic issue to track the refactor of Rosetta.

## 1: Transfer code from my fork to this repository, add lint rule, separate client and source code using NPM workspaces

I want to integrate my fork ([liam-mulhall/rosetta](https://liam-mulhall/rosetta)) of [phetsim/rosetta](https://github.com/phetsims/rosetta) back into phetsims/rosetta.

- [x] https://github.com/phetsims/ro

[2022-07-07 20:36] #272 closed, assigned to liammulh

[2022-07-07 20:38] liam-mulhall commented on #271
I don't think we're going to do this. I'm going to close. We can re-open or make a new issue if/when we decide we want to test our client-side code.

[2022-07-07 20:38] #271 closed, assigned to liammulh

[2022-07-07 20:39] liam-mulhall commented on #262
I will discuss this with JB, and we'll try to figure out what to do.

[2022-07-07 20:41] liam-mulhall commented on #280
The title "admin-guide.md and implementation-notes.md need an update" makes this specific to old Rosetta.

[2022-07-07 20:42] liam-mulhall commented on #273
The new epic is https://github.com/phetsims/rosetta/issues/284. Closing.

[2022-07-07 20:42] #273 closed

[2022-07-07 20:44] liam-mulhall commented on #259
The new epic is https://github.com/phetsims/rosetta/issues/284. Closing.

[2022-07-07 20:44] #259 closed

[2022-07-07 20:51] liam-mulhall commented on #240
This isn't a priority for Rosetta 2.0, so I'm going to close and we can re-open or make a new issue if/when we want to add tests.

[2022-07-07 20:51] #240 closed

[2022-07-07 21:01] liam-mulhall commented on #190
The new epic is https://github.com/phetsims/rosetta/issues/284. Closing.

[2022-07-07 21:02] liam-mulhall commented on #187
The new epic is https://github.com/phetsims/rosetta/issues/284. Closing.

[2022-07-07 22:42] liammulh opened #285 "Branch: `rosetta_2.0_main`"
This branch is for the development of Rosetta 2.0. See https://github.com/phetsims/rosetta/issues/284.

[2022-07-07 23:03] liam-mulhall opened #286 "Set up `rosetta_2.0_main` branch with scaffolding and bare-bones functionality"
As part of https://github.com/phetsims/rosetta/issues/287, I want to:

- ~~[x] Initialize Yarn project (done in https://github.com/phetsims/rosetta/commit/66f32abd9b0038b03e03cb855cc35aee3c1e2bfe)~~ (We're not going to use Yarn. See [this comment](https://github.com/phetsims/rosetta/issues/283#issuecomment-1179361131).)
- [x] Initialize NPM project (done in https://github.com/phetsims/rosetta/comm

[2022-07-08 00:36] liam-mulhall opened #287 "Transfer code from my fork to the phetsims/rosetta repository"
Most of my work on Rosetta 2.0 has been done in my fork of the phetsims/rosetta repository. I'd like to transfer that work to this repository, but I don't care to keep the Git history. (The commits were sloppy, in my opinion.) My goal is to transfer the work such that the Git history ends up being more readable.

~~- [x] Complete tasks (other than this one) in section 0 of https://github.com/phets

[2022-07-08 17:03] liam-mulhall commented on #283
We don't necessarily _need_ two `package.json`s. That being said, I think having two `package.json`s makes sense for two reasons:

1. We can clearly delineate dependencies for client-side code and server-side code. This has the advantage of making future maintainers lives a bit easier.
2. We can use a meta-framework like [Create React App](https://create-react-app.dev/) (CRA) without needing to re

[2022-07-08 17:14] samreid commented on #283
Thanks for the elaboration.  Just wanted to ask a few clarifying questions:

Does this mean each developer and test machine (CT, phettest, build server, etc) will also need to do the equivalent of `yarn update` instead of `npm update` whenever there are changes to the dependencies in this repo?

Could this be nearly accomplished by having a package.json structure like so?

[code]

Of course this w

[2022-07-08 17:40] liam-mulhall commented on #283
Ah, that's something I hadn't considered. Yes, I think any scripts that perform `install`, `update`, etc. commands would need to use the equivalent Yarn commands for this repo. If a developer who doesn't normally work on Rosetta needed to do something with it, they would need to use Yarn commands. The Yarn CLI is slightly different, but not so different that a short explanation in the README along

[2022-07-08 19:11] zepumph commented on #283
Would it be easiest to just create a new repo that is specifically for the client? `rosetta-client`. Then we could continue to use npm and wouldn't need any more discussion about process/tech changes?

I also seems like it is most likely cheapest (depending on how much research and work has already gone into yarn). Do whatever you think is best, I just thought I'd say this out loud.

[2022-07-08 19:21] liam-mulhall commented on #283
Yes, it would definitely be easiest! However, I've discussed this with JB and SR, and we agreed that separate repos would add an unreasonable amount of maintenance burden.

Thanks, I appreciate your input! :)

<hr/>

Sam and had a fairly in-depth discussion over Zoom where I clarified my motivation for using Yarn, and the plan is to move forward with Yarn. I'm going to do some reading about the ne

[2022-07-08 19:58] samreid commented on #283
The critical parts of my zoom conversation with @liam-mulhall were:

* We would like to reap the benefits of create-react-app, which can be run with npm, npx or yarn.
* We would like to be able to have one repo contain both client code and server code.
* We would like the artifact from create-react-app to not necessarily be the top-level directory (it should be nestable).
* Repos should be able to

[2022-07-08 20:44] liam-mulhall commented on #283
Okay, I did a pretty deep dive on Yarn. Here's what I found out:

# Overview

* Started in 2016 at Facebook as replacement for NPM.
* Goal was to create more secure, stable, and efficient package manager.
* Initially added features NPM didn't have.
* NPM has since implemented some of these features.

## Killer Features of Yarn

* Generally much faster than NPM.
* Much better support for de-duplica

[2022-07-08 21:08] liam-mulhall commented on #283
In doing my deep dive on Yarn, I found out that NPM also supports "workspaces" (a feature that Yarn is known for), which enable support for a directory structure like the following:

[code]

In the root `package.json`, you would see something along the lines of:

[code]

So I think this will allow me to achieve all of my goals. It allows me to separate the client dependencies and the server depend

[2022-07-08 21:45] jbphet commented on #280
I updated references to phet-server to phet-server2.  I did some other minor editing, but not a ton, since there will be a new round of documentation that comes along with Rosetta 2.0, as @liam-mulhall mentions above.  I think that should suffice, closing.

[2022-07-08 21:45] #280 closed

[2022-07-09 04:38] liam-mulhall commented on #262
Neither JB nor I really know where to go with this issue. We didn't have enough time to discuss in-depth, so I add this to the agenda for our next meeting.

[2022-07-09 04:45] liam-mulhall commented on #270
This is a duplicate of https://github.com/phetsims/rosetta/issues/163. Closing in favor of the older issue.

[2022-07-09 04:45] #270 closed

[2022-07-09 04:50] liam-mulhall commented on #252
This is a duplicate of https://github.com/phetsims/rosetta/issues/263. Closing in favor of the older issue.

[2022-07-09 04:50] #252 closed

[2022-07-09 04:53] liam-mulhall commented on #141
This issue is horribly outdated. Closing.

[2022-07-09 04:53] #141 closed

[2022-07-09 05:00] liam-mulhall commented on #75
This is a duplicate of https://github.com/phetsims/rosetta/issues/280, which is closed.

[2022-07-09 05:00] #75 closed

[2022-07-09 05:02] liam-mulhall commented on #121
This is a duplicate of the main feature being added to Rosetta 2.0. See https://github.com/phetsims/rosetta/issues/284 Closing.

[2022-07-09 05:02] #121 closed

[2022-07-14 00:30] liammulh opened #288 "Add test button and associated functionality"
The current Rosetta has a feature where you can press a "Test" button. This button gets the translation form data from the DOM and posts the translation form data to the server. The server then gets the sim's HTML and replaces its strings with the strings from the translation form data. It then sends the HTML with the replaced strings as a response.

This is more difficult in Rosetta 2.0 because R

[2022-07-14 00:30] liammulh opened #289 "Add form validation equivalent to what current Rosetta has"
If there is a pattern in your string key, the user's input should match the pattern. This is a feature in Rosetta 1.0 that we want in Rosetta 2.0.

Consider the following:

<img width="722" alt="example" src="https://user-images.githubusercontent.com/60749003/179061093-a72b962f-797e-43c6-bba5-24b31038e8e4.png">

If you add a pattern that doesn't conform to the string key, this is what you'll see:

[2022-07-14 00:31] liam-mulhall opened #290 "Attend Rosetta 2.0 design meeting"
For a visual idea of the features we're adding to Rosetta 2.0, see https://github.com/phetsims/rosetta/issues/274.

The big feature we're adding to Rosetta 2.0 is the "translation report". Given a locale, a translation report will be generated with:
1. A list of sims that have at least one string translated, and a list of strings that haven't been translated
2. Statistics for each translated sim c

[2022-07-14 21:00] liam-mulhall commented on #286
Done in https://github.com/phetsims/rosetta/commit/486727a286647b0a542f5723aa3cb289c1a499b2.

[2022-07-14 21:00] #286 closed

[2022-07-14 21:09] liam-mulhall opened #291 "Add PhET's ESLint configuration to `rosetta_2.0_main` branch"
PhET has several [custom ESLint configurations](https://github.com/phetsims/chipper/tree/master/eslint) in the phetsims/chipper repository. We will use the following in Rosetta 2.0:

- [ ] [.eslintrc.js](https://github.com/phetsims/chipper/blob/master/eslint/.eslintrc.js) in both the client and the server
- [ ] [format_eslintrc.js](https://github.com/phetsims/chipper/blob/master/eslint/format_esli

[2022-07-15 15:24] liam-mulhall opened #292 "Add PhET's Gruntfile to `rosetta_2.0_main` branch"
I guess in order for PhET's custom ESLint configuration to work properly, I need to be using PhET's Grunt. This is because PhET's Grunt adds PhET's custom ESLint rules. So ultimately, our lint command should be `grunt lint`, not `eslint .`.

I'm not entirely sure how this will work with the monorepo structure of the repository. I'll probably have to do some experimentation.

[2022-07-15 16:27] liam-mulhall commented on #291
The monorepo structure is making adding PhET's ESLint config difficult. I'm going to move on because I don't want to sink too much time into this. There are bigger fish to fry.

[2022-07-15 16:27] liam-mulhall commented on #292
The monorepo structure is making adding PhET's Gruntfile config difficult. I'm going to move on because I don't want to sink too much time into this. There are bigger fish to fry.

[2022-07-15 17:28] liam-mulhall commented on #292
Never mind! I figured this out. Done in https://github.com/phetsims/rosetta/commit/6e6f804349276373867ee14e1d5efa0f753139ac.

[2022-07-15 20:25] liam-mulhall commented on #265
Done in https://github.com/phetsims/rosetta/commit/0e21ccd0ff26c46a5ae3af0fc3d2b11688b4e3fd.

[2022-07-15 21:53] liam-mulhall opened #293 "Add code needed for Rosetta config to `rosetta_2.0_main` branch"
Rosetta has a local config file that is usually kept in `~/.phet`. I need to add the code needed to get and use this config to Rosetta 2.0.

[2022-07-16 17:32] liam-mulhall opened #294 "Add Winston logger to `rosetta_2.0_main`"
In order to start transferring server-side code to this repository, I need to have the Winston logger installed, configured, and working.

[2022-07-16 17:40] liam-mulhall commented on #294
Done in https://github.com/phetsims/rosetta/commit/22d8a24d4a5626b3b35020a236ee38867f6b71dd.

[2022-07-16 17:40] #294 closed

[2022-07-16 17:40] liam-mulhall commented on #293
Done in https://github.com/phetsims/rosetta/commit/22d8a24d4a5626b3b35020a236ee38867f6b71dd.

[2022-07-16 17:40] #293 closed

[2022-07-21 21:40] liammulh opened #295 "Document Rosetta 2.0 thoroughly"
In Rosetta 1.0, we have high-quality documentation in the form of markdown files in the `doc` directory. We'd like high-quality documentation for Rosetta 2.0. Using JSDoc, we can put documentation in JSDoc comments in the relevant file. Then we can build a static website where we can easily read these docs. High-level overviews can go in the README. JSDoc can be configured to make the static websi

[2022-07-26 16:39] jbphet commented on #283
@liam-mulhall - I'm good with the decision to continue with NPM.  Can this issue be closed?

[2022-07-26 16:44] liam-mulhall commented on #283
Yes. @samreid and I came to the conclusion that it wouldn't make sense to introduce Yarn as a package manager because it would require us to add code to repos like AQUA that interact with an active repo's package manager.

[2022-07-26 16:44] #283 closed

[2022-07-26 16:48] liam-mulhall commented on #290
I'm going to store this data in memory.

[2022-07-28 15:07] liammulh opened #296 "Use object stored in memory for sim names and titles"
We need the sim titles (properly capitalized sim names) from the sim metadata for the sim select. We should make a module for this that is cached.

[2022-07-28 15:21] liammulh opened #297 "Use object stored in memory for locale info"
Locale info is small, so an HTTP request for it doesn't take very long, but it's never updated. Thus, it makes sense to get it, store it in memory, and update it every once in a while.

[2022-07-28 15:44] liam-mulhall opened #298 "Log safe config information and Git SHA on start of server"
When we start the Rosetta server, we want to log safe config info as well as the SHA of the running instance of Rosetta.

Safe config info includes:

[code]

[2022-07-28 17:07] liammulh opened #299 "Change the submit button to "Publish" or "Publish to PhET Website""
We want the translators to know that submitting a translation means publishing it to the website. They're not submitting it for review.

This will probably entail changing variable names, file names, and obviously the text of the button.

[2022-07-28 17:11] liammulh opened #300 "Add a confirm that tells the user x/y strings translated and asks them if they want to submit"
Telling the user how many strings they've translated might make them more inclined to create a more comprehensive translation. We would like a confirm that tells them: "You've translated x/y strings. Are you sure you want to publish this translation to the website?"

[2022-07-28 17:20] liam-mulhall opened #301 "Restrict users to locales they are permitted to translate in"
Per the 2022-07-22 Rosetta 2.0 design meeting, we decided it would be convenient if translators didn't have to scroll through a list of locales that they don't translate in. Ideally, a Spanish translator would only see variants of Spanish they are comfortable translating in the locale select.

This is not going to be added in Rosetta 2.0. @mattpen needs to add locale info to user data before we ca

[2022-07-28 17:32] liam-mulhall commented on #301
Similar/duplicate of https://github.com/phetsims/rosetta/issues/71. #71 has two suggestions, so I think I would prefer to keep this issue.

[2022-07-28 17:35] liam-mulhall commented on #301
Related to https://github.com/phetsims/rosetta/issues/109.

[2022-07-28 17:43] liammulh opened #302 "Add method for notifying users of updated strings"
We want a way to tell a user if a string has been updated, so they can make the appropriate changes to a translation.

@oliver-phet, @kathy-phet:

1. Is this something we want in Rosetta 2.0?
2. I need this to be more concrete. I need design and requirements.
    * Is this an icon next to the English string?
    * Does the user see that there's an updated string in the translation report (i.e. do

[2022-07-28 17:44] liam-mulhall commented on #301
I'm unassigning myself since I'm not working on this anytime soon.

[2022-07-28 18:09] liammulh opened #303 "Copy English value to clipboard, and/or automatically transfer English value to input fields"
Per the 2022-07-22 Rosetta 2.0 design meeting, we would like to add a feature where a translator can easily copy the English value to their clipboard and/or copy the English value to the input.

Copying to the clipboard is nice because it allows the translator to paste the English value into their preferred translation app (e.g. Google Translate). Copying the English value to the input is nice bec

[2022-07-28 18:14] liam-mulhall opened #304 "Show user when the last translation of a sim was done in translation report"
Per the 2022-07-22 Rosetta 2.0 design meeting, we decided it would be nice to have a way to show the user when a translation was last done for a sim. I think this information should be in the translation report.

[2022-07-28 18:20] liammulh opened #305 "Let user know what they're doing when they save strings"
There should be an alert that says something along the lines of: "When you save a translation, it will be stored in a database so that when you return, you can finish your translation."

[2022-07-28 18:31] liam-mulhall commented on #290
All of the action items have been extracted into issues. I'm closing this issue.

[2022-07-28 18:31] #290 closed

[2022-07-28 18:43] liam-mulhall opened #306 "Use object stored in memory for sim metadata"
The summary of the sim metadata isn't small, so we should store it in memory and update it occasionally.

[2022-07-28 20:37] oliver-phet commented on #302
Hey @liam-mulhall I thought we had decided last week that it would be quite difficult to separately identify if/when a string is either "new" or "updated". Instead, we were just going to identify translated/untranslated strings.

[2022-07-28 20:40] liam-mulhall commented on #302
Ah, yeah I remember now. Sorry, I think the notes I took were from before we made that decision. I will leave this issue open as it's something we might eventually want, but I won't add it to Rosetta 2.0.

[2022-07-28 22:22] oliver-phet commented on #274
@liam-mulhall here are some updated design mockup based on the meeting last week! (Note: ignore the pared-down locale list, since we aren't doing [locale access per user](https://github.com/phetsims/rosetta/issues/301), that list will continue to contain all phet locales for now)

**Initial Screen**
- Split the sim list into two sections (Sims not yet translated into..., Sims translated into...)
-

[2022-07-28 22:23] oliver-phet commented on #109
Closing, duplicate of #301, and notes are being kept in that issue.

[2022-07-28 22:23] #109 closed

[2022-07-28 22:31] liam-mulhall commented on #287
On 2022-07-28, JB and I decided to simply transfer the work I did in my fork to the phetsims/rosetta repo, and then add the monorepo structure on top of that. Thus, this issue can be closed because we've transferred my fork.

[2022-07-28 22:31] #287 closed

[2022-07-28 22:41] liam-mulhall commented on #265
I need to do this again on the `liam_fork` branch.

[2022-07-28 22:45] liam-mulhall commented on #285
We initially thought we were going to create this branch and transfer code from my fork to this repo manually, but then we decided to rebase my fork from master and then push the rebased fork to this repo. Thus, this branch will be deleted once I integrate its monorepo structure into the new branch that was rebased and pushed.

[2022-07-28 22:49] liammulh opened #307 "Branch: `rosetta_2.0_rev2`"
In https://github.com/phetsims/rosetta/issues/285, I wrote:

This is the new rebased branch from my fork. This is the branch that we expect to merge into the master branch.

[2022-07-28 23:29] liam-mulhall commented on #274
Thanks, @oliver-phet! These look great. :)

[2022-08-02 20:55] oliver-phet commented on #274
Another update after getting feedback from Amanda and Amy in website meeting:

I had preserved the simplified navigation at the top of the Translation Utility pages, but I'm realizing that now that we have a "discard changes" warning, I'm less concerned about users inadvertently navigating away during translation. Can you plan to just reuse the existing persistent navigation that the rest of the w

[2022-08-04 17:01] liam-mulhall commented on #265
Done (again) in https://github.com/phetsims/rosetta/commit/2bba9da83ce3d2fc61c29ea8a4c573ef20a904fe for the new branch.

[2022-08-04 22:22] liam-mulhall commented on #278
Done in https://github.com/phetsims/rosetta/commit/dc74eb4d14fc5f54d20ade424212f6ee1c8f72ec and https://github.com/phetsims/rosetta/commit/cd907fb1d14ddd4dd06cb0201734477c190afc92.

[2022-08-04 22:22] #278 closed

[2022-08-09 16:56] liam-mulhall commented on #298
I still want to remove the process.env info from the initial log of the config when we start Rosetta.

[2022-08-11 21:30] liam-mulhall commented on #289
See if there are any old GitHub issues having to do with form validation that can be incorporated into this issue.

[2022-08-12 17:20] liam-mulhall commented on #298
Done in https://github.com/phetsims/rosetta/commit/1e6f45f8e8bc64f34c44b6109bc799b165ed7b49.

[2022-08-12 17:20] #298 closed

[2022-08-15 18:32] liam-mulhall commented on #306
Done in https://github.com/phetsims/rosetta/commit/7d201d9820430695be712be3597d43999d1a6c29. We didn't use https://github.com/phetsims/rosetta/commit/99aee7cf8e7ffe7d7d194767eb02c150c6a9b2e4.

[2022-08-15 18:32] #306 closed

[2022-08-25 17:13] #297 closed

[2022-08-31 02:14] pixelzoom opened #329 "Investigate cause of Rosetta string pattern validation failures"
molecule-polarity-strings_da.json has a problem with pattern strings.  The placeholder names have been changed.

This English string:

[code]

... is used to fill in these radio button labels, which appear in Preferences:

<img width="108" alt="screenshot_1846" src="https://user-images.githubusercontent.com/3046552/187577224-2f73fd08-3212-4f16-8285-5add746d73ca.png">

The current 'da' translation

[2022-08-31 22:40] liammulh opened #308 "Trigger a rebuild of the _all HTML file"
We can't transfer an issue from a private repo to a public repo, so this is just a reference issue.

See https://github.com/phetsims/phet-io/issues/1874.

[2022-09-02 17:10] liammulh opened #309 "Submitting translation causes `PayLoadTooLargeError`"
1. Select Acid-Base Solutions
2. Select Abkhazian (ab)
3. Click the Go button
4. Click the submit button

You should see:

[code]

[2022-09-02 17:11] liammulh commented on #309
# Investigation

Relevant SO Issues:
* https://stackoverflow.com/questions/36716311/node-js-error-too-many-parameters-error-while-uploading-bulk-data
* https://stackoverflow.com/questions/19917401/error-request-entity-too-large

[2022-09-08 16:39] liammulh commented on #309
I reset my local copy of rosetta to:

[code]

and I'm still seeing this error.

[2022-09-08 16:42] liammulh commented on #308
This is blocked by https://github.com/phetsims/rosetta/issues/309.

[2022-09-08 17:03] liammulh commented on #309
I might (?) have fixed this.

[2022-09-08 17:53] liammulh commented on #309
https://github.com/phetsims/rosetta/commit/67cbb476b251c72670faebb7857e944391c015a1 seems to have fixed the issue on my macOS machine. I still don't understand why we had the issue in the first place.

[2022-09-08 21:34] samreid commented on #190
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:34] samreid commented on #265
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-09 16:44] KatieWoe opened #310 "CT 'SEND_BUILD_REQUESTS' is assigned a value but never used no-unused-vars"
[code]

[2022-09-09 16:46] jbphet commented on #310
I believe that this was already fixed in https://github.com/phetsims/rosetta/commit/37ac1ae8ac641dbb97153d70e087de41c2c82249, but CT hasn't re-run since the change was submitted.  I'll keep an eye on it, but I suspect there will be nothing else that needs to be done.

[2022-09-09 18:49] jbphet commented on #310
CT is now clear, see screenshot below.  Closing.

![image](https://user-images.githubusercontent.com/3082831/189422668-3ff03bb0-4fd5-4eed-b85d-fcb5891c9490.png)

[2022-09-09 18:49] #310 closed

[2022-09-10 17:51] liammulh commented on #309
Closing.

[2022-09-10 17:51] #309 closed

[2022-09-13 18:11] jbphet commented on #260
There is documentation that already exists for this.  @zepumph - Could you take a look at what exists and let me know if it is lacking in some way and, if so, what improvements you would suggest?  Please see
https://github.com/phetsims/rosetta/blob/master/doc/how-to-change-a-string-key.md#changing-a-string-key-for-a-common-code-repository

[2022-09-13 20:45] zepumph commented on #260
That is excellent from my perspective. Thanks!

[2022-09-13 20:45] #260 closed

[2022-09-17 18:15] liammulh commented on #265
I don't see any TODOs referencing this issue:

[code]

I don't see a link to this issue:

[code]

I don't see any TODOs or links to this issue in Rosetta 2.0:

[code]

[2022-09-18 01:38] samreid commented on #265
I believe this is referring to

https://github.com/phetsims/chipper/blob/38136f078626fc6a3dea1f8656d0f33fa01e8948/eslint/.eslintrc.js#L716-L717.

Can we now enable that rule?

[2022-09-18 14:07] liammulh commented on #265
Ah, I see! Thanks, @samreid.

The `require-atomic-updates` has been enabled in both old Rosetta and Rosetta 2.0, which is why I closed this issue.

The rule can be turned on now.

[2022-09-18 16:36] liammulh commented on #296
I think this is overkill since we're caching sim metadata and sim names and sim titles are extracted from sim metadata. If we think we need a speed up in the future, we can look into this further. Closing.

[2022-09-18 16:36] #296 closed

[2022-09-20 21:12] pixelzoom opened #433 "'hi' translation has NPBS suffix on every string value."
While working on phetsims/equality-explorer#187 (support for dynamic locale), I discovered that equality-explorer-strings_hi.json has a problem.  Every string value has "NBSP" at the end of it, which I assume is a non-breaking space.  For example:

<img width="354" alt="screenshot_1878" src="https://user-images.githubusercontent.com/3046552/191365066-c5e310fc-59e3-4f87-8b83-8d75974ee8ce.png">

The

[2022-09-21 23:38] liammulh opened #311 "Convert Rosetta 2 to TypeScript"
Once Rosetta 2.0 has been published, we should convert Rosetta 2's codebase to TS.

[2022-09-22 21:56] liammulh opened #312 "Sync phet-server2 and phet-server-dev so phet-server-dev has correct dir structure"
Recently, @jbphet, @mattpen, and I changed the directory structure from

[code]

to

[code]

Can we propagate this change to phet-server-dev?

[2022-09-30 19:55] liammulh opened #313 "Get source maps working for Rosetta 2.0"
It would be easier to debug client-side code with source maps.

[2022-09-30 20:00] #313 closed

[2022-10-04 16:37] liammulh opened #314 "Handle case where long strings present gender issues"
Rosetta doesn't have control over strings in the sims, but we should establish a protocol for having long strings where grammatical gender issues might crop up.

<hr/>

From a discussion on Slack:

@RVieyra:
Sim Translation Issue: I think this might be for Liam, but I'm not sure. The Number Line: Distance sim has a situation where the article ("the") is separated from the noun ("house," "person,"

[2022-10-04 16:49] liammulh commented on #314
Specifically, we need to fix strings like https://github.com/phetsims/number-line-distance/blob/81f61826456df3749eb83ebf16365373185c8d5a/number-line-distance-strings_en.json#L84.

We should probably make a PSA for sim devs once we've settled on a way to handle these types of strings.

[2022-10-07 20:48] mattpen opened #315 "Make sure email sends are up to date"
It looks like rosetta is sending automated emails using phetmail@colorado.edu.  We need to make a few updates.

- We should change the email server to `smtp.office365.com`
- We need to make sure that `starttls` is enabled and that it supports TLS 1.2
- We should authenticate with `phetmail@colorado.edu` and not just `phetmail` for the username.

I think this needs to happen at a fairly high priori

[2022-10-07 20:55] liammulh commented on #315
Looking at the code, I don't think rosetta is actually sending emails. It could if we wanted it to, but I don't think it is.

So I'm wondering if this work is necessary if we aren't currently sending emails.

[2022-10-07 21:18] liammulh commented on #315
I think it's @jbphet's call since he's the owner.

[2022-10-10 17:22] jbphet commented on #315
I certainly don't recall receiving any automated emails from Rosetta, at least not recently, so I'm not surprised that the code to send them is currently unused.  Let's just delete it, and if we decide that we need support for sending automated emails in the future, we will work with @mattpen then to make it happen.  I don't anticipate such a need soon.

I'll take care of removing the current code

[2022-10-10 19:20] jbphet commented on #315
The email-related code has now been removed.  Closing.

[2022-10-10 19:20] #315 closed

[2022-10-10 20:31] jbphet commented on #315
For the record, after I removed the email-related code, I check my local config file as well as those on the main server and the development server, and none of them had any values that appeared to be related to email support, so no modifications were necessary.

[2022-10-11 22:23] liammulh commented on #308
Done per https://github.com/phetsims/phet-io/issues/1874.

[2022-10-11 22:23] #308 closed

[2022-10-14 20:22] oliver-phet commented on #274
[Design mockups](https://drive.google.com/drive/u/2/folders/15ewte989-vcqOCBnG3nqaXMy8oG62TkZ) have been updated to reflect meeting yesterday!

[2022-10-20 22:42] liammulh commented on #288
Done.

[2022-10-20 22:42] #288 closed

[2022-10-21 21:11] liammulh commented on #289
Done.

[2022-10-21 21:11] #289 closed

[2022-11-11 22:54] liammulh opened #316 "Recently committed strings won't show up in translation utility for ~5 min."
In developing and testing Rosetta 2.0, @jbphet and I noticed that our recently committed strings weren't showing up in the translation utility immediately. That is, we would go into the translation form, make some changes, submit those changes, and then go back to the form expecting to see said changes to no avail. The old string would still be there. After a while, the new string would show up.

[2022-11-18 20:28] jbphet opened #384 "Create a "used strings" artifact from the build process for use by the translation utility"
One of the steps that the translation utility (Rosetta) current executes while presenting the translation UI to a user is to obtain the HTML of the sim being translated and extract a list of used string keys.  Since the sims can be pretty big, this can be time consuming, and results in a lot of wasted time and bandwidth since so little of HTML file is actually used.  It would be great if we could

[2022-11-18 20:29] liammulh opened #317 "Figure out how long extracting repo names and string keys from sim HTML takes"
As part of optimizing Rosetta, it would be nice to know how long it takes us to:

1. issue an HTTP request to get a sim's HTML,
2. extract the `REPO_NAME/stringKey` pairs from `window.phet.chipper.strings`, and
3. create more useful data structures based on what we extract in step 2.

See also https://github.com/phetsims/perennial/issues/288.

[2022-11-18 20:33] liammulh commented on #317
For generating the translation report, we would need to issue an HTTP request for each sim in a locale. As of this writing, there are 100 HTML5 sims. Suppose each sim is ~3MB. Then we would be transferring 300MB per translation report.

[2022-11-30 12:14] solaolateju opened #318 "The teaching resources tab open up preview"
Locale: Ar-MA
ID: 2646

A translator is unable to access the "teaching resources" tab. The preview page opens when clicked.
Here is a screencast/
[Translate-the-PhET-Website.webm](https://user-images.githubusercontent.com/18397749/204786030-69eacaf8-35c6-42f5-9869-98bac4910647.webm)

@liammulh @RVieyra

[2022-11-30 16:55] liammulh commented on #318
Rosetta is the HTML5 sim translation utility, not the website translation utility. @mattpen, which repo should this be in?