[2017-08-25 22:34] jonathanolson commented on #158
I've pulled chipper for Yotta statistics processing, so it will pick up and understand the additional locale.

[2017-08-25 22:36] oliver-phet commented on #158
Email to translator sent. Will update this issue once we hear back.

[2017-08-30 17:21] oliver-phet commented on #158
Translator replied:

[2017-08-30 21:43] mattpen commented on #158
I looked into the website interaction today.  I don't think this should affect Java/Flash sims at all.

It also looks like the interaction with the build-server *should* go smoothly.  The website should return a 200 response without an error, even though the locale is not supported.

However, Localized Simulations depend on `java.util.Locale`, so there will be some quirks on the website that will

[2017-08-31 16:42] jbphet commented on #158
@mattpen - I've got a couple of followup questions.  You said,

Can you elaborate a bit?  Would these quirks be significant for all users, only for those looking for Lakota translations, or what?  In your opinion, would it be necessary to resolve these before publishing Lakota-translated simulations?

Also, you said:

Can you provide a rough estimate of how much time it would take?

Thanks.

[2017-08-31 16:57] mattpen commented on #158
Anywhere we display the full name of the language of a sim, the label for Lakota sims will be blank.  It looks like it shouldn't cause any crashes, but will just have blank labels.

* One example would be [the translated sims page](https://phet.colorado.edu/en/simulations/translated), there would be a line with no languages and therefore no clickable link to the lakota sims.
* Another example is t

[2017-09-07 16:10] oliver-phet opened #159 "Translation utility 'Proxy Error'"
Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request POST /translate/sim/projectile-motion/fa.

Reason: Error reading from remote server

[2017-09-07 16:12] oliver-phet commented on #159
@mattpen said on 9/6:

[2017-09-07 22:34] jbphet commented on #159
I've restarted rosetta and it appears to be working now, and I'll keep an eye on it to make sure that translations are coming in again.

Here is what I found prior to doing the restart: I examined the logs, and it appears that rosetta was somehow getting stuck when trying to submit strings.  There were a number of entries in the log about queuing strings for submission, followed by nothing.  Here'

[2017-09-07 22:50] oliver-phet commented on #159
@jbphet should I contact translators to let them to to retry?

[2017-09-07 23:06] jbphet commented on #159
Here is a list of the submissions that failed (each of these was attempted multiple times):

+ expression-exchange_eu
+ expression-exchange_hu
+ molecule-polarity_hu
+ projectile-motion_es
+ projectile-motion_es_MX
+ projectile-motion_es_PE
+ projectile-motion_fa
+ projectile-motion_hu
+ unit-rates_hu

The locales represented are:

+ es
+ es_MX
+ es_PE
+ eu
+ fa
+ hu

@oliver-phet - that's only si

[2017-09-07 23:48] jbphet commented on #159
I spent some time reviewing the code, and my best guess is that GitHub was down or having problems and the attempt to get a GitHub client failed, and rosetta doesn't handle this.  If we see this issue again, I could add some additional logging information that explicitly states whether the client was successfully retrieved, since there is no such logging at this time.

The code is not particularly

[2017-09-07 23:48] jbphet commented on #159
I'm leaving this assigned to me and @oliver-phet for now until we can make sure that translations are being successfully submitted again.

[2017-09-08 15:48] oliver-phet commented on #159
@jbphet do you have a list of usernames that attempted to submit? We have multiple translator emails for some of those locales.

[2017-09-08 16:33] jbphet commented on #159
@oliver-phet  - I'll figure this out and provide them to you in a separate email.

[2017-09-08 21:31] jbphet opened #160 "validation needs to be updated to handle {{}} pattern"
We recently added support for a different pattern format that uses two curly braces instead of one, and I don't recall updating the validation in rosetta to check this, and I just saw an instance where it looks like a pattern was incorrectly translated and submitted.  It looks like this (from the game screen of Expression Exchange, locale = zh_CN):

![image](https://user-images.githubusercontent.c

[2017-09-08 22:12] oliver-phet commented on #159
I've received confirmation from 1 translator that things are now working.

[2017-09-13 18:58] oliver-phet commented on #159
@jbphet Closing this issue for now since it appears to be resolved.

[2017-09-13 18:58] #159 closed

[2017-09-28 17:25] oliver-phet commented on #141
In dev meeting 9/28 AP mentioned that adding support for accessibility strings is not a priority.

[2017-09-28 17:42] mattpen commented on #153
We should have a plan for integrating this as part of chipper:2.0 work, although it could be implemented afterwards.

[2017-09-28 17:49] jbphet opened #161 "Add trigger build route to Rosetta 2.0"
Every once in a while we need to make a fix to something that a translator submitted, and currently the only way to do this without ending up as a credited translator on the web site is to make direct changes to the string files in the babel repo.  We should have a way to make such modifications without ended up credited on the web site.  This will probably require work on the web site side as wel

[2017-10-23 18:38] pixelzoom commented on #130
SubSupText no longer exists, it was replaced by RichText.  So this issue likely applies to RichText now.

[2017-11-02 18:44] pixelzoom opened #162 "identify chipper:2.0 issues in rosetta"
11/2/17 dev meeting: Create this issue, assign to @jbphet.

[2017-11-07 17:23] jbphet commented on #154
I've added the chipper:2.0 label for this, but I feel like it is low priority relative to a lot of the other work that will be done at the same time.  We should do this if it's reasonably easy, otherwise it can be deferred.

[2017-11-07 17:27] jbphet commented on #131
It wouldn't take much work to improve this and document the approach, so I'm marking it for including in the chipper:2.0 effort.

[2017-11-07 17:31] jbphet commented on #119
@ariel-phet - is this important enough to include in the chipper:2.0 effort?

[2017-11-07 17:33] jbphet commented on #162
Done, closing.

[2017-11-07 17:33] #162 closed

[2017-11-07 21:02] mattpen commented on #154
The website does not use this table so it isn't causing any problems at the moment.

[2017-11-07 21:23] ariel-phet commented on #119
@jbphet no, I don't think so, since so far it has not been an issue

[2017-11-08 16:06] jbphet commented on #119
Cool, I agree, I'll leave it open, unassigned, and low priority.

[2017-11-09 19:18] jbphet opened #163 "Trim leading and trailing whitespace added by translators"
The string plugin is being modified to remove any leading white space from strings.  It was suggested that rosetta trim these too.  Strictly speaking, it's not absolutely necessary to have rosetta do it since the string plugin will prevent any problems, but it would be nice to make it so that the strings that translators supply are exactly what is shown in the sim.  It will also help keep the sim

[2017-11-14 20:04] jbphet commented on #158
@oliver-phet - did we ever receive a list from the individual who requested this?  He/she said that they'd let us know their preferences soon.

[2017-11-14 20:06] jbphet commented on #160
This may be a duplicate of #155, and once I start working on this I've figure out if they are and will update accordingly.

[2017-11-14 20:11] oliver-phet commented on #158
I still haven't heard anything back from this user (last pinged 9/18).

[2017-11-14 20:17] jbphet commented on #89
@mattpen - this issue was logged before the switch to the new phet-server and systemctl.  Is this being done for these logs now?

[2017-11-14 20:19] jbphet commented on #90
The logs have been extremely useful in tracking down issues, so I don't want to trim them down too much, but they are indeed a bit verbose.  I think I should take a pass through them at the end of the chipper:2.0 effort and see if there are some superfluous messages that could go.

[2017-11-14 20:21] jbphet commented on #117
@jonathanolson - is this vulnerability still present in the sim code and, if so, do you think that I should I work to address this during the chipper:2.0 effort?

[2017-11-14 20:27] jbphet commented on #114
I just check through the latest log, and this error is not appearing anymore.  My guess is that this behavior is closely related to #105 since the symptoms sound essentially the same, and this was just a particular way in which the GitHub interaction was failing.  I'm going to close this issue and track the work related to GitHub interaction under #105.

[2017-11-14 20:28] #114 closed

[2017-11-14 20:31] jbphet commented on #103
@arouinfar - I think this may have been resolved.  I just looked at the Persian translation that is currently live on the PhET site, and it looks great (to my untrained eye).  Is this still a problem?  If not, please feel free to close.

[2017-11-14 20:36] jbphet commented on #96
@phet-steele - is this still an issue?  If so, it doesn't seem to me like it would be something to put on the list for chipper:2.0, but please let me know if you disagree.

[2017-11-14 20:44] jbphet commented on #43
@ariel-phet - I'm reviving this discussion for the chipper:2.0 effort.  In my opinion, we should not update all simulations that use a common string when said string is updated.  I'm saying this not so much because I don't like the idea - I'm rather neutral on it - but it would take some effort to implement this, would likely cause a lot more builds and version updates to occur, and wouldn't add a

[2017-11-14 20:57] jbphet commented on #66
@ariel-phet - any opinion as to whether this should be addressed as part of chipper:2.0?  While it would be an improvement, I don't think that it has been much of an issue for translators, so I'm not very inclined to put this on the list.

[2017-11-14 21:00] pixelzoom commented on #43
@jbphet said:

Adding to the complexity is that we'd need to figure out which common-code strings a sim actually uses -- e.g.., we wouldn't want to update a sim just because it uses scenery-phet and a scenery-phet string was updated.

So if we _don't_ update, then the latest common strings would only be picked up when we explicitly republish a sim, correct?

[2017-11-14 21:16] arouinfar commented on #103
@jbphet I do not think the issue has been resolved. The [Arabic translation](https://phet.colorado.edu/sims/html/molecules-and-light/latest/molecules-and-light_ar.html) of MAL uses the `molecularNamePattern` of `({1}) {0}` which does not display correctly. In particular, water is handled pretty egregiously:
![image](https://user-images.githubusercontent.com/8419308/32805249-1dd1cc46-c946-11e7-82dd

[2017-11-14 21:19] arouinfar commented on #103
Parentheses in the About dialogue now appear to be handled correctly, however.
![image](https://user-images.githubusercontent.com/8419308/32805488-ced4fc98-c946-11e7-989a-ec5ac5f8e328.png)

[2017-11-14 21:23] ariel-phet commented on #66
@jbphet yes I would continue to punt for the moment, bigger issues for chipper 2.0

[2017-11-14 21:30] ariel-phet commented on #43
@jbphet I think I am in agreement that we should likely close.

In particular, we want to in some sense minimize version updates (especially as our app popularity grows).

And I think you are correct @pixelzoom, although wouldn't the latest common strings get picked up when a translation is updated. So lets say update a Spanish translation in terms of sim specific strings, won't that trigger a bui

[2017-11-14 21:31] ariel-phet commented on #43
@pixelzoom I guess I think of a new translation being built as not us "explicitly republishing"

Or are you saying, those common strings in a sense would not exist because the sim is using old versions of the repos from which they were taken?

[2017-11-14 22:40] pixelzoom commented on #43
I don't know anything about what happens when a translation is received.  But I would think that when an update for an existing translation is received, that had would trigger building a new version of the sim (with next version id), otherwise Spanish users won't be notified of the update.  And in that case, yes, the latest Spanish common-code strings would come along for the ride.

[2017-11-14 22:56] pixelzoom commented on #43
@ariel-phet asked:

I believe that translated strings are always taken from babel master, not a branch.  But should confirm that with @jbphet.

[2017-11-14 23:42] ariel-phet commented on #43
@jbphet if translated strings are always taken from master (including common strings), feel free to close. If not please assign back to me for further discussion.

[2017-11-15 02:52] jonathanolson commented on #117
This is checked by XSS query params and fuzzing, not an issue anymore.

[2017-11-15 02:52] #117 closed

[2017-11-15 17:05] jbphet commented on #43
Yes, common code strings are always taken from master - no branches are created.   In one of the comments above, @pixelzoom said, "[T]he latest common strings would only be picked up when we explicitly republish a sim, correct?"  The answer is yes, but to be clear, there are two ways that I'm aware of that would cause an explicit republication:

1. A translator submits an update to the simulation'

[2017-11-15 17:53] jbphet commented on #103
Thanks for the update @arouinfar - I'll put this on the list of issues to try to address during the chipper:2.0 effort.

[2017-11-15 17:56] pixelzoom commented on #43
@jbphet can you clarify?  When a translator submits an updated translation, does that result in the sim being published with a new version id?  Or is the sim republished with the current version id?

[2017-11-15 18:10] jbphet commented on #43
The sim is re-built with the same version ID an only the strings change.  Version IDs remain consistent with the English version.

[2017-11-15 18:52] pixelzoom commented on #43
Yikes, that seems very wrong (and very English centric).  If a non-English user has a downloaded version, they will not be notified that their version has been updated with a new translation.  And presumably this affects the PhET apps too.

[2017-11-16 15:56] jbphet opened #164 "Upgrade to Express 4"
@mattpen noted in https://github.com/phetsims/perennial/issues/47#event-1344059690 that Express 4 is available and has been for a while.  For future maintainability, we should upgrade the version that Rosetta is using, which is 3.4.8.

[2017-11-16 15:57] jbphet commented on #164
It would probably be wise to do this very early in the chipper:2.0 work, so I'm making it top priority.

[2017-11-16 16:16] jbphet commented on #43
Assigning to @ariel-phet to decide if he also thinks that the decision that was made while back to not trigger version number changes, and thus not cause update notifications, for changes to non-English translations "seems very wrong".  This could potentially impact our version number scheme, so should be decided fairly quickly, since it could impact other work being done for the chipper:2.0 effor

[2017-11-16 21:01] mattpen opened #165 "Change calls to build-server to use POST data"
The main problem is described in phetsims/perennial#39.  We need to update the calls to the build-server to include parameters in a post data json object rather than as query parameters, much like the changes to chipper here: https://github.com/phetsims/chipper/commit/504a620f9568205cf0b014600d99ce830e98ec78.

@jbphet - We'll support the old query parameter API for a while so this isn't top priori

[2017-11-17 16:55] ariel-phet commented on #43
A question for @mattpen - my understanding is that the apps rely on meta data from the website that involves "published time" not the version id.

[2017-11-17 17:17] mattpen commented on #43
Currently the apps will download a new simulation if the hash of the English file changes, it's not dependent on build time or version id.  Presently we do not support localized sims in the app.

We are currently tracking the translate time of each localized sim in the website database and providing this time in the Metadata API.

The plan for including localized sims in the app is that they will

[2017-11-17 17:31] ariel-phet commented on #43
@jbphet @pixelzoom since the plan is to use the translate time for the apps, I think the current version id scheme is fine (in my opinion). It seems to me to keep things a bit cleaner...that way the "all.html" version id will always be in lockstep with the published version.

[2017-11-20 20:27] jbphet commented on #158
I'm going to unassign this and set the priority to deferred.  If the translators get back to us, I'll assign and will increase the priority, and we can work with them to get the sims into shape for them to translate.  If they don't, it's just not a good use of our time to do anything more on this.

[2017-11-20 20:52] jbphet commented on #164
On https://expressjs.com/en/guide/migrating-4.html, they say:

[2017-11-20 22:30] jbphet commented on #164
I followed the guide that can be found in the link in the comment just above, and it was a fairly quick process, requiring only a few minor changes to the code.  I tested on ox-dev, and verified that I could log in, make changes to a translation and test it (using the "Test" button), save strings in the temporary DB, and submit string and have them show up in babel.  Since that all worked, I went

[2017-11-20 23:24] jbphet opened #166 "update dependencies"
While working on #164 I noticed that a lot of the dependencies used by rosetta have newer versions available (not surprisingly), and thought it would be good to update all dependencies while this is being worked on.

[2017-11-21 17:07] jbphet commented on #164
We received several translations overnight, and all went through the process fine, so I think it is safe to conclude that the upgrade worked.  Closing.

[2017-11-21 17:07] #164 closed

[2017-11-21 21:10] jbphet commented on #166
I've done this update, and have tested it on ox-dev, but I'm not going to deploy it to the main server until after the Thanksgiving break since I won't be around to fix things if this causes problems.

I was unable to update the version of `pg`.  We are using "^4.5.7" and the currently available version is 7.4.0, so we are quite a ways behind, but I tried updating and it introduced problems with t

[2017-11-21 21:14] jbphet opened #167 "replace pg-query"
pg-query doesn't seem to have much support - it's at version 0.11.0 and hasn't been updated for a long time.  I tried to update pg to a newer version, but it caused problems with pg-query, and I had to revert (see https://github.com/phetsims/rosetta/issues/166#issuecomment-346162042).  I think the only way that we will be able to update pg - which would be a good thing to do - is to replace pg-que

[2017-11-21 21:44] jbphet commented on #160
I've confirmed that this is a duplicate of #155 - closing.

[2017-11-21 21:44] #160 closed

[2017-11-27 16:53] pixelzoom commented on #43
The plan for triggering app dates sounds fine.

But I'm not on board with what this means for sim updates in general. My understanding is that the "Check for Updates" feature within sims is based on version id. (@jonathanolson correct me if I'm wrong.)  So if you update a translation by regenerating the html file without changing the version id, then users of that translation will NOT be notified

[2017-11-27 17:10] jbphet commented on #43
If we're relying purely on the version ID and the file name that is based on it to decide about updates, I think we should consider changing this.  It forces us to try to put what is, IMO, too much information in the version ID.  I'd be up for having some piece of meta data that is either embedded in the built sim, available from the web site's metadata, or both, that could be used to make additio

[2017-11-27 17:35] pixelzoom commented on #43
Re @jbphet's comment in https://github.com/phetsims/rosetta/issues/43#issuecomment-347252364...   We'd also need to change the "Check for Update" user interface, otherwise the user will see the nonsensical (for example) "You have version 1.1.0, a new version 1.1.0 is available."

[2017-11-27 17:55] jonathanolson commented on #43
Our server gets to decide whether the sim is considered "out-of-date", see https://github.com/phetsims/joist/issues/189#issuecomment-112884265 for more on how the update feature works.

[2017-11-27 18:03] pixelzoom commented on #43
To further clarify https://github.com/phetsims/rosetta/issues/43#issuecomment-347260570 ...
`UpdateDialog` (by calling `UpdateNodes.createOutOfDateDialogNode`) displays these 2 strings (from joist-strings_en.json) when an update is available:

[code]

So the user will see the same version id for both the current and new version, for example:

Your current version is: 1.1.0.

This is confusing and

[2017-11-27 18:44] jonathanolson commented on #43
Ahh sorry, I think I misunderstood.

So we want to notify the user of updated translations to their locale, but our current UI for that would show a confusing message?

Presumably the website or some tooling would need to have a complete history of every build timestamp, and which locales were updated.

[2017-11-28 18:37] jbphet opened #168 "switch to use automated account for submissions to babel"
Rosetta stores submitted strings in `phetsims/babel`, and it currently uses my GitHub account to do so.  This was done because at the time Rosetta and babel were created, we believed that automated accounts were not allowed.  Either this has changed, or we misunderstood the constraints, but based on what I'm seeing here - https://developer.github.com/v3/guides/managing-deploy-keys/#machine-users -

[2017-11-28 18:52] jbphet commented on #155
This has been added to the code and tested on my local machine and on phet-server-dev.  As of this writing, it is not deployed to phet-server.  My plan is to deploy several new features and verify them all at that time.  This will remain open until I've verified it on the main site.

[2017-11-28 20:35] jbphet commented on #105
I'm starting to implement a solution for this issue.  As a first step, I wanted to be able to make sure I can replicate the on the existing code.  Below are the steps that I went through to do this.  It was done on ox-dev, which is set up to push string changes to the "tests" branch of babel.  As a side note, we've been using the local "ab" (Abkhazian) because it's the first locale on the list, wh

[2017-12-11 17:22] jbphet commented on #90
One idea would be to investigate using the 'debug' setting for the logger, e.g:

[code]

This might enable us to turn the amount of information up or down as needed when working on debugging certain behaviors versus normal day-to-day operations.

[2017-12-15 22:59] jbphet opened #169 "how should functions that return promises be handled in JSDoc?"
I'm working on some code that uses native JavaScript promises and `async/await`, and I'm not sure how to document the return types in JSDoc.  Since this is new for PhET, this discussion may well set the standard for how this is done going forward.

Looking around online, it seems like there isn't a general consensus on this (see https://github.com/jsdoc3/jsdoc/issues/509 and, specifically, https:/

[2017-12-16 00:21] samreid commented on #169
Where can I see context for this?  I searched `Download data from the specified URL.` across master and didn't find anything.

[2017-12-16 01:24] jonathanolson commented on #169
Including the type of the resolved value sounds great. Not sure about the utility of reject types. I’m switching to only using Error subtypes, sometimes including custom subtypes (see execute.js in perennial master). This would be nice to optionally document, but specifying “Error” everywhere sounds like something I’d want to avoid.

[2017-12-17 21:47] zepumph commented on #169
@jonathanolson I agree. In the last dev meeting @mattpen seemed to be on the same page as you. If there is a specific `Error` subtype that is worth documenting/is custom, then we though that we could use `@throws` to dictate that.  Something like:

[code]

I'm not sure if the `@throws` type would be the Error subtype itself, or a Promise of type Error subtype. The alternative marking would be:
`@t

[2017-12-18 16:26] jbphet commented on #169
@samreid - for a specific example, please see `LongTermStringStorage.getStrings`.

[2017-12-18 18:10] samreid commented on #169
Thanks for the context, I don't have anything to add beyond what @jonathanolson and @zepumph and @jbphet said.

[2017-12-18 18:21] mattpen commented on #169
I think `@throws {Promise.<HasNoFriendsForPartyError>}` is preferable over `@throws {HasNoFriendsForPartyError}`.  The former instance indicates that the error can be thrown asynchronously with Promise.reject, whereas the latter looks like it only throws synchronous errors

[2017-12-18 21:35] jbphet opened #170 "migrate to new build server API"
The build server is updating its API to use HTTP POST, rosetta should use this, see https://github.com/phetsims/perennial/issues/56.

[2017-12-19 17:21] jbphet opened #171 "get meta-data for unpublished sims via metadata API"
As of this writing, metadata such as version number is not available via the metadata API for unpublished sims like chains and example-sim.  This is a bit of an issue for rosetta, since it uses these sims for testing.  An issue has been created to make this data available using the usual URL plus a query parameter, see https://github.com/phetsims/website/issues/658.  Once this capability is implem

[2017-12-19 17:22] jbphet commented on #171
Marking as deferred until the changes to the web server are in place.

[2017-12-20 18:45] jbphet opened #172 "add phet-io to build request for sims that support it"
A request has been made to add the phet-io brand to the list of build targets when requesting a new translation build, but this should only be done for sims for which phet-io is supported.  See https://github.com/phetsims/perennial/issues/53 for the history of why this is needed.

[2017-12-20 18:47] jbphet commented on #172
The proposal on the table for how rosetta figures out whether the phet-io brand is supported for a given sim and version is for it to pull the package.json file from GitHub.  Note that the file will need to be pulled from the appropriate branch.

[2017-12-21 16:54] pixelzoom commented on #169
In 12/14/17 developer meeting, we decided 2 things (1) create this issue, (2) defer decision until @jonathanolson is available.  So labeling for dev meeting.

[2017-12-21 16:56] pixelzoom commented on #169
Most of the above examples (https://github.com/phetsims/rosetta/issues/169#issue-282570380, https://github.com/phetsims/rosetta/issues/169#issuecomment-352288214) are using incorrect JSdoc syntax.  E.g. `{Promise<string>}` should be `(Promise.<string>}` -- not the missing '.'

[2017-12-21 17:29] jonathanolson commented on #169
So use of `@throws` is interesting. Note that if you throw an error in an async function, it rejects the promise with that error (instead of having the throw propagate normally). It definitely doesn't throw a `Promise`. If we're going to use that to document promise rejection types, I'd prefer `@throws {HasNoFriendsForPartyError}`.

[2017-12-21 17:32] jonathanolson commented on #169
For example, perennial's execute.js would have the documentation:
[code]

[2017-12-21 17:35] mattpen commented on #169
Perhaps we should reserve `@throws` for syncronous exceptions and use `@reject` or `@rejects` for rejected promises, as in https://github.com/jsdoc3/jsdoc/issues/509?

[2017-12-21 17:37] pixelzoom commented on #169
@jbphet is out this week, and he started this issue.  So does this need to be deferred to a future dev meeting?

[2017-12-21 18:20] pixelzoom commented on #169
12/21/17 dev meeting: Deferred until @jbphet is back.

[2017-12-21 18:23] pixelzoom commented on #169
12/21/17 dev meeting:

Go with what @jonathanolson proposed in https://github.com/phetsims/rosetta/issues/169#issuecomment-353410334 for now.

Revisit when @jbphet returns, to see if he has any objections.

[2017-12-21 18:55] pixelzoom commented on #169
@ariel-phet I removed the "deferred" label so that @jbphet reviews this when he returns.

[2017-12-28 17:54] jbphet commented on #169
I would prefer @rejects instead of @throws (as Matt suggested in https://github.com/phetsims/rosetta/issues/169#issuecomment-353411090d), since it is always a promise that is returned and exceptions are not truly thrown.  So, I'd like to modify the proposal to:

[code]

[2017-12-28 19:26] jonathanolson commented on #169
The above proposal in https://github.com/phetsims/rosetta/issues/169#issuecomment-354328159 sounds great to me.

[2017-12-28 19:27] pixelzoom commented on #169
I have no experience with promises, but I'll give https://github.com/phetsims/rosetta/issues/169#issuecomment-354328159 a +0.5.

[2017-12-28 22:59] jbphet commented on #105
I believe I have fixes in place for this, but I'm blocked from deploying it at the moment because I've also changed the build request (see https://github.com/phetsims/rosetta/issues/165), and that new build request isn't working on ox-dev and isn't deployed to phet-server.  I'm adding @mattpen as an assignee to remind him to let me know when I can test using ox-dev and when we can try deploying to

[2017-12-29 03:15] samreid commented on #169
Sounds good, you have my upvote.

[2017-12-29 17:32] jbphet commented on #168
@oliver-phet said that he has created a machine account, and the info is in the usual spot.  I should check this and possibly use it when I get to this issue.

[2018-01-02 23:13] jbphet opened #173 "Prevent testing if fields don't validate"
Strings are currently prevented from being submitted via the "Submit" button if they don't pass validation, but while working with me on #139 @phet-steele noticed that the it is still possible to initiate a test with the "Test" button in this case.  It would be better if tests were also disallowed.

[2018-01-07 21:19] emily-phet commented on #132
Translation of a11y strings not a priority for now. Will seek dedicated funding for this in the future.

[2018-01-08 17:24] oliver-phet opened #174 "'Save' translation is not saving strings"
Originally reported by a translator on Jan 8, 2018.

I have been able to reproduce the problem by translating a string, clicking Save, navigating away and back to the saved translation and the translated string is gone.
![image](https://user-images.githubusercontent.com/5090275/34682959-d9e4fb28-f45d-11e7-821c-d67ec71cf4ea.png)
![image](https://user-images.githubusercontent.com/5090275/34683036-18

[2018-01-08 17:27] ariel-phet commented on #169
@jonathanolson will be updating relevant code with this style of documentation

[2018-01-08 17:30] jonathanolson commented on #169
Also to note, the standard rejection would be of type `{Error}`, but since that would be included in every async function, it should be omitted. Only include the `@rejects` if it is for a non-standard error type.

[2018-01-08 17:42] phet-steele commented on #174
If I remember correctly while testing this ages ago, this was prone to caching issues and/or a slow response from github. I would see my saved strings if I did a hard refresh or waited a few minutes. Again, this was a long time ago, but @oliver-phet it might be worth asking if they have tried a hard refresh.

[2018-01-08 20:40] jbphet commented on #174
@phet-steele - saved strings don't go into GitHub, they go into a DB on phet-server.  Only submitted strings are stored to GitHub.

[2018-01-08 21:05] jonathanolson commented on #169
Applied the documentation changes, closing.

[2018-01-08 21:05] #169 closed

[2018-01-08 21:28] jbphet commented on #174
I'm able to duplicate this.  I tested on Chains+Abkhazian, and the user is correct that strings that are modded and saved are not being restored.  I checked the logs and didn't see anything obvious, so I don't know the root cause yet.  I'm going to mark this for the Chipper 2.0 effort, at medium priority.

[2018-01-08 21:40] jbphet opened #175 "boxes missing on live version of utility"
While working on another issue, I noticed that the live version of the utility looks like this:

![rosetta-no-boxes](https://user-images.githubusercontent.com/3082831/34693655-ca89aa10-f481-11e7-8562-4587a6586648.PNG)

...whereas the versions I've been testing look like this:

![rosetta-boxes](https://user-images.githubusercontent.com/3082831/34693673-d7f60806-f481-11e7-9472-51095b17f6d5.PNG)

Not

[2018-01-08 22:18] jbphet commented on #175
I've tracked this down.  Some of the changes from the work I've been doing for Chipper 2.0 have "leaked" to the server, so the HTML and CSS files are not compatible at the moment.  I think this is because rosetta loads the HTML templates at startup, but loads the CSS files on demand, and it hasn't been restarted lately.

I should change my workflow to prevent this from happening.  My plan is to ba

[2018-01-09 00:16] jbphet commented on #175
I have moved all of the changes for chipper 2.0 to a branch (creatively named "chipper-2.0) and reverted master to a point in time before these changes started.  I manually updated `simInfoArray`, since some new things had been added to it.  I pulled the reverted master branch on to phet-server, updated npm, and restarted rosetta.  The boxes look good again.  I test a build of chains, and it appea

[2018-01-09 00:18] jbphet commented on #174
I found out that some of the changes for chipper 2.0 have been leaking on to the server, so I moved the changes to a branch and reverted the server code.  See https://github.com/phetsims/rosetta/issues/175 for more info on this.  These changes appear to have fixed the issue with saving.

@oliver-phet - can you request that the user who told us about this issue try it again and see if it is now wor

[2018-01-09 18:11] jbphet commented on #155
Reducing priority so it doesn't show up on my "short list".

[2018-01-12 19:22] mattpen commented on #105
ox-dev is ready and available for testing.

@jbphet and I ran some tests on Friday, 1/5.

[2018-01-15 20:16] #175 closed

[2018-01-16 20:46] phet-steele opened #176 "Parsing error: The keyword 'const' is reserved"
ALSO: @jonathanolson what's up with the weird line at the top?:

`[4mRunning "lint-everything" task[24m`

[code]

[2018-01-16 22:37] jonathanolson commented on #176
Looks fixed by https://github.com/phetsims/rosetta/commit/d623cd9ea76c931ffa76840369ce6f84ebd21c77

And the question marks are for the ANSI escape char (those are escape sequences that produce color on the console).

[2018-01-16 23:05] phet-steele commented on #176
Fixed according to bayes

[2018-01-16 23:05] #176 closed

[2018-01-17 19:39] jbphet commented on #116
I have added code to prevent chains, bumper, and example-sim from showing up for translators that are not PhET team members.  I just tested, and it seems to be working well.  Closing.

[2018-01-17 19:39] #116 closed

[2018-01-20 03:45] mattpen commented on #153
@ariel-phet - are we still planning to add this as part of chipper-2.0?  It would probably be nice to have it up for a few weeks at least before we publish the update for the ios-app.

[2018-01-24 01:44] ariel-phet commented on #153
@mattpen yes, I think we would like this as part of finishing off chipper 2.0, but I think registration pages takes precedence.

[2018-01-25 17:23] mattpen commented on #165
@jbphet - I thought this was implemented.  Can you confirm?

[2018-01-25 17:40] pixelzoom commented on #139
Is this a duplicate of https://github.com/phetsims/rosetta/issues/100?

[2018-01-25 17:40] pixelzoom commented on #100
Is this a duplicate of https://github.com/phetsims/rosetta/issues/139?

[2018-01-25 22:17] jbphet commented on #165
Yep.  Closing.

[2018-01-25 22:17] #165 closed

[2018-01-25 22:22] jbphet commented on #100
A fix has been implemented and tested for this, and there is more information available under #139.  Closing.

[2018-01-25 22:22] #100 closed

[2018-01-25 22:22] jbphet commented on #139
@pixelzoom - yes it is, as noted above in https://github.com/phetsims/rosetta/issues/139#issuecomment-250575777.  I'll go ahead and close that one, but will leave this one open because I want to do a little more testing before closing.

[2018-02-08 18:04] pixelzoom opened #177 "branch: chipper-2.0"
Identified by `print-branches.sh`. @jbphet please describe.

[2018-02-08 18:04] pixelzoom opened #178 "branch: ios-i18n"
Identified by `print-branches.sh`. @jbphet please describe.

[2018-02-08 18:04] pixelzoom opened #179 "branch: mobile-app"
Identified by `print-branches.sh`. @jbphet please describe.

[2018-02-08 18:05] pixelzoom opened #180 "branch: phet-server"
Identified by `print-branches.sh`. @jbphet please describe.

[2018-02-08 18:05] pixelzoom opened #181 "branch: test-fixes-for-overwrite-issue"
Identified by `print-branches.sh`. @jbphet please describe.

[2018-02-08 18:06] jbphet commented on #179
I don't know anything about this.  The commits appear to have come from @mattpen, assigning to him.

[2018-02-08 18:58] mattpen commented on #179
This branch is to handle adding the strings for the mobile apps to rosetta.

[2018-02-09 03:35] mattpen commented on #89
Rosetta output is now being sent to `/var/log/messages` and is rotated by rsyslog.  I do not believe the logs are being archived, so we only have access to about 2 months worth.

@jbphet - Is this acceptable or do we need to keep the history preserved in the peta library?

[2018-02-09 16:45] jbphet commented on #89
I think 2 months of logging info should be enough.  Let's go with that for now and we can revisit if we ever decide that more would be useful.

[2018-02-09 16:45] #89 closed

[2018-02-09 18:57] jbphet commented on #177
This branch was used for chipper-2.0 development, but has been merged in.  I've deleted it.

[2018-02-09 18:57] #177 closed

[2018-02-09 19:39] jbphet commented on #178
Looks like this was created and used by @mattpen, assigning to him.  The documentation should make clear what the distinction is between this branch and the `mobile-app` branch.

[2018-02-09 19:41] jbphet commented on #180
@jonathanolson has commits on this branch, and I'm not familiar with its history.  Reassigning.

[2018-02-09 19:51] jbphet commented on #181
I looked through the commits on this branch, and I made them, but I can't recall what it was all about.  The commits aren't referenced to a GitHub issue, which is unfortunate (my bad).  At the time of this writing there are 27 commits on this branch that never made it into master, but most of them look like debug logging and such.  It has been about 2 years since the last commit, so I think it is

[2018-02-13 16:26] ariel-phet commented on #121
I think this qualifies more for medium priority, it is a nice enhancement

[2018-02-20 19:05] jbphet commented on #173
This has been added and deployed.  @phet-steele - please give it a quick test and close this issue if it works.

[2018-02-20 19:39] jbphet commented on #139
The test feature has been changed to use an HTTP Post message, and rosetta receives the request and replaces the strings in the live version of the sim with those in the translator's form.  This appears to work well in almost all cases.  There is one case that I believe still isn't quite right for RTL languages.  The follow screenshots and text describe the problem using the Molecules and Light (M

[2018-02-21 16:31] jbphet commented on #174
@oliver-phet - Any word?  Are we able to close this issue?

[2018-02-21 16:33] jbphet commented on #155
This has been deployed to the production server and is in use.  This should be verified in conjunction with #173.  Assigning to @phet-steele.

[2018-02-21 16:45] oliver-phet commented on #174
Sorry, this fell off my radar. I just pinged the translator and will update this issue once I hear back.

[2018-02-21 16:52] #174 closed

[2018-02-21 17:44] jbphet commented on #139
@jonathanolson and I discussed this via Zoom, and he recommended embedding specific directives in cases like this where we have text that always should be LTR inside a pattern, see the commit immediately above.

This feature should be fully implemented, assigning to @phet-steele to test drive and, if all looks good, close the issue.  Note that the parens issue in MAL won't be fully resolved until

[2018-02-21 18:10] mattpen commented on #171
@jbphet - The changes to the web server are now in place.  You will need to add the query parameter `include-unpublished=true` and authenticate using the username `token` and the password is the `serverToken` key from phet-admin's build-local.json.  LMK if you need any assistance when you set this up.

[2018-02-21 18:11] mattpen commented on #148
@jbphet - We should be able to use the metadata for this now, if it will help, as chains/example-sim/bumper are now all available.  See https://github.com/phetsims/rosetta/issues/171#issuecomment-367417895 for details.

[2018-02-21 18:31] jbphet commented on #171
Excellent - thanks for the update @mattpen, and I'll un-defer this issue.

[2018-02-21 18:32] phet-steele commented on #173
Works.

[2018-02-21 18:32] #173 closed

[2018-02-21 18:34] phet-steele commented on #155
Works great/

[2018-02-21 18:34] #155 closed

[2018-02-21 18:36] phet-steele opened #182 "Named placeholders could be colored"
Numbered placeholders have a blue color to them, while named placeholders are not colored. Would be a nice touch if named placeholders were also colored blue.

<img width="457" alt="screen shot 2018-02-21 at 11 35 54 am" src="https://user-images.githubusercontent.com/5863899/36498401-68045826-16fb-11e8-8b1e-9f0bf5fb8f21.png">

[2018-02-21 19:02] jbphet commented on #181
I have put a reminder on my calendar for this.

[2018-02-21 19:20] phet-steele commented on #139
This is working well. Tried what the original user was doing (LSR + Hungarian) and there was no problem while "Test"-ing

[2018-02-21 19:20] #139 closed

[2018-02-21 19:30] jbphet commented on #105
This has been deployed to the production server for over a month now with no PUSH FAILED messages.  Closing.

[2018-02-21 19:30] #105 closed

[2018-02-21 19:37] jbphet commented on #103
This has been addressed with work done for #100 and #139.  Closing.

[2018-02-21 19:37] #103 closed

[2018-02-21 19:39] jbphet commented on #170
This is done and has been deployed for about a month, and appears to be working well.  Closing.

[2018-02-21 19:39] #170 closed

[2018-02-21 19:40] jbphet commented on #166
The version with the updated packages has been running for about a month now and working well, so I think this can be safely closed.

[2018-02-21 19:40] #166 closed

[2018-02-21 19:47] jbphet commented on #34
I'm going to close this issue.  There is some metadata in the string entries in babel at this point, and we haven't had a need yet to add more, and this issue is over two years old.  We can create a new one if and when we decide other metadata is needed.

[2018-02-21 19:47] #34 closed

[2018-03-23 18:05] pixelzoom opened #183 "should variable names that appear in equations be translatable?"
In an equation like "_x_ + _y_ = 12", should the variables _x_ and _y_ be translatable?

This came up most recently in https://github.com/phetsims/equality-explorer/issues/50#issuecomment-375734200, and previously in (e.g.) https://github.com/phetsims/expression-exchange/issues/17 and https://github.com/phetsims/trig-tour/issues/88.

As I said in https://github.com/phetsims/equality-explorer/issue

[2018-03-23 18:15] pixelzoom commented on #183
@amanda-phet and I discussed this via Slack.

To see if anyone has translated variables, we looked at translation files for 2 sims: Function Builder and Graphing Lines.

In Function Builder, these locales translated "x" and "y".  The fact that changes appear for both "x" and "y" suggests that they are deliberate.

| locale | "x" translation | "y" translation |
| -- | -- | -- |
| Greek (el) |  "X"

[2018-03-23 18:15] pixelzoom commented on #183
Assigning to @amanda-phet @ariel-phet @oliver-phet to move this issue forward.

[2018-03-27 15:12] oliver-phet commented on #183
I sent a slack to @amanda-phet on 3/24:

[2018-03-28 17:41] amanda-phet commented on #183
The greek translation for x is actually chi, so both x and y have been translated to chi and psi.
![image](https://user-images.githubusercontent.com/7852916/38046272-803a97f6-327c-11e8-94a9-b22f6db6e8c7.png)

@oliver-phet can you send the emails above that Chris suggested? For (1), I can help you word it if needed.

For (2), it would especially be useful to email the greek translator.

[2018-03-28 17:46] oliver-phet commented on #183
Sorry for not commenting earlier, I already emailed the greek translator... waiting to hear back.

[2018-03-29 01:59] ariel-phet commented on #183
Removing my assignment for now. @oliver-phet and I spoke about this, and he said that even if no current translators desire this ability, he would not be surprised if a locale comes along in the future that does want this ability. That seemed like a reasonable notion.

It will be curious what the Greek translator says, but I think I am generally leaning towards allowing variable names to be transl

[2018-04-03 19:56] jbphet opened #184 "errors in log due to active-sims file not found"
I'm seeing errors in the rosetta log that look like this:

[code]

I suspect it's because the active-sims file was moved a while back.

[2018-04-03 20:00] jbphet commented on #184
Yes, that's what the issue was.  I'm surprised it didn't cause more of a problem than it did.

I'll try to deploy this today and will keep an eye on it to make sure it's working correctly.

[2018-04-04 18:59] zepumph opened #185 "Pass a parameter through to systemctl for offline mode"
Currently offline mode is decided by a boolean in the top level of the app (`rosetta.js`), but that involved a commit to change the offline status. It would be nice to be able to pass it in as an option when starting rosetta like `sudo systemctl start rosetta --offline`. I'll do some research.

[2018-04-10 20:25] zepumph commented on #148
No objections! I see smithers, yotta, phet-office-mix, and the phet-io-website on that level as well. Good luck!

[2018-04-10 21:07] mattpen commented on #148
+1 for `/data/share/phet/rosetta`

[2018-04-11 16:42] jbphet commented on #184
I ended up not deploying this on Apr 3 2018 because some other things had changed in the translation code and I didn't feel like it was ready.  I'm going to be redeploying rosetta within the next week due to work to decouple it from simInfoArray, so I'll verify that this is fixed once that is done.

[2018-04-13 23:25] jbphet opened #186 "Retrieve localeInfo from GitHub instead of from a file"
There is an object used by rosetta currently called `LocaleInfo` that provides makes information about supported locales available to clients.  As of this writing, this is populated by reading a file out of the chipper repo, which is assumed to be in an adjacent directory.  It would be better if this information was pulled directly from GitHub.  This would remove the requirement the rosetta always

[2018-04-23 17:31] jbphet commented on #172
@zepumph and I discussed this during a review of open rosetta issues and decided to defer this until there are more stable phet-io releases and there is a demand for translated phet-io simulations.

[2018-04-23 17:36] jbphet commented on #168
Should be done now for both phet-server and ox-dev.

[2018-04-23 17:53] #131 closed

[2018-04-23 17:59] jbphet opened #187 "Migrate code to ES6"
Since rosetta runs on servers that we control, we've decided it is okay to use more modern ES6 features, such as async/await.  The code should be modified to take advantage of these features to make it more readable and maintainable.

[2018-04-23 19:29] jbphet commented on #168
I'm seeing the expected automated commits, so it looks like this is working.  Closing.

[2018-04-23 19:29] #168 closed

[2018-04-23 19:30] jbphet commented on #148
Rosetta has moved and is now using metadata instead of simInfoArray.  Closing.

[2018-04-23 19:30] #148 closed

[2018-04-23 19:32] jbphet commented on #181
This is a duplicate of #129, and there is information in that issue about why the branch was needed.  Closing.

[2018-04-23 19:32] #181 closed

[2018-04-23 19:33] jbphet commented on #129
The associated issue has been closed for a while now, so I think it's save to delete this branch.  Will do so now.  Closing.

[2018-04-23 19:33] #129 closed

[2018-04-23 19:34] jbphet commented on #123
Rosetta is now using metadata instead of simInfoArray.  Assigning to @mattpen to eliminate the code in the build server that writes to simInfoArray and then remove the file from GitHub.

[2018-04-24 15:06] jbphet commented on #184
Rosetta was moved to its own space and redeployed yesterday, 4/23/2018.  I'll put a reminder on my calendar and check the logs in a week and verify that the problem described by this issue is resolved.

[2018-04-26 16:33] mattpen opened #188 "Not responding incident"
This morning during status rosetta was having some problems.  Web requests for https://phet.colorado.edu/translate were returning Proxy or 503 errors from varnish, indicating timeouts in the request to rosetta.  Steele was able to get in, but Diana, @zepumph, and myself were not.  I noticed the following error in the log several times:

[code]
I checked the status of the metadata and it seemed to

[2018-04-26 16:38] phet-steele commented on #188
No @mattpen I was not. You can access https://phet.colorado.edu/translate if you are not logged in (which I did), but attempting to log in gives the 503.

[2018-04-26 17:56] zepumph commented on #188
I can confirm that @phet-steele's UX was the same as mine.

[2018-04-27 17:09] jbphet commented on #188
I've gone through the log, and I'll summarize what went wrong, then propose a solution, than add more detail to justify my analysis (mostly in case in need to revisit this).

For some reason, rosetta was restarted on Apr 25 at 22:43:09.  As part of its startup process, it attempted to populate the `simData` object by retrieving and interpreting metadata from the website (this is a normal part of s

[2018-04-27 18:29] jbphet commented on #188
@mattpen - I did a little more digging, and the reason that rosetta restarted was that someone tried to log in, rosetta tried to validate their credentials, and the JSON response that came back was bad.  I will add error handling for this, but here is what I'm seeing in the log:

[code]

Does this give us any insight into what was happening when the restart occurred?

[2018-04-27 20:59] jbphet opened #189 "Log SHA at startup"
It would probably be a good idea to log the SHA for rosetta at startup so that we can more easily trace any problems that are found to a specific version.  This is important since there is no release process for rosetta - we generally just run the version on master.

[2018-04-30 16:54] mattpen commented on #188
@jbphet - I believe that this error occurred during a server restart for a website redeploy.  Are there any changes needed on the website side?

[2018-05-01 13:51] jbphet commented on #188
@mattpen - I don't think any server side changes are required, I just wanted to understand what triggered the problem in the first place, and your explanation makes sense.  I think I have a workable solution in place, and I've tested it a bit, but it's difficult to have much confidence until it has run for a while. I'll keep the issue open for a month and set reminders to check it periodically and

[2018-05-01 14:57] jbphet commented on #184
There have been no recurrences of this error in the log since the redeploy on 4/23/2018.  The problem appears to be resolved, closing.

[2018-05-01 14:57] #184 closed

[2018-05-07 22:40] jbphet commented on #188
It's only been about a week since the fix was implemented for this issue, but since we've received a number of translations (due to the publication of the Area Model sim suite) without any problems errors, I think it's safe to close this.

[2018-05-07 22:40] #188 closed

[2018-05-08 04:44] mattpen commented on #123
This was removed tonight.

[2018-05-08 04:44] #123 closed

[2018-05-17 23:23] zepumph opened #190 "Modularize Rosetta"
While I was poking around in this repo, I saw that, although `rosetta.js` isn't too big, there were some obvious modules that we could pull out. I think it looks clean if the express app main js file is mostly just routes. This is just a minor change, but @jbphet I hope you will step in if you think I'm implementing nonsense.

[2018-05-17 23:31] zepumph commented on #190
Let me know what you think @jbphet

[2018-05-18 00:44] zepumph opened #191 "Add ability to run all server tests at once"
Currently I see the route `/runTest/:testID?` but no way to run all of the unit tests in the `ServerTests.js` module. It would be nice to have a way to just iterate through all of these and run them all. This also seems like a high priority to me, because I want to have a good sense of how things are working/passing tests before I go messing with stuff.

[2018-05-18 00:49] zepumph commented on #191
@jbphet  how does that look to you?

[2018-05-18 01:47] zepumph opened #192 "Multiline text inputs go outside of their surrounding box"
In chrome and firefox I see multiline text and long words go outside of the bounding div that looks editable. Currently it is the worst on firefox we have:
![image](https://user-images.githubusercontent.com/6856943/40211953-f82dcbe4-59f9-11e8-8349-39233f0f76fa.png)

I witnessed this on the published site too. This is a minor issue, as it is purely UI related, but If we change the height and width

[2018-05-18 21:44] jbphet commented on #191
Sounds like a good idea.  I looked over the implementation and have a couple of comments:

+ I think it would be better to use consistent terminology for 'execute' and 'run', so I'd rather see the exported method names be 'runTest' and 'runAllTests' or 'executeTest' and 'executeAllTests'.
+ I think it would be better if the test summary had properties 'passedCount' and 'failedCount', since 'passed

[2018-05-18 21:50] jbphet commented on #192
Sure, go for it.  My experience with CSS and raw HTML is so limited that it's fine with me of others make changes like these without checking with me, just make sure you test such changes well, and bring in the QA team for additional testing if needed.

[2018-05-24 21:29] jessegreenberg opened #193 "Add flag to identify a11y strings in strings_*.json"
Hopefully this is the right place for this issue.

We have translatable strings in sim-strings_*.json, and all a11y strings in some file like SimA11yStrings.js. Separation is so that a11y strings are not translatable. We hope to have them translatable someday, but PhET can't do that work now.

In the meantime, it was recommended that we add some flag to string entries like
`accessible: true` or `v

[2018-05-24 23:36] zepumph commented on #193
Coassigning, @jbphet maybe we could pair on this? Or if you don't have time for it, I bet this could go into my a11y time, so I will be able to get to this sooner =).

[2018-05-25 15:51] jbphet commented on #193
I'd like to be involved in the initial planning on this, and then I think @zepumph can take it from there.  Since I'm not too clear on the priority of this, can either @jessegreenberg or @zepumph set up a meeting when it becomes time to get going on this and include me?

[2018-05-25 16:37] jessegreenberg commented on #193
I expect that strings will serve dual purposes. A `visible` type flag that can be removed might still be useful if we want to make a11y strings available for i18n on a sim by sim basis, rather than enabling all at once somewhere in rosetta.

This issue isn't critical, but the sooner it can be added the better so we don't keep creating SimA11yStrings.js files.

[2018-05-26 00:50] zepumph commented on #193
I think I am beginning to understand what @jessegreenberg is speaking about. @jbphet mentioned two situations:

1: not a11y string for visual text (I think we all agree on this)
2: anything used for a11y (this includes common code a11y strings)

I believe what @jessegreenberg is speaking to may be best described with an example. Sim 1 is published with a11y features that want to be translated. Sim

[2018-05-31 16:42] amanda-phet commented on #183
@oliver-phet any update from the Greek translator? Would be good to wrap up this issue.

[2018-05-31 16:43] oliver-phet commented on #183
I still haven't heard back (I pinged on 5/4).

[2018-05-31 16:44] amanda-phet commented on #183
Thanks.

It sounds like we will continue to leave variables translatable, but once we hear back about Graphing Lines we can close this issue.

[2018-05-31 19:49] zepumph commented on #187
I don't think this needs to be assigned to me, whenever I am in the repo, I am looking for places that would benefit from updating to es6+ practices.

[2018-06-08 19:03] amanda-phet commented on #183
I thought we were waiting on the greek translator to answer this question.

[2018-06-08 19:07] oliver-phet commented on #183
We should close this issue if we are waiting on the Greek translator. It's been over a month with multiple emails sent. I don't think we should plan on hearing back... but if we do we can reopen this depending on what they say.

[2018-06-08 19:08] amanda-phet commented on #183
OK.

[2018-06-08 19:08] #183 closed

[2018-06-27 19:17] jbphet commented on #193
Notes from Zoom discussion with @jessegreenberg, @zepumph, and myself on 6/27/2018:

+ Rosetta currently extracts the list of strings that need to be translated from the published version of the simulation.  The strings in the published sims do **not** include meta-data, they are a simple key-value mapping.  We kicked around the idea of changing this so that the metadata is included, but this woul

[2018-06-28 13:26] samreid commented on #193
A phet-brand build of Build an Atom is 1.8MB.  15% of that is 270KB.  For comparison, Node.js is 5160 LOC and 202KB.

Why can't PhET do that work now?  It will take us N hours to implement a workaround to suppress a11y strings vs M hours to provide a way to see and test a11y strings (along with all the strings).  How many hours do we have to work on this?

In the long run, we want all of the a11y

[2018-07-05 19:27] oliver-phet opened #194 "Check how translations are stored on the website database, add credit to all contributing translators"
How are translation credits being pulled from Github for display on the website translation credit page? https://phet.colorado.edu/en/for-translators/translation-credits/by-locale
It seems that only the user who submitted the translation most recently receives sole credit.

In developer meeting on 7/5 we decided we should be displaying the name and email for *all* users who translated at least one

[2018-07-05 20:58] jbphet commented on #193
This issue was reviewed in the 7/5/2018 developer meeting and we made decisions on three of the four items above.  Summarizing:

We should go with the approach of leaving the strings as they are in the sims and using the data from GitHub to determine whether a string is only for a11y.  This minimizes impact to the size and structure of sims, and the metadata isn't needed during runtime.  If there

[2018-07-05 21:00] samreid commented on #193
It would be nice to show something like the a11y-view, so that translators can see the a11y strings better.

[2018-07-05 21:11] jbphet commented on #193
@zepumph and @jessegreenberg - how would you like to proceed on actually moving the strings into the string files?  I was thinking that we'd log an issue per repo that currently has a11y strings in another file, but you guys are the experts so you should chime in.

[2018-07-05 21:16] jbphet opened #195 "Add temporary code to prevent display of a11y strings in Rosetta"
Some work is underway to move a11y strings into the strings files, see #193 (the are currently in a completely separate file).  Eventually, we will need to enhance rosetta to support translation of these strings, but for the short term we should add code that avoids displaying them to the translators.  As of this writing, there are no published sims what have a11y strings in their string files, bu

[2018-07-05 21:24] jbphet opened #196 "Add the ability to turn on support for a11y string translation on a per-sim basis"
Work is being planned for the implementation of support for translation of a11y strings, see #193.  One of the features that was proposed and approved was to have a list of sims for which translation of a11y strings is supported.  This would allow us to publish sims with a11y strings but not present those strings to translators, and the a11y team has said that this is what they want because they f

[2018-07-05 21:43] jbphet commented on #194
I believe the information necessary to list all translators who have contributed for a given sim is available in the DB used by the website, but when we discussed this during today's dev meeting, @mattpen wasn't 100% sure.  I think the next step is to make that determination and, if that information is indeed available, we should move this issue to the website repo and then work with @ariel-phet t

[2018-07-05 23:50] zepumph commented on #193
I'm not totally clear on this, because all sims have joist, and so will have joist's a11y strings in them, even if they don't have and accessibility content. As a result I think we need to design this solution in a way that recognizes that it will need to be around for a very long time. This manual file approach seems like it will be a pain once we are managing 20 a11y sims in a year, but all 100

[2018-07-06 15:10] mattpen commented on #194
@oliver-phet - Is there an example of a sim and locale that should have multiple translators?

[2018-07-06 15:15] mattpen commented on #194
@oliver-phet  - Rather, is there an example of a sim/locale that should have multiple translators but does not?

Looks like there may be some sorting issues, but for the two examples I found it is working properly (ABS in es_MX and si)

![image](https://user-images.githubusercontent.com/11747676/42386538-07c0bac4-80fd-11e8-96d1-1714f9452ede.png)

![image](https://user-images.githubusercontent.com/

[2018-07-06 15:33] oliver-phet commented on #194
Maybe this is working! I was expecting multiple users listed on a single locale line (rather than a locale being repeated for multiple translators).

[2018-07-09 16:43] jbphet commented on #194
If it's working, we should just close the issue.  As for the question @mattpen asked:

No, and I am on several of the es_MX sims.  I suspect that @DianaTavares did some work on this on a browser instance where I had logged in.  I haven't been worried about it so far, but if it's easy for @mattpen to do, feel free to remove me.  I'll log a separate issue for it.

[2018-07-09 16:43] #194 closed

[2018-07-09 16:48] jbphet commented on #194
The issue logged for cleaning up ex_MX credits is https://github.com/phetsims/website/issues/712.

[2018-07-10 16:46] jbphet commented on #196
@emily-phet - I need to prioritize this versus other a11y work.  Can you provide any insight into when we want to start rolling out support for translation of a11y strings?

[2018-07-10 20:52] jbphet commented on #163
When implementing this, but sure to account for and test right-to-left languages.

[2018-07-11 17:12] jbphet commented on #193
I'm not following.  The manual file approach can be around as long as we need it, will list sims for which a11y strings should be presented for translation, and will *not* present common code a11y strings for sims that are not listed in the file.

Why would it be a pain?  Because the sim list would be 100 items long?  That doesn't seem particularly painful to me.  We do it in files like `active-si

[2018-07-11 19:01] zepumph commented on #193
I think you summed up your thoughts well. I'm convinced! Thank you for explaining further.

[2018-07-11 20:38] chrisklus commented on #182
Name placeholders are now also blue

[2018-07-11 20:38] #182 closed

[2018-07-11 21:00] phet-steele commented on #182
Hooray thanks @chrisklus!

[2018-07-13 16:30] jbphet commented on #193
I think this issue currently has too many assignees.  I'm going to assign to @ariel-phet and @emily-phet to get input on the schedule and prioritization for this feature, and will put a reminder on my calendar to follow up in a week.

[2018-07-13 18:45] ariel-phet commented on #193
@jbphet scheduling and prioritization for this question is definitely @emily-phet call

As for the other question of UI changes, once we know the scheduling, I think it would be appropriate to have a design meeting or two and figure out what would be a clean and workable solution. I don't think we need to get too fancy with UI, but it might be a good time to revisit Rosetta and make a few improvem

[2018-07-18 20:41] mattpen commented on #153
moving discussion to https://github.com/phetsims/phet-ios-app/issues/315

[2018-07-18 20:41] #153 closed

[2018-07-19 16:45] zepumph commented on #130
Over to you @chrisklus now that you are taking on more issues in Rosetta.

[2018-07-19 16:56] emily-phet commented on #193
@jbphet there is currently no funding at all for translation+a11y. Once we get more sims out with a11y features, it will be much easier to discuss with potential funders the need and impact of translation. So essentially, this is on hold until resources become available for it.

[2018-07-19 18:47] jbphet commented on #193
Thanks @ariel-phet and @emily-phet for the input.  I'll work with the a11y team to decide whether this means we continue to keep the strings separate for now or we merge them and add code to rosetta to prevent them from being displayed to translators.

[2018-07-19 18:51] jbphet commented on #193
@jessegreenberg and @zepumph - What's your recommendation on whether it will save us time and effort in the long run to start moving strings into the string files now or wait until we need to actually support translation?

[2018-07-19 19:36] zepumph commented on #193
I see 14 `*A11yStrings.js` files and 600 occurrences of `*A11yStrings.` in code. That makes me think that moving these over to the json string files will take enough work to put this step also into the category of "currently unfunded." It will be more work to move more strings over later because there will be more strings to move over, but I don't think it will be too substantial (on the order of

[2018-07-26 18:13] jonathanolson opened #197 "Sim translation updates for common string changes"
@jbphet, I'm curious if a common string change submitted for some sim that includes common string changes (say, a JOIST string that affects all sims) would trigger a build/update for ALL sims that include that string?

A brief scan of the code (and my memory) would think that only the sim that was "submitted" would get rebuilt with the translation.

During dev meeting today, it was discussed that

[2018-07-26 22:40] jbphet commented on #197
Yes @jonathanolson, your brief scan and memory are correct, a change to common code does not trigger a rebuild of all sims that use it.  We would have to do a maintenance release of the sims that use that string to force the English and translated versions to be rebuilt.

[2018-07-26 22:42] jonathanolson commented on #197
Presumably we'll discuss at the next dev meeting about whether this should change. Unassigning.

[2018-07-27 16:53] jessegreenberg commented on #193
I agree with https://github.com/phetsims/rosetta/issues/193#issuecomment-406390044. I don't think we should spend time on this for the short term until we have a better idea of how this will all behave with an updated rosetta UI in the long term.

[2018-07-27 17:10] jbphet commented on #193
Okay.  I'll mark as deferred, and we'll get back to this when the need arises.

[2018-08-08 01:11] DianaTavares opened #198 "Is not there an easier way to find strings that are not translated?"
Sometimes I spend a lot of time looking for the string that are not translated in the website in special for keyword and Simulations Strings because they are a super long list.

![screen shot 2018-08-07 at 6 27 06 pm](https://user-images.githubusercontent.com/26031501/43809892-2738f9c8-9a72-11e8-9a2b-faaff450faff.png)

For example, in this situation, I try to do the translation in order, from the

[2018-08-08 17:15] DianaTavares commented on #198
@ariel-phet told me that this is not the place to write this issue. I am going to close it here and write it again int he website repo.

[2018-08-08 17:15] #198 closed

[2018-08-14 18:02] zepumph opened #199 "Add a deprecated flag for string keys"
I thought of this potential enhancement while looking at https://github.com/phetsims/a11y-research/issues/113#issuecomment-410042729, especially

Would it be helpful to be able to add a deprecated flag to the json for a string key that we don't want to have anymore? Something like:
[code]

Then rosetta would be able to wean these out easier in the future.

[2018-08-20 17:27] pixelzoom commented on #130
You might look at the Java Translation Utility for guidance on this one.  The approach used there has worked without issue for years.  And I believe it's as you described - use the same tags in the translated string.  It's probably also important to confirm that begin/end tags are in the correct order.

[2018-08-20 17:32] pixelzoom commented on #130
See HTMLValidator.java, https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Futil%2Ftranslation-utility%2Fsrc%2Fedu%2Fcolorado%2Fphet%2Ftranslationutility%2Futil%2FHTMLValidator.java&commit=74942

<details>
<summary>HTMLValidator.java source code</summary

[code]
</details>

[2018-08-20 17:32] chrisklus commented on #130
Thanks @pixelzoom, sounds good - I'll check it out.

[2018-08-21 17:59] chrisklus commented on #130
@jbphet, @jonathanolson, and I had a discussion about what should be validated for RichText strings.

We decided that if the translator includes a tag in their translation that was also in the english string, then we should check that they used it the same way (closed the tag if it's closed in the english string, and use open/close tags in the correct order).

However, we don't force them to use t

[2018-08-21 17:59] #130 closed

[2018-09-10 16:13] jbphet commented on #197
This is doable, but not trivial, because the way we figure out which common code strings are actually used by a sim is to download the published HTML file and analyze, so we'd need to do that for every published sim with every change to a common code string.

We discussed at a dev meeting today and decided to defer until after the support for translation of the app is complete.

[2018-09-13 18:27] oliver-phet commented on #197
Adding a comment so that I get notifications for this issue.

[2018-10-24 23:31] zepumph commented on #191
@mbarlow12 I'm not working on rosetta anymore. Would you like to take this on?

[2018-10-24 23:33] zepumph commented on #163
@mbarlow12 can you have a look at this.

[2018-10-24 23:36] zepumph commented on #144
Can you take a look at this one too @mbarlow12?

[2018-11-05 21:35] zepumph opened #200 "Why get strings from master json files for published sim translations?"
From https://github.com/phetsims/scenery-phet/issues/419#issuecomment-436040330

@jbphet mentioned that deleting a string key from master of BASE would make that string unaccessible to translators even for old shas, published versions, of the simulation.

This feels really strange and backwards to me, so I'd like to discuss to understand this more.

From that issue, @jbphet said:

@jbphet can you

[2018-11-06 16:04] jbphet commented on #200
This was due to a mis-remembering moment on my part, see https://github.com/phetsims/scenery-phet/issues/419#issuecomment-436306952.  Closing.

[2018-11-06 16:04] #200 closed

[2018-11-13 20:19] jessegreenberg opened #201 "How should a11y string keys be named?"
From a slack discussion, @zepumph asked what the convention should be for naming a11y strings. Should key names match the sentence/phrase of their value, or do we name them for their use?

@jessegreenberg said that by name makes most sense because it will align with non-a11y string keys.

@mbarlow12 said that he has matched the value for shorter strings, but used thematic naming when the a11y stri

[2018-11-13 20:39] jessegreenberg commented on #201
My understanding is that well named keys are mostly for translators to understand the context. So "perfect" keys (described in the code review checklist) are mostly for their benefit. In part of making a11y strings translatable, we will likely add context information about the string in the rosetta UI. If that happens, we don't need to provide context information in the string key.

But I think th

[2018-11-14 22:59] samreid commented on #201
Matching the English string seems like a straightforward and foolproof convention--I don't think we should second guess it or try to outsmart it.

Generally that can cause problems.  If we remove words to end up with a string like `"grabbedLightlyOnBook"` then later there may be a Biology book and Chemistry book, so there would be asymmetry in the keys.  Simplest to just match the English words ev

[2018-11-14 23:06] pixelzoom commented on #201
@samreid said:

What about strings like this one in BASEA11yStrings:

[code]

If we match the English string, that becomes:

[code]

Besides being a royal pain to create the key (which I can vouch for) and keep it in sync with the value, I can imagine that a key with that length might cause UI layout problems in Rosetta.

So I think that a11y puts us in new territory, and we need to rethink our co

[2018-11-14 23:10] samreid commented on #201
That does seem like a special case, I'm fine if that needs a different convention, but we will need to know where to draw the line (in terms of string length).  Is that length of string frequent?  What if we had a javascript utility that took an English string and made a corresponding key, to do the busywork for us?  What if we had automatic validation of keys, to help us keep in line?

[2018-11-16 02:53] samreid commented on #201
Testing in a context I borrowed from Molecule Shapes:
[code]

At least it is very clear!  I don't feel strongly one way or the other.

[2018-11-16 17:56] pixelzoom commented on #201
In the above example, the string's var name would actually be a tad longer, since a "String" suffix is required on all vars loaded via the `string!` plugin.

[2018-11-16 18:07] pixelzoom commented on #201
Proposal conventions for string key naming:

(1) Key should typically be the value converted to camel case, e.g.:

[code]

(2) If a key would be exceptionally long by following rule 1, use a key name that is an abbreviated form of the string value, or that captures the purpose/essence of the value. Examples:

[code]

(3) If key names would collide, use your judgment to disambiguate. E.g.:

[code]

[2018-11-20 22:55] zepumph commented on #201
All of that sounds really nice. Potentially we could add a suffix for `2.A` such that it was know that the literal words of the key were just part of the actual value.
`iWentToTheStoreAbbreviation`
`iWentToTheStorePart`
`iWentToTheStorePiece`
`iWentToTheStoreIntro`
iWentToTheStoreAbbrev`

I'm not totally sold; just a thought.

[2018-12-13 20:32] pixelzoom commented on #201
12/13/18 dev meeting:

* proposal in https://github.com/phetsims/rosetta/issues/201#issuecomment-439478002 accepted as is
* I will copy the proposal to the code review checklist

[2018-12-13 21:16] #201 closed

[2019-02-06 22:21] mbarlow12 commented on #185
I added the `dotenv` package to handle environment variables from a .env file a the project root. Since this isn't checked into git, we can simply set `ENABLED=false` and restart the server (or make a script that handles setting the flag and restarting the server).

It's a little more cumbersome than passing a flag to `systemctl`, but passing command line arguments to `systemctl start` is quite me

[2019-02-07 16:18] mbarlow12 opened #202 "branch: modularize"
Branch for refactoring the route handling and utilities in clearer, extensible, and more maintainable fashion.

[2019-02-14 16:27] jbphet commented on #158
We haven't heard anything more from this user, closing.

[2019-02-14 16:27] #158 closed

[2019-02-22 20:56] oliver-phet opened #203 "Support for translating/displaying numbers in sims in other fonts"
Via phethelp:

Can we provide them too? What I found in the translations is now only for strings.

For example compare these results (I manually added the style):
BEFORE:
![image](https://user-images.githubusercontent.com/5090275/53270503-1d45d700-36a9-11e9-8e31-e8a1c6605443.png)
AFTER:
![image](https://user-images.githubusercontent.com/5090275/53270513-2767d580-36a9-11e9-9215-aa44a52888b7.png)
Yo

[2019-02-22 21:01] oliver-phet commented on #203
Currently, we don't display numbers in sims in other fonts nor support translation of numbers. It sounds like this functionality would be useful to this translator (and I suspect others).

[2019-02-22 21:19] oliver-phet commented on #203
Added @arouinfar since Mo did some of the HTML5 translations into _fa and you/he might have a perspective?

[2019-02-25 18:59] jbphet commented on #203
I'd like to hear from @arouinfar about whether this is something that is widely used and therefore useful or if this sort of thing is rare.

[2019-02-25 22:10] arouinfar commented on #203
@jbphet @oliver-phet after consulting a bit with Mo and his sister (who taught for many years in Iran), it probably would be better to support Persian numbers, particularly for elementary and middle school sims (such as Fractions). Students won't generally learn or regularly use Arabic (English) numerals until high school. If a teacher wanted to use a sim with a younger audience, they would first

[2019-02-26 03:09] ariel-phet commented on #203
Marking for dev meeting - wanting to understand how much effort would be involved in supporting this functionality

[2019-02-28 20:05] ariel-phet commented on #203
@arouinfar do you know if numbers with digits >2 are written left to right or right to left?

So is 123 written as 321 in Persian?

[2019-02-28 20:08] arouinfar commented on #203
@ariel-phet numbers in Persian are written left to right so 123 would be written as 123, not 321. I am fairly certain the same is true for Arabic.

[2019-02-28 23:39] jbphet commented on #203
Another thought to keep in mind as we investigate this is that we use the `_all.html` file for the installer and, I think, the iOS and Android apps, and we would need to figure out how alternate fonts could be used there too.

[2019-03-01 16:09] mattpen opened #204 "Update Header for website navigation update"
We should update the header for rosetta to match the changes on the website for the navigation reskin.  The easiest thing would probably be to compose it client side with an XHR request to `/{{locale}}/header`, like we are doing in the profile pages. Here's how we're composing with XHR in React: https://github.com/phetsims/website-meteor/blob/reskin/imports/ui/components/header/header.js.  Note, a

[2019-03-01 16:13] mattpen commented on #204
An alternative to adding the header in the rosetta app with XHR would be to compose the page in wicket by including the rosetta app in an iframe.  This would require more changes in the website repo, but in rosetta all that we would need to do would be to remove the header.  I haven't had any success using this pattern with meteor, but express may tolerate it better.

[2019-03-01 19:03] jbphet commented on #203
I've published a version that supports the Persian numbers at https://phet-dev.colorado.edu/html/fraction-matcher/1.2.0-persian-numbers-test/fraction-matcher-published_fa.html.  For this to work, you'll need to install the "B Nazanin" font.

Assigning to @ariel-phet for review and to suggest next steps.  @ariel-phet - the comment above this one also should be considered in our discussions.

[2019-03-01 19:05] jbphet commented on #203
A note: Every once in a while when I load the sim from the link in the previous comment the numbers don't appear in the Persian form.  I'm not sure why, but if I close and reload, they usually change.

[2019-03-06 18:10] ariel-phet commented on #204
@mattpen want don't you take a stab at this, even though it has been awhile since you have been in rosetta. If you get a couple hours in and feel like you are really spinning you wheels, please assign back to me. However, I think Rosetta could have the old header for awhile without too much woe to our translators.

[2019-03-19 16:51] mattpen opened #205 "MemoryStore is not designed for a production environment"
@jbphet @mbarlow12 - the master branch of rosetta (currently at 4ea91a255a042fb1e45513973e3056795e199113) does not appear to be stable.  What is the status of development?

When I try to start rosetta from master on ox-dev, this is what happens:

[code]

Starting from 20981ac5f256219ac5f018df5d322df6df2ec3af it works fine, which is the current position of rosetta on phet-server.  It would probably

[2019-03-19 18:52] mbarlow12 commented on #205
@mattpen I think this is due to some code that should be in a different branch. I deleted the lines in https://github.com/phetsims/rosetta/commit/6c9a0189183d69ff3856db2cea5a5b26e15ca79a, so that should hopefully help.

The MemoryStore() error is from our session handling, but it's not fatal. However, if we want to eliminate that, we should be storing session data in our db (e.g. https://www.npmjs

[2019-03-19 20:11] mattpen commented on #205
I'm really not familiar with the rosetta session handling, but we've been running the app like this for quite a while with no problems.  I haven't noticed any memory leaks.  We usually have less than 5 concurrent users max, so maybe its not an issue?  There are other database related improvements in the pipeline IIRC, so might this be good to handle when those get addressed?

[2019-03-19 20:14] mattpen commented on #205
Rosetta is running from master again.

[2019-03-19 20:25] mattpen opened #206 "branch: reskin"
For #204. To be merged with master when the new header is deployed.

[2019-03-20 16:06] jbphet commented on #205
Thanks for following up on this @mbarlow12.  The message about MemoryStore has been around for a long time and was already reported in https://github.com/phetsims/rosetta/issues/133.  As @mattpen said, it doesn't seem to impact the actual operation of the utility.

With this in mind, I believe this issue can be closed.  @mattpen - any objections?

[2019-03-20 16:08] mbarlow12 commented on #205
No objections here.

[2019-03-20 16:16] mattpen commented on #205
No objections

[2019-03-20 16:16] #205 closed

[2019-03-20 18:50] mattpen commented on #204
This seems to be working now. I added a wrapper page in wicket that includes the rosetta app as an iframe.  This page is localized so the header is displayed in the users preferred language.  We also will never need to update the header for rosetta again, we'll just include it.

One thing I had to change was adding a client side redirect from /translate to /en/translate, which will be the new path

[2019-03-21 22:35] jbphet commented on #204
I checked out the new header and it looks good IMO.

As far as the redirect for `/translate`, it's fine with me.  I would assume the links from the rest of the website have been changed to point to the appropriate language and the redirect is only necessary for people who have it bookmarked, correct?  Also, is this discussion of the redirect directly related to the header change?  If not, it seems

[2019-03-22 21:33] jbphet commented on #121
This would indeed be a nice enhancement, but I'm not getting much time to work on translation issues, and when I do that time is going towards higher priority things.  Assigning to @ariel-phet to decide whether this enhancement can be done by @mbarlow12.  If not, we should just leave the issue unassigned until we have some time budgeted to work on things like this.

[2019-03-25 16:57] pixelzoom commented on #193
Marking this for dev meeting discussion.  We now have 19 `*A11yStrings` files, which we're presumably going to have to eventually more to the `*strings_en.json` files.  And we're currently getting none of the benefits of having these strings in the `*strings_en.json` files.  For example, in https://github.com/phetsims/molarity/issues/64 =, I discovered at least one string that is unused in the sim

[2019-03-25 19:08] ariel-phet commented on #121
@jbphet making unassigned and moving priority to low.

Translators seem to be pretty good about knowing about new sims (for instance our Japanese translators said they just look for the new sim announcement emails). And translations have been rolling in without much issue. Again, would be a nice enhancement, but things are basically working.

[2019-03-26 00:26] pixelzoom commented on #195
Related to https://github.com/phetsims/rosetta/issues/193.

[2019-03-26 00:26] pixelzoom commented on #193
Related to https://github.com/phetsims/rosetta/issues/195.

[2019-03-26 00:27] pixelzoom commented on #195
As noted in

[2019-03-26 00:34] pixelzoom commented on #146
@jessegreenberg is this issue related to https://github.com/phetsims/tasks/issues/917?

Was this boilerplate:

[code]

... added to all `*A11Strings` to address this issue?

[2019-04-03 22:46] pixelzoom commented on #195
@jbphet Assuming that metadata identifies which strings are specific to a11y, what is your estimate for modifying Rosetta so that it (for now) ignores those strings?

[2019-04-03 22:53] pixelzoom commented on #193
We still need to have a more comprehensive discussion about what be metadata we might need and how it should be structured in the .json files.  I don't think we want to dive into that discussion right now, so perhaps we should go with something quick-&-dirty that can be easily changed in the future.  How about something simple, like this?

[code]

`a11y:false` would be the implicit default. Rosett

[2019-04-04 16:03] jessegreenberg commented on #193
That will be better in the medium term than having separate *A11yStrings.js files. I suspect it will be easier for the `a11y` flag to be forgotten. Can we add a step to the code review or QA checklist to ensure that a11y flag is added for PDOM strings (and only PDOM strings) to prevent issues like https://github.com/phetsims/john-travoltage/issues/325?

[2019-04-04 18:02] samreid commented on #193
How can someone tell that a string is intended for a11y or not?

[2019-04-04 18:06] pixelzoom commented on #193
All strings for a11y are currently in *AllyStrings.js files.

[2019-04-04 18:09] samreid commented on #193
Right, but if we move them to the strings file, how will a QA analyst be able to tell that the a11y flags are applied appropriately?

[2019-04-04 18:41] jbphet commented on #193
In today's dev meeting, we decided that because the a11y strings aren't getting the advantages of regular strings (e.g. detection of unused strings), we should bite the bullet and do what was suggested in https://github.com/phetsims/rosetta/issues/193#issuecomment-479687359.  It probably won't be that bad to implement support in rosetta.  Assigning to myself and @ariel-phet to discuss prioritizati

[2019-04-11 18:03] zepumph commented on #193
From today's discussion it seemed clear that the whole group is in favor of moving the strings files over to `json` strings files to reduce overall technical debt of later conversion when it is time to support translation.

One piece of this brought up in today's discussion was that `*A11yStrings.js` files have line comments in them, because they are javascript, but converting them over to `json`

[2019-04-11 18:07] samreid commented on #193
Or we could put the comments in keys:

[code]

Starting with a code like `#` or `#comment: `could help us strip them out.

[2019-04-18 19:31] zepumph commented on #193
From dev discussion today, we thought through the following items:
* Using a special prefix to annotate comments in keys
* Add a comment to a specific string, sibling to the "value"
* Add "structure" to the json where all "summary strings" would be nested beneath the "#summaryStrings" object.
* @jbphet was interested in potentially overhauling the system to make en strings json files like `depende

[2019-04-18 19:46] samreid commented on #193
Looking through the a11y strings files, it seems there are lots of places where structure occurs naturally.  For instance, BaseA11yStrings has clearly delineated sections for

* Play Area map grid strings
* Play Area landmark strings, 'near' or  'at' added  through string patterns
* Boundary or Critical location strings
* Charge capacity strings
* screen summary strings
* objects for the screen su

[2019-04-18 20:18] zepumph commented on #193
I'm not sure if I like it, or this one either, but brainstorming:

If we converted that to use camel case keys and moved plain english to comments, it could look like this:
[code]

[2019-04-18 21:52] zepumph commented on #193
After discussing with @samreid, there seem to be three potential options that are worth discussing. First, here is an example of "nested" structure in strings that we would have from master. The only addition is the addition of the `a11y` key which was the original idea in this issue:
[code]
**Pros**
* simple to implement, all we would need is basic logic in rosetta to handle the a11y string diffe

[2019-04-25 04:05] samreid commented on #193
It was pointed out that string files will be growing 10x larger or more, therefore I think it is essential to be able to structure the strings instead of using a flat list.  Structure will be the best remedy for the complexity.

[2019-04-25 18:52] samreid commented on #193
[code]

[2019-04-25 19:01] pixelzoom commented on #68
@jessegreenberg Do you agree that this is a duplicate of https://github.com/phetsims/rosetta/issues/195 + https://github.com/phetsims/rosetta/issues/193?  If so, please close.

[2019-04-25 19:04] Denz1994 commented on #193
Some key points from 04/25/19 dev meeting:

- CM: Why is nesting needed in this case?
- AP goals for this process:
   1. A11y strings should match non-A11y strings but not recognized by Rosetta
   2. Organized strings for translators to input and parse.

- JG/JB: We can create whatever sub-category we would like and Rosetta will look for it. The structure is a replacement for the comments currentl

[2019-04-25 19:11] zepumph commented on #193
@jessegreenberg and @zepumph will take a look at supporting a11y strings in a plugin, and will interface with @jbphet as needed to make sure that the appropriate rosetta work in done also.

[2019-04-25 19:12] jessegreenberg commented on #68
That is right, closing.

[2019-04-25 19:31] mbarlow12 commented on #193
We're currently handling sim strings with a [requirejs plugin](https://github.com/phetsims/chipper/blob/master/js/requirejs-plugins/string.js). We could use a similar process for a11y strings by creating a similar `a11yString.js` plugin then using something like the following:

[code]
then in JS files:
[code]
This may offer the ability for us to handle nested structures or similar features in the

[2019-04-26 13:54] samreid commented on #193
Treating a11y strings and non-ally strings are treated on equal footing (in the same file, using same plugin, etc) sounds like the best long term goal.  But what I like about @mbarlow12 proposal from preceding comment is that it gives us a place to experiment with new technology for our strings, isolated to a11y strings.  The a11yString plugin could be developed with an eye toward eventually repla

[2019-05-02 22:10] jbphet opened #207 "multi-line strings containing '\n' are getting an additional '\' inserted"
This was initially reported in https://github.com/phetsims/isotopes-and-atomic-mass/issues/97, please read through that for necessary background info.

The essence of the problem is that multi-line strings that contain `\n` are ending up with `\\n` in the actual string file in babel, so the strings end up looking bad in the sims.

[2019-05-02 22:33] jbphet commented on #207
I just looked through RPAL's translated string files, and I'm not seeing any occurrences of `\\n`.  This might mean that the problem was introduced into after these translations were submitted.  I tested the Polish translation in rosetta using the 'Test' button, and saw this for the multi-line string (which translates to "No\nReaction"):

![image](https://user-images.githubusercontent.com/3082831/

[2019-05-03 19:19] jbphet commented on #207
Issue #144 seems related to this one too.

[2019-05-03 22:14] jbphet commented on #207
It looks like an object with a string that contains the carriage return character (ASCII integer 10) that is turned into JSON using `JSON.parse` will have that value turned into an explicit "\n" string (ASCII integer characters 92 and 110).  However, an object that contains a string with the actual "\n" character will end up having it converted into "\\n".

I ran a test where I created a simple fo

[2019-05-03 22:24] jbphet commented on #207
I just did some experimenting with the code just above and found that the following code works to do the necessary replacement operation:
[code]

[2019-05-07 01:55] ariel-phet commented on #203
I think this issue is going to have to wait until we have some dedicated time for Rosetta. Although it would be a very nice touch, not a high priority, so deferring.

[2019-05-08 21:49] jbphet opened #208 "Not able to access DB when running on phet-server-dev"
I'm trying to test and debug some changes to rosetta by running it on phet-server-dev.  Unfortunately, this currently isn't working, and from the log it looks like the problem is related to failures when trying to read previously stored strings from the database (recall that while rosetta stores translated strings in GitHub, it supports storage of unfinished translation strings in a database that

[2019-05-08 22:02] jbphet opened #209 "Suspicious use of async function"
In the file `routeHandlers.js`, I came across the following code:
[code]
This is using a very large callback function which is declared as asynchronous, which seems kind of antithetical to the whole reason for using `async/await`.  In the documentation for the pg package, the query call looks like this:
[code]
This looks more like it should, at least as I understand things.  I should see if the cu

[2019-05-09 16:29] mattpen commented on #208
@jbphet - It looks like there was no user created for phet-admin on phet-server-dev, so I just created one.  It should work now, can you please try again or send me the steps to test?

[2019-05-10 22:51] jbphet commented on #208
I just tested this, and the problem is still present.  @mattpen - it doesn't seem like creating the phet-admin user changed anything.  Back to you for further investigation.

If you'd like to test changes yourself, you can make them, and then try to log in to rosetta and get to the sim translation page while watching the log file using `journalctl`.  When I try to get to a translation page, I see

[2019-05-10 23:05] jbphet opened #210 "Rosetta is wrapped in an iframe on phet-server-dev"
I'm trying to do some testing of changes to rosetta on phet-server-dev before deploying them to phet-server.  It looks like some changes have been make on phet-server-dev such that rosetta is wrapped in an iframe, probably so that it will be easier to make it look consistent with the new web site changes.  However, it isn't working very well, and it is causing me to lose some time when trying to d

[2019-05-11 00:03] jbphet commented on #208
Actually, I've found some issues in `configurePreferences.js` that might explain what's going on here, and I'll need to discuss it with @zepumph before spending any more time on it.  Assigning back to myself.

[2019-05-14 16:13] mattpen commented on #210
https://ox-dev.colorado.edu/translate/ should only redirect to the iframe wrapper when running in the reskin branch.  Are you working in this branch?  I checked out master and restarted rosetta and it is not redirecting to the iframe wrapper.

[2019-05-14 17:19] jbphet commented on #210
I wasn't working the reskin branch that I know of, and I'm not sure I would know how to.  I just tried the link, though, and it's no longer in the iframe, so whatever was done fixed the problem.  Closing.

[2019-05-14 17:20] #210 closed

[2019-05-17 15:35] mattpen opened #211 "Mobile app string translation"
We need to devise a way to translate the strings used in the mobile apps via rosetta.  There will be three major steps to this process.

  1. Retrieve strings that need translation
  2. Add the strings to babel
  3. Package the strings for the apps.

In addition, I believe @jbphet mentioned that we should modify babel so that its very clear these strings are for apps and not sims.

[Strings format

[2019-05-17 15:45] mattpen commented on #211
Here is the current Android strings file: https://github.com/phetsims/phet-android-app/blob/master/app/src/main/res/values/strings.xml

[2019-05-17 22:21] jbphet commented on #208
It looks like in September of last year some work was done related to #167, where we wanted to replace the `pg-query` library with something more current.  As part of this effort, code was added to set environment variables fir a different library called `pg`.  However, this code isn't currently working on phet-server-dev, and I have some questions about it:

+ The `pg` package depends on environm

[2019-05-17 23:25] zepumph commented on #208
I'm sorry to say I don't think I can help here! I remember doing https://github.com/phetsims/rosetta/commit/c4b841346a7708796932244f4b212cad3c666613, but don't know anything about the dev environment if block, or work done on `pg`.

Good luck!

[2019-05-20 19:02] mbarlow12 commented on #208
I don't think this was ever pushed to `phet-server-dev` and tested sufficiently.
- the issue with `configurePreferences.js` was to allow different credentials for local development. For the app to work with `pg` those variables will need to be set for production and phet-server-dev to the appropriate values.
- The `pg-query` statements appear to be errors. If I remember correctly, for the cases wh

[2019-05-21 18:34] jbphet commented on #208
Thanks @mbarlow12 - I'll take it from here.

[2019-05-22 14:55] mattpen commented on #211
Here is the current iOS strings file.

The xliff format is documented here: http://docs.oasis-open.org/xliff/v1.2/os/xliff-core.html

[en.xliff.gz](https://github.com/phetsims/rosetta/files/3207934/en.xliff.gz)

[2019-05-22 15:06] mattpen commented on #211
We should also localize the listings for the (app store)[https://github.com/phetsims/phet-ios-app/issues/483] and the (play store)[https://support.google.com/googleplay/android-developer/answer/113469].

[2019-05-23 21:37] oliver-phet commented on #211
Design meeting 5/23:

1. App strings will be written directly to xml files from Rosetta (1 file per locale)
2. Store description will be written as a separate file from Rosetta (1 file per locale)
3. Both files stored separately in the 'phet-ios-app' and 'phet-android-app' repos
4. https://phet.colorado.edu/translate/ will be edited to add an 'Apps' section that allows a translator to select "iOS

[2019-05-25 00:04] jbphet commented on #209
I have changed the code to look more like the latter example above, and it seems to be working well, and it is much better at handling the case where it is unable to connect to the database.  Closing.

[2019-05-25 00:04] #209 closed

[2019-05-28 20:10] ariel-phet commented on #211
@kathy-phet wrote

So this work is on-hold current

[2019-05-28 20:12] ariel-phet commented on #211
I think we will still need a way to store the strings in the app repos in the correct format once we have files from translators, but perhaps that should be a separate issue.

[2019-05-29 22:24] oliver-phet commented on #211
@mattpen It should be easy enough for me to create a spreadsheet for translators to add strings, for each "source" string. Do the "note" strings also need to be translated?

I also wonder if it would help to send each translator a copy of the .xliff file (with non-translatable content stripped out) where they can translate the strings directly?

[2019-06-03 16:48] mattpen commented on #211
@oliver-phet

No, they do not.  These are comments for developers or machine-reading only and will not appear to the end user.

<hr />

This would be the easiest way from my perspective if it is readable by the translators.  That way I can just commit and push the files directly to the app repo.

If we send out a spreadsheet I would need to write a script to translate from csv to xliff, and it sou

[2019-06-03 20:45] oliver-phet commented on #211
@mattpen for strings like this:
`<source>Andrew, Ellie, Eric, Luis, Sheefali, Chris, the PhET team for CU Boulder's Computer Science Capstone class 2016
and
Chris Huxtable of BitFlip Labs</source>`
Do we need to preserve the line breaks?

[2019-06-03 20:54] mattpen commented on #211
Yes, that is probably ideal.

[2019-06-03 22:37] mattpen commented on #211
@oliver-phet and I discussed further in a zoom call.  We decided that we will just send the xliff files directly to translators along with instructions on how to translate them using [tranzapp](http://www.beyondf.com/tranzapp/translate/).  When we get the file back, we'll need to update the language attributes and filenames, then they can be loaded into the app.

@oliver-phet is also going to add

[2019-06-04 20:24] jonathanolson opened #212 "Handle string key renaming/grouping"
As an example, in https://github.com/phetsims/area-model-common/issues/177, I moved some duplicated sim strings over into vegas (VEGAS/chooseYourLevel).

This means that in sims where the string was translated IN the sim (fractions/expression-exchange), when they are republished the new string in vegas may not be translated.

[2019-07-02 21:42] ariel-phet commented on #144
back to @jbphet

[2019-07-02 21:47] ariel-phet commented on #163
Looks like this issue is old and unlikely to get attention soon. Marking deferred.

[2019-07-02 22:07] ariel-phet commented on #187
Back to you @jbphet - feel free to defer or suggest someone to assign

[2019-07-16 00:34] zepumph commented on #193
With the help of @jessegreenberg, today there was work done on this. In effect we were just able to hack out a prototype that loaded a string that was directly nested under `a11y` in the strings json with the new `a11ystring` plugin.

We like @samreid and @mbarlow12's idea to make a separate plugin for prototyping, although since we hope that it will one-day become the new string plugin, we want t

[2019-07-17 01:05] zepumph commented on #193
I created branches to explore the ability to nest a11y strings in the main string plugin and strings files. The commits coming in support both requirejs and build mode for nesting under the "a11y" key in the `en` strings files. Right now everything under `a11y` isn't translatable (which I think is good). Soon we will need to make sure that rosetta ignores everything under the "a11y" key in all str

[2019-07-18 01:16] arouinfar opened #213 "Common string missing in translation utility [Fractions Suite]"
I submitted a `fa` translation of `build-a-fraction` to help out with some app translation testing and ran into an odd situation.

Compare the `en`, `fa`, and `es` versions of the sim. "Choose your level!" remains untranslated in `fa` because this string is no longer available in the translation utility.
![image](https://user-images.githubusercontent.com/8419308/61422012-f80b6c80-a8c6-11e9-9b79-43

[2019-07-22 22:34] zepumph opened #214 "Rosetta should ignore the "a11y" key in strings files"
From https://github.com/phetsims/rosetta/issues/193,

We are currently on a branch adding support for a11y strings, via nested objects under the `a11y` key. Before we merge to master, we need to add code to rosetta that ignores the string key "a11y".
I don't know what this will entail, so I'm going to assign this over to @jbphet. Hopefully this is a small change that can be added to master and pub

[2019-07-23 01:53] zepumph commented on #193
I worked on this again today, and made more progress, separating items out into different issues.

First I'll explain how this has been implemented. I ended up touching a bit more string related code than expected. Basically we needed to adjust the string plugin, but also the `node` function called `getStringMap`. These two files work very similarly, so I ended up converting a fair bit of shared c

[2019-07-24 19:42] lmulhall-phet commented on #96
I don't think @phet-steele's steps can be followed anymore. I'm pretty sure @mattpen did something with http vs. https. Tried submitting a Wolof (?) translation of M&L and waiting > 30 minutes, but I have yet to see it.

[2019-07-24 19:48] lmulhall-phet commented on #96
@jbphet and @mattpen should I investigate further?

[2019-07-24 20:00] mattpen commented on #96
If this was related to switching between http/s, it's probably not possible anymore. I'd say it's safe to close this, as it seems very unlikely that a single device would be used by more than one translator.

[2019-07-24 20:00] #96 closed

[2019-08-01 17:01] ariel-phet commented on #193
@samreid time has a bit more wiggle room now and should be able to help.

@zepumph I suggest having a conversation with @samreid to decide on a schedule, I am guessing you want to move forward with this in a timely'ish manner.

[2019-08-03 22:58] samreid commented on #193
Thanks for your work on this @zepumph, this seems like a promising direction.  Some initial thoughts and notes:

* These branches are likely stale and incompatible, I'm getting "TypeError: Cannot read property 'addChild' of undefined" when testing friction requirejs.  Something about a screen summary node not existing any more.  I won't be able to test or experiment until this is improved.

I note

[2019-08-04 01:49] samreid commented on #193
I merged master into the branches, but still didn't see the expected console.log output.

[2019-08-05 19:00] samreid commented on #193
@zepumph and I discussed this and it is looking good.  Some ideas going forward:

(1) maybe we can generalize the code in ChipperStringUtils.getStringFromMap to recursively check `string suffix | child structure` .  Ideally, this would get rid of the explicit checks for "a11y" key prefix and could be used from requirejs side and built side.  The signature could be something like:

[code]

[2019-08-05 19:33] zepumph commented on #193
We may also be able to use this function in replacement of `phet.chipper.strings.get`, and some rosetta `TranslationUtils.js` functions.

[2019-08-06 22:04] zepumph commented on #214
@samreid and I think that there is still more work to be done before doing this. Unassigning for now. @jbphet we will let you know when we are ready for this.

[2019-08-06 22:22] zepumph commented on #193
**goals**:
* move a11y strings to string json files
* support nesting in a11y strings
* make sure rosetta ignores a11y strings
* make good and reusable code, only have one way of doing things.
* support nesting for all string
* (not yet) support a11y string translation

**cases to support**:
* Rosetta populating view
* rosetta saving to babel
* rosetta previewing translation
* rosetta loading stri

[2019-08-12 02:52] samreid commented on #193
Some review comments from the branch:

- [ ] Can ChipperStringUtils.formatStringValues be implemented with ChipperStringUtils.forEachString?
- [ ] Can ChipperStringUtils.getStringFromMap be implemented with ChipperStringUtils.forEachString?
- [ ] ChipperStringUtils.formatStringValues has mismatched JSDoc variable names
- [ ] Add unit tests for the ChipperStringUtils functions.
ChipperStringUtils.g

[2019-08-29 20:15] mattpen commented on #204
@ariel-phet - Should we bump up the priority of this?

[2019-09-05 18:18] oliver-phet commented on #211
Our procedure for collecting translations is working for now, removing assignment.

[2019-09-05 18:20] mattpen commented on #211
XLIFF translation working for now. Removing assignment.

[2019-09-23 20:17] samreid opened #215 "Make sure rosetta can read both flat and structured string keys."
From https://github.com/phetsims/rosetta/issues/193, @zepumph and I have been testing flat "a.b" keys and structured "a:{b}" keys.  Things have been working in build and requirejs, but we haven't yet tested in rosetta.

This should work because, if we understand correctly, rosetta is not using the english string file at all, which is the only place that now supports structured string keys.  A buil

[2019-09-23 21:35] zepumph commented on #214
@jbphet, work over in https://github.com/phetsims/rosetta/issues/193 has been wrapping up. We are ready here for rosetta to be set to ignore the `a11y` key at the top of any strings files. Ideally this would be somewhat factored out, in the off chance that we want to change that string key, or add another to ignore, etc. I'm not sure the difficulty, but most of the rest of this work (including mer

[2019-09-23 21:40] zepumph commented on #215
Tagging @jbphet for this issue. It may be something that he is able to test much easier than us. I think we just want to test publishing a test sim from master with nested strings (perhaps chains?), and then translating it to make sure that things are business as usual.

[2019-09-23 21:41] zepumph commented on #193
Much of the above was completed at the end of https://github.com/phetsims/chipper/issues/786.

[2019-09-23 22:47] zepumph commented on #193
Lots of work has been done on this issue today. In general this was just cleanup for the implementation over in https://github.com/phetsims/chipper/issues/786. It was decided there to focus on requirejs/build mode in sims. We added nested string objects only in English JSON files, all other locales are still flat. Furthermore the build string map is flat. Keeping this implementation meant that no

[2019-09-24 15:26] samreid commented on #193
It would be nice to inline forEachStringImplementation, could be done like so:

[code]

[2019-09-25 21:18] ariel-phet commented on #214
Seems "medium" to me - I do think this work should be done, @jbphet may want to confer with EM as to where it can fit in with his sonfication/a11y obligations.

[2019-09-30 19:02] jbphet commented on #191
@mbarlow12 is no longer working on the translation utility.  This seems like something that would be worthwhile someday, but the test facility isn't being used much, and this particular feature seems like a low priority to me.  I'm going to mark this issue as deferred for now.  We can get back to it - or come up with a better way to regression test Rosetta - if there ever comes a time when we are

[2019-09-30 21:32] zepumph commented on #193
Agreed! Implemented above, and I updated the documentation too to use the `typeDef` we want to.

[2019-10-02 14:34] samreid commented on #193
Everything else seems good, thanks for your work on this!  We will continue in the related issues mentioned above.  Closing.

[2019-10-02 14:34] #193 closed

[2019-10-07 17:00] zepumph commented on #214
@jbphet, note that you can use the `a11ystring-plugin` branch for chipper and friction to build a version of friction from the `en` json that has nested a11y strings.

[2019-10-07 17:22] zepumph commented on #215
Assigning to @jbphet after discussing with him. When he is in rosetta and testing https://github.com/phetsims/rosetta/issues/214, this will likely be done organically. @jbphet please look specifically for places in rosetta that may be reading directly from the en.json files checked in to the sim repos. We didn't think this would be a problem, but it would be good to make sure because right now ros

[2019-10-07 23:08] zepumph commented on #146
It is related to https://github.com/phetsims/tasks/issues/917

Yes that's right.

I'm going to close this issue because we are very close to getting rid of A11yStrings and moving the strings to the en json files, see https://github.com/phetsims/rosetta/issues/193 for base issue and https://github.com/phetsims/chipper/issues/795 for next steps.

[2019-10-07 23:08] #146 closed

[2019-10-07 23:14] zepumph commented on #195
Though this is much older, this has become the duplicate of https://github.com/phetsims/rosetta/issues/214, which is more inline with the more up-to-date path of ignoring a11y strings.

After discussing with @jbphet this morning, we don't think that it will be difficult/time-intensive to ignore a11y strings now that the nested string objects has been implemented. Please see that other issue for de

[2019-10-07 23:14] #195 closed

[2019-10-07 23:15] zepumph commented on #196
I think that this is far down the road, definitely not a high priority.

[2019-10-10 22:03] jbphet commented on #214
I just discussed when to work on this with @kathy-phet and @emily-phet, and we decided that I could use the time that was allocated for Number Line Suite after the first dev version of Number Line: Integers goes into dev testing.  The max time to spend on this is two calendar weeks, and if I can't get rosetta into shape where I can make these changes on master by then, I'll branch from the current

[2019-11-11 22:51] pixelzoom opened #216 "verify that Rosetta treats string keys as case-sensitive"
Over in https://github.com/phetsims/natural-selection/issues/12, I'm considering string file entries that look like this:

[code]

Discussing whether case sensitivity is a problem for Rosetta, @jbphet said on Slack:

This issue is a pre-requisite to RC testing and publication of Natural Selection. The sim is schedule for publication by 8/1/2020, and RC testing will likely begin around 6/1/2020.  A

[2019-11-13 22:48] zepumph commented on #132
@pixelzoom and I discussed this a bit more today. When it comes time to work on this, it is clear that the vast majority of strings will be a11y feature related. @pixelzoom was mentioning that it feels important to be able to group strings that are used visually with this sim, along with grouping the non visual strings. I tend to agree with him. I think the major problem for translators once we ad

[2019-11-13 23:02] pixelzoom commented on #132
I want to clarify the suggestion to group strings, in case it's misinterpreted as communicating any kind of relative importance of strings. All strings are equality important. But presenting all strings as a single group in Rosetta would be a disservice to translators.  The practical consideration is that different groups of strings will "appear" in different places (visual, auditory,...), and wil

[2019-11-16 03:25] pixelzoom commented on #216
I'm using different string keys in natural-selection, so case sensitivity is no longer an issue, see https://github.com/phetsims/natural-selection/issues/12#issuecomment-554599302.   But it would still be good (in general) to know the answer to this question.

[2019-11-22 22:41] jbphet commented on #216
I've spent a few minutes thinking about this and looking through the Rosetta code base, and I would say that I'm about 80% confident that string keys that differ only in case would be handled fine by Rosetta.  My reasoning is that, first of all, JavaScript and JSON both are specified as having case-sensitive keys, and Rosetta pulls the keys directly from published sims, which are in JavaScript, an

[2019-11-23 22:07] pixelzoom commented on #216
Doing the "chains test" seems worth it -- and required, eventually. But if "a couple of hours" is not currently available for doing that test, this doesn't impact my work and the issue can be deferred. As I said in https://github.com/phetsims/rosetta/issues/216#issuecomment-554599377, I've taken a different approach in Natural Selection.  And until this is investigated, I'm generally going to err

[2019-11-28 13:57] kathy-phet commented on #214
FYI - When I was demoing translation at a conference this week, I noticed that the a11y strings are appearing in Rosetta, should this be happening? It seemed like all of this discussion is around disabling that for now (although I cannot recall why we would want to disable it?)?

![image](https://user-images.githubusercontent.com/5096804/69811847-3afe1a80-11ac-11ea-8f50-570731e4d505.png)

Raising

[2019-11-28 14:00] kathy-phet commented on #214
@jbphet - Please review my comment above. Is this what is expected? That is, are we now ready for translators to translate a11y strings? If so, we should tell them! If not, we should hide these.

[2019-12-02 17:52] mattpen commented on #204
@kathy-phet requested to bump priority to medium in https://github.com/phetsims/website/issues/966.

[2019-12-02 19:24] jbphet commented on #214
@kathy-phet - I've looked into this, and those strings are actually from the "Keyboard Shortcuts" dialog.  As such, it's probably appropriate that they are translatable and aren't identified as a11y strings.  Please let me know if you disagree and, if so, we can create a new issue and track further discussion there.

[2019-12-03 18:29] jbphet commented on #214
I spoke with @kathy-phet in person, and she's fine with the strings from the "Keyboard Shortcuts" dialog being available for translation.  She just initially thought that some of the strings looked like those used for screen-reader-based descriptions and wanted to make sure that such strings weren't leaking into the translation interface before we're ready for it.

[2019-12-04 21:02] jbphet opened #217 "Only saved strings should be saved to DB"
While working on #208, I noticed that all non-zero-length strings are being saved to the DB when the user presses the "Save" button on the translation page, as opposed to just saving those strings that were changed by the user.  In most cases, this doesn't cause any problems, but I can envision a scenario where one translator starts a translation, presses the "Save" button (intending to return to

[2019-12-04 23:41] jbphet commented on #208
This took some time, but I believe I have it working now.  I've asked @oliver-phet to keep an eye out for any reports of issues from translators, and will close this for now.  If I hear of problems, I'll reopen.

[2019-12-04 23:41] #208 closed

[2019-12-05 16:37] jbphet commented on #167
This is done and has been deployed on phet-server.  Related work was done in https://github.com/phetsims/rosetta/issues/208.  Closing.

[2019-12-05 16:37] #167 closed

[2019-12-07 00:12] jbphet commented on #185
Approaches for this were discussed at the 12/5/2019 developer meeting, here's what was recorded in the meeting notes:

I looked into the command line args approach, and decided against because I'd have to change the systemctl service configuration and I have no experience with that, and also because I decided that I preferred having all the configuration handled the same way, i.e. in config file.

[2019-12-07 00:49] jbphet commented on #90
I've added the ability to set different debug levels, updated the logger, and took a pass through the code and set a number of the logging output to `debug`.  This seems to be working well, so I'll close this and just adjust the logging as needed from here on.

[2019-12-07 00:49] #90 closed

[2019-12-07 00:50] jbphet commented on #185
Implemented and verified through the use of the `rosetta-config.json` file.  Closing.

[2019-12-07 00:50] #185 closed

[2019-12-10 18:51] zepumph commented on #214
@jbphet mentioned that he is close to working on this. I'll merge the chipper branch to master.

[2019-12-10 20:14] zepumph commented on #215
This logic is now on master, so the burden is on @jbphet to make sure that rosetta can support reading this nesting. Just because the logic has been merged doesn't mean we support it. I will wait for rosetta's side to be finished before committing any nesting to an en json file.

[2019-12-10 20:25] zepumph commented on #215
When I get back to testing this, note that this patch was helpful in preliminary testing of nested objects:

<details>

[code]
</details>

[2019-12-10 23:13] jbphet commented on #214
Slack dialog with @zepumph about plan for this:

<details>
@jbphet:office: 10:07 AM
I'm going to be working on a11y support in Rosetta, and I had an idea for testing that I wanted to run by you: What if we add some a11y strings to Chains once I've got the rosetta changes implemented so that we can do end-to-end testing?  I'd probably need help from you or someone to add the strings in a legit way

[2019-12-11 15:44] KatieWoe opened #218 "CT octonode is assigned a value but never used"
[code]

[2019-12-11 17:37] jbphet commented on #218
Fixed, closing.

[2019-12-11 23:23] #218 closed

[2019-12-11 23:27] jbphet opened #219 "Get English strings for libraries from the appropriate SHA"
While working on #214, I noticed that while Rosetta is currently obtaining its English string values from the published SHA of the sim, it is getting the library strings (e.g. those in joist) from master.  It should get them from the branch of each library that is stored in the dependency file.

This hasn't seemed to cause any major issues thus far, and frankly, there are bigger fish to fry on Ros

[2019-12-11 23:31] jbphet opened #220 "Try allowing compression on fetches of string files from GitHub"
There is currently the following bit of code in one of the files that gets strings from GitHub:

[code]

I'm not sure of the history here, but at some point we should try turning on compression and seeing if it works and whether it makes performance better or worse.

[2019-12-12 16:27] jbphet commented on #215
@samreid said:

This is incorrect.  Rosetta extracts the string keys used by the sim from the live sim itself, but it obtains those values from the GitHub file containing the English strings.  That means it will need to dealing with the nested string structure.

I haven't thought about this a ton, but my initial preference would be to keep the key structures the same between the English and transl

[2019-12-12 21:14] jbphet commented on #215
This was discussed in the 12/12/2019 dev meeting, here is a summary:
+ There is no objection to storing the translated strings using the hierarchical string keys that are used in the English file.  @zepumph had suggested using flattened keys because he thought that Rosetta was pulling the string values from the live sim (instead of just the keys), so the information about what was hierarchical and

[2019-12-12 23:32] zepumph commented on #214
Because of refactoring of UtteranceQueue into its own library, there were some changes needed in the friction a11ystring-plugin branch. I committed them above to get @jbphet into a testable place for friction on that branch.

[2019-12-13 16:21] jbphet commented on #214
I used the  a11ystring-plugin branch of friction that @zepumph describes above to test how Rosetta behaves when a11y strings are present prior to adding code to identify and exclude a11y strings.  To make this test work, I added test-specific code to Rosetta to reference a built version of friction from this branch as well as the string file from the branch on GitHub.  Long story short, it behaves

[2019-12-13 16:34] jbphet commented on #215
In https://github.com/phetsims/rosetta/issues/214#issuecomment-565504941 I describe some testing that was done with nested strings in place.  What I found during that testing applies to this issue too, which is that, in its current state, nested strings will be ignored by Rosetta because it won't be able to identify them in the English strings file.

[2019-12-16 18:59] jbphet commented on #215
Deferring until after the first of the year.  I have a reminder on my calendar to pick it back up.

[2019-12-16 20:22] jbphet commented on #207
I just searched through babel using the regular expression `"value":.*\\\\n` to find occurrences of the bad version the line feed sequence.  I found 31 of them.  Yikes.  I decided to look at a couple of them individually to see how they manifest in a sim.  One example is the Slovenian version of States of Matter.  The string for "triplePoint" is `"value": "trojna\\ntočka"`, and contains the errone

[2019-12-16 20:39] jbphet commented on #207
I have manually committed fixes to a number of files that contained the bad line feed sequence.  I did this manually rather than through the translation interface because if I do the latter, I'll end up credited as one of the translators, which we don't want.  I skipped the RTL languages because they don't handle search-and-replace well in my IDE.

I have not forced any of these to be published.

[2019-12-16 21:34] jbphet commented on #213
I dug into this for a while, and I think I know what's going on.  The string "Choose Your Level!" was in fractions-common when the currently live version of this sim was published (v1.0.10).  After publication, @jonathanolson realized that this string already existed in the vegas repo, and changed the code on master to use the vegas string instead, and deleted the redundant string from fractions-c

[2019-12-17 20:19] jbphet commented on #214
The code to explicitly ignore a11y strings should now be in place in Rosetta and live on phet-server.  There were quite a number of other changes made at the same time because Rosetta was in a broken state when this issue became a priority, so we'll need to keep an eye on it.

@zepumph - I believe that it is now safe to deploy sims with a11y keys in their string files, so I'm going to assign this

[2019-12-30 16:29] oliver-phet commented on #213
Sándor just reported this issue via phethelp. Can he just submit the translation for 'Choose your level' in a sim like Fraction Matcher?

[2019-12-30 16:37] jonathanolson commented on #213
I'm not sure. https://github.com/phetsims/QA/issues/463 is pending QA but should presumably help once those are deployed?

[2019-12-30 16:54] jbphet commented on #213
I agree that once those changes are deployed Sándor should be able to add the strings for the missing keys via the translation interface and resubmit.  It will be a good test case to make sure that it all worked correctly.

[2019-12-30 21:54] zepumph commented on #214
We will go ahead with converting molarity to this new system, see https://github.com/phetsims/molarity/issues/205 for more info. I'm ready to close this issue, and just create new ones if anything comes up, but over to @jbphet just to make sure that sounds good.

[2019-12-31 17:35] jbphet commented on #214
@zepumph said:

I'd prefer **not** to close this one just yet.  I won't feel like we have fully closed the loop until we have tested the live version of Rosetta using a sim with a11y strings that has been deployed to the production web site.  @zepumph - I'm happy to do this verification, but I'll need to know when that deployment has occurred.  I'm assigning the issue back to you, please just send

[2019-12-31 18:31] jbphet commented on #207
@ariel-phet - the problem in Rosetta that was causing the broken line feeds has been fixed, and I have done a maintenance release for Isotopes and Atomic Mass to force republication of the fixed translations since there was a specific request for that one (see https://github.com/phetsims/isotopes-and-atomic-mass/issues/97).  Shall I take the time to force a maintenance release on the other sims th

[2020-01-07 00:53] ariel-phet commented on #207
@jbphet is it possible to only publish a fix in the particular translations? How many sims does this affect? I see above 31 instances (is that 31 sims, probably not, but I don't know how many). If we are able to fix just a particular translation, that would be ideal since then an update would only be triggered for an app using that particular locale.

Could we alternatively notify the translators

[2020-01-07 23:24] jbphet commented on #207
In response to @ariel-phet's questions,

Yes, at least I think so.  Rosetta tells the build server to rebuild a given translation each time new strings are submitted for that locale, so I could dig into it, figure out the URL to poke the build server, and do these sims.  I'd estimate 2-3 hrs for me to do this, start to finish.

31 is the total of sims plus locales.  Here is a list of the sims only

[2020-01-08 02:35] ariel-phet commented on #161
Marking as high priority for developer meeting since this might require a discussion with website folks

[2020-01-08 02:41] ariel-phet commented on #207
@jbphet thanks...lets go ahead with that option you mentioned above of 2-3 hours of manual "poking" work. That is likely to save lots of unnecessary updating for the app and locales not suffering from this issue.

[2020-01-08 02:57] ariel-phet commented on #43
@jbphet I think we can close this issue.

1. I agree, the current behavior with respect to common strings is what we want. I don't believe common string get updated particularly often, and it seems that when they do it would be a "better/more desirable translation" not necessarily a translation that is plain wrong. We haven't really heard any complaints about such things from our translators or in

[2020-01-08 02:57] #43 closed

[2020-01-09 15:59] mattpen commented on #161
Currently, we add a translation credit if there is a user provided in the call to the build-server, there is one locale provided, and that locale is not `*`.  If we can determine within rosetta that a translator should not be added, I think it is sufficient to simply omit the `translatorId` parameter from the post request to the build-server.  This solution would require no work on the build-serve

[2020-01-09 17:01] samreid commented on #161
What if you just put your name, and we add logic in the website display to filter out PhET team members?  Then we can use the same toolchain for updating translations that translators do.

[2020-01-09 17:07] pixelzoom commented on #161
How about a query parameter to rosetta that says "omit the `translatorId` parameter"?

[2020-01-09 17:09] pixelzoom commented on #161
How about a query parameter for Rosetta that says "omit the `translatorId` parameter", or maybe more generally `?noCredit`.

[2020-01-09 20:32] jessegreenberg commented on #161
Dev meeting 1/9/20: We like the idea of the query parameter if it is a quick solution to this problem.

[2020-01-15 19:05] jbphet commented on #219
When reflecting on this, it would be difficult to do, since these strings are shared between multiple simulations, so it would require merging in of everything that is submitted.  This is potentially doable, but not trivial.

[2020-01-28 04:16] zepumph opened #221 "Support internationalization for accessibility strings"
This is not something that we are doing right now, but I searched around a bit, and there didn't seem to be a parent issue that kept track of the increasing number of issues related to i18n and accessibility strings. Here is a like of the currently open issues that relate to this. While most have to do with work in rosetta, many don't, and we may find that this issue belongs somewhere else.

Again

[2020-01-29 04:55] zepumph commented on #215
This is tracked in https://github.com/phetsims/rosetta/issues/221, unassigning until later.

[2020-02-17 22:49] jbphet commented on #214
I just received word that Molarity has been published with the a11y strings in place, so  I tested that Rosetta is correctly ignoring the a11y by first going to the translation URL, selecting Molarity+German (resulting URL = https://phet.colorado.edu/translate/sim/molarity/de), and verifying that none of the a11y strings were presented to the user.  I then examined Rosetta's output log on phet-ser

[2020-02-17 22:49] #214 closed

[2020-02-20 22:51] jbphet opened #222 "Fix string keys that are inconsistent with object-style access"
In https://github.com/phetsims/chipper/issues/832#issuecomment-583877692 it was reported that there are a few strings in string files that are named such that key names and object names would overlap.  The list is available in the issue comment linked above, but I'll repeat it here for easy reference:

[code]

These string keys should be changed so that this problem is avoided.

[2020-02-20 22:54] jbphet opened #223 "Document how to change a string key"
Rosetta doesn't currently have good support for changing a string key after a simulation has been published and translations have been submitted.  However, it is possible to make such a change, and it has been done in the past.  We should have a document that describes how this is done so that any of the developers could do it if necessary.

[2020-02-21 21:19] jbphet commented on #222
The only common-code string in the list above is `VEGAS/label.score`.  I just when through the code base and determined which sims will need a maintenance release when this string is updated, here is the list:

+ area-builder
+ area-model-algebra
+ area-model-multiplication
+ arithmetic
+ balancing-act
+ balancing-chemical-equations
+ build-an-atom
+ fraction-matcher
+ fractions-equality
+ graphin

[2020-02-21 21:47] jbphet commented on #222
The general proposal for how to handle these is to make rename the key that looks like it has sub-values to <key-name>.text, for example, `GAS_PROPERTIES/holdConstant` will be changed to `GAS_PROPERTIES/holdConstant.text`.  This seems like a reasonable approach, and I'm going to give it a try.

[2020-02-22 00:52] jbphet commented on #222
I've worked through the checklist for the GAS_PROPERTIES string, here is what was done.  Note that a maintenance release was also needed for Gases Intro.

- [ ] For later verification, make a record of the string key that is changing and its value for at least one
translation (bonus points for doing multiple translations)
- [ ] Determine all places where the string is used.  If it is used in anoth

[2020-02-24 22:22] jonathanolson commented on #222
RCs (minus balancing-act):

area-builder 1.1 (https://github.com/phetsims/rosetta/issues/222)

- [ ] [area-builder 1.1.20-rc.1](https://phet-dev.colorado.edu/html/area-builder/1.1.20-rc.1/area-builder_en.html)

area-model-algebra 1.2 (https://github.com/phetsims/rosetta/issues/222)

- [ ] [area-model-algebra 1.2.1-rc.1](https://phet-dev.colorado.edu/html/area-model-algebra/1.2.1-rc.1/phet/area-mod

[2020-02-25 21:10] jbphet commented on #222
I verified that the changes and redeployments worked correctly by loading each of the affected simulations in Rosetta with `de` (German) selected as the destination locale, and then verifying that the new string key is visible and the old one is not, and the value for the German translation appears to be correct.  Below is a screenshot of one such case - one of the area model sims where the key `l

[2020-02-25 21:10] #222 closed

[2020-02-25 21:11] jbphet commented on #222
PS: Thanks @jonathanolson for doing the maintenance release work!

[2020-02-26 18:40] jbphet opened #224 "Use window.phet.chipper.strings to extract string keys from live sims"
In https://github.com/phetsims/chipper/issues/883 I was asked to verify that Rosetta works with the sims that are built using ES6 modules.  It doesn't, and some changes are needed.  The problem is that `TranslationUtils.extractStringKeys` searches through the HTML5 code for the pattern "string!", which indicates usages of the string plugin.  This pattern is no longer present in the HTML5 files tha

[2020-02-26 23:39] jbphet commented on #224
Changes made, tested (some), and deployed.

I tested the new way of extracting strings by temporarily leaving the old way in the code, then comparing the two, and they were equal.  I then tested the new way on ES6 sims by adding temporary code that used ES6-built sims, see https://github.com/phetsims/chipper/issues/883#issuecomment-589742117.  These tests all passed when running Rosetta on my loca

[2020-02-26 23:39] #224 closed

[2020-02-26 23:45] jbphet commented on #223
The document has been created and I walked through it once for making string changes and made updates.  That's good for now, and I'll make more edits as I and others use it.  Closing.

[2020-02-26 23:45] #223 closed

[2020-02-27 22:56] jbphet commented on #224
This functionality was tested by deploying Chains after the migration to ES6 modules, see https://github.com/phetsims/chipper/issues/875#issuecomment-592217031.

[2020-03-24 17:22] jbphet opened #225 "Prevent submission of translations with no title"
The build server fails if a simulation has no strings, and this case can come up if there is a sim that uses all common strings except for its title.  There is an issue logged for this against the build server, see https://github.com/phetsims/perennial/issues/83, but it's been around for over two years without being attended to.  I received six emails this week for failed builds due to this proble

[2020-03-24 21:28] jbphet commented on #225
I ended up adding a check that verifies that at least one sim string has been translated.  This has been tested (a little) and deployed.

[2020-03-24 23:12] jbphet commented on #225
I've asked @oliver-phet to notify translators that were recently affected by this issue.  There isn't much else that I can do to verify it other than make sure that we don't see this type of build failure anymore, but we only get those sporadically and sometimes it can be months between them.  I'm going to assume we're good to go here and close it, and will re-open if I see any of the related fail

[2020-03-24 23:12] #225 closed

[2020-04-07 16:42] jbphet commented on #113
I'm moving this issue back to "deferred" status, since I'm just not getting to it.  These days we test the live instance of Rosetta by using Chains and submitting "ab" (Abkhazian) translations, since Chains never gets published and we've never gotten a translation for the "ab" locale.  So, that's the test approach for now, and someday we can implement the ph_ET locale if we decide it's worth it.

[2020-04-20 18:10] jbphet commented on #133
I did some research on this and learned that the warning message is issued because the memory storage that is used for storing cookie-related session data never deletes old session, which is why it leaks over time.  There are a list of supported memory stores at https://github.com/expressjs/session/blob/master/README.md#compatible-session-stores.  Many of these are designed for storing session dat

[2020-04-20 18:10] #133 closed

[2020-05-15 20:04] muedli opened #226 "branch: es6plusify"
For converting Rosetta to ES6+. Mainly, we'd like to get rid of nasty callbacks and promises and have only async/await (an ES8 feature).

We're also hoping to get the branch up-to-date with arrow functions, new string concatenation, etc.

Also, I hope to clean up the code a bit, and make sure the comments and documentation are clean and up-to-date.

See https://github.com/phetsims/rosetta/projects

[2020-05-15 20:09] muedli opened #227 "Delete old branches"
It looks like there are several stale branches that can probably be deleted. I will Slack the responsible devs to make sure it's OK to delete the branches.

Slack:
- [x] phet-server (JO)
- [x] ios-i18n (MP)
- [x] mobile-app (MP)
- [ ] modularize (MB -- no longer works at PhET, so I'm just going to delete)
- [x] reskin (MP)

Delete:
- [x] phet-server
- [x] ios-i18n
- [x] mobile-app
- [x] modularize

[2020-05-15 20:22] muedli commented on #227
All old branches have been deleted. Closing.

[2020-05-15 20:22] #227 closed

[2020-06-05 00:41] muedli opened #228 "Replace the request package"
https://github.com/phetsims/website/issues/1069 led @jbphet to make [this temporary workaround](https://github.com/phetsims/rosetta/commit/579374a248bd747654117cedb15e755daa5f100b). @jbphet then asked me to replace the deprecated Node module "request".  See https://github.com/request/request/issues/3142. @jbphet read https://github.com/request/request/issues/3143 where the Node module "axios" is s

[2020-06-05 20:50] muedli commented on #228
Note to Self: It might make more sense to rename updateSimData to updateSimInfo, since that's how we're referring to it in comments. (This can be an es6plusify improvement.)

[2020-06-06 01:46] #202 closed

[2020-06-06 01:46] muedli commented on #202
This branch was stale. We still have plans to modularize Rosetta as described above.

[2020-06-06 01:57] muedli commented on #187
See https://github.com/phetsims/rosetta/projects/1.

[2020-06-06 01:58] muedli commented on #180
Stale branch. Closing.

[2020-06-06 01:59] #180 closed

[2020-06-06 02:00] muedli commented on #179
Branch was stale, so it was deleted. Closing.

[2020-06-06 02:00] #179 closed

[2020-06-06 02:01] muedli commented on #178
Branch was stale, so we deleted it. Closing.

[2020-06-06 02:01] #178 closed

[2020-06-06 02:15] muedli opened #229 "getRosettaConfig.js serves multiple purposes"
getRosettaConfig.js is only supposed to get and parse the your Rosetta config so that it can be used later.

It also sets up some Postgres variables. These Postgres variables should be set up elsewhere.

There's a comment that perfectly encapsulates the issue in rosetta.js:

[code]

[2020-06-06 02:19] muedli commented on #190
See https://github.com/phetsims/rosetta/projects/2#card-39601470.

[2020-06-09 19:43] muedli commented on #228
@jbphet and I talked and since "request" was only used in one function, we're going to scrap the idea of replacing it with "axios" and just use vanilla "https", which is what the rest of Rosetta uses. I will close this issue and delete this branch once I've got simData.js working with "https".

[2020-06-09 19:52] muedli commented on #206
This branch was deleted. Closing.

[2020-06-09 19:52] #206 closed

[2020-06-09 20:04] muedli opened #230 "branch: httpsify"
All we're doing here is taking one function in simData.js and using the vanilla "https" module instead of the "request" module. See https://github.com/phetsims/rosetta/issues/228 for more background info.

[2020-06-12 23:17] jbphet commented on #161
For https://github.com/phetsims/perennial/issues/178, I added a route that triggers a build of a sim.  The userID must be provided, but we could potentially modify it so that it doesn't, or provide a different route.

[2020-06-12 23:19] jbphet opened #231 "Add better parameter validation for trigger-build"
As described in https://github.com/phetsims/perennial/issues/178, we recently had a situation where several translations were submitted but due to problems with the build server, they didn't get built and published.  I've added a route that supports this, but it's a little crude at this point, and we should add some better validation to make sure that it is a legitimate request before it is sent t

[2020-06-15 16:18] jbphet opened #232 "Replace the now-deprecated 'request' package"
(Transferred to this repo from https://github.com/phetsims/website/issues/1072)

While working on https://github.com/phetsims/website/issues/1069, which is related to http requests, I learned that one of the packages that we are currently using, called `request`, is now deprecated.  See https://www.npmjs.com/package/request.  We should replace it.

There is an issue that describes some alternative

[2020-06-15 19:23] muedli commented on #230
I'm not going to do a branch, so closing this issue.

[2020-06-15 19:23] #230 closed

[2020-06-16 15:01] KatieWoe opened #233 "CT error config is never reassigned"
[code]

[2020-06-16 15:13] jbphet commented on #233
I think @muedli has got this.  Unassigning myself.

[2020-06-16 22:47] muedli commented on #233
@pixelzoom fixed this in https://github.com/phetsims/rosetta/commit/7a8b8f1d8bc3cc0b35dd215f0991e9ebb78be520.

[2020-06-16 22:47] #233 closed

[2020-06-16 23:12] muedli commented on #228
I've tried to use Node's built-in https module for this, but I keep getting an error that doesn't make sense to me.

`promise returned by updateSimData failed, error = TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received an instance of Object`

[Here's a link to the official documentation for h

[2020-06-17 19:35] jbphet commented on #228
I've taken a quick look at this, and I think the problem is that `getSimMetadata` isn't actually written as an async operation, meaning that there is no resolution of the promise when the data is received.  The handling of the response currently looks like this:

[code]

...so I don't think the data actually goes anywhere, and the promise isn't resolved when it is received.  I think you'll need to

[2020-06-22 09:02] muedli commented on #228
Among the dumb things I was doing here was

[code]

in the options parameter. This is what was producing the error that had me so befuddled. (It's supposed to be `auth: 'username:password'`.)

And @jbphet was right, I wasn't doing anything with the data, which is embarrassing. I believe I've remedied that in https://github.com/phetsims/rosetta/commit/fa1216283a325c109ba9ef9ad9a8c7b25862f415.

I've

[2020-06-22 21:15] liammulh opened #234 ""SELECT NOW()" test succeeds, but "result.rows[ 0 ].now" is undefined"
On @jbphet's machine, we saw the `SELECT NOW()` test succeed, but somehow `result.rows[0]now` was undefined. Keep your eyes peeled. As of this writing, this database test is in rosetta.js.

[2020-06-22 21:21] muedli commented on #231
- Look for sim name in metadata.
- Look for locales in localeInfo.js.
- Look at login and credentials to find userID.

[2020-06-23 21:05] jbphet commented on #228
@muedli and I did a bit of a real-time review of the code during our weekly check-in meeting, and for the most part it's looking good.  I was concerned that the following bit of code in the `getSimMetadata` function in `simData.js`:

[code]

I'm absolutely no expert on JavaScript promises, but it seems to me that since the function is creating an explicit promise, we may need to call the `reject`

[2020-06-24 22:06] muedli commented on #234
I did some investigating of this issue, and I'm pretty sure it's a "sighting." That is, I think it's a rare bug that makes seemingly random appearances.

That being said, John and I found some peculiarities with the error logging. I'll add these notes to the documentation.

¯\\\_(ツ)\_/¯.
Docs can be found here https://node-postgres.com/api/pool#pool.query.

[2020-06-25 00:02] muedli opened #235 "'Initial population of "simInfoObject" complete.' is logged when garbage metadata is supplied"
In `getSimMetadata`, suppose we supply some garbage metadata:

[code]

This won't work, as you won't be able to parse the redefined `rawData`.

Then in `updateSimInfo`:

[code]

In `checkAndUpdateSimInfo`, we have:

[code]

But then when we call `checkAndUpdateSimInfo`,

[code]

we fall into the `.then`. Shouldn't we fall into the `.catch`? The `simInfoObject` hasn't actually been populated since

[2020-06-30 16:07] mattpen commented on #154
Deferring priority as this isn't causing issues.

[2020-07-06 20:42] muedli opened #236 "Translate pages are taking a long time to load"
Figure out why loading pages takes so long.

When you hit the "Go" button on the `/translate/` page, the next page takes a really long time to load / maybe never loads?

[2020-07-06 20:43] jbphet commented on #122
@lmulhall-phet is going to check into this a bit.  It seems like checking of the message format has been added, and works for both of our supported pattern formats, i.e. single and double curly braces.  He'll review the code (which is client-side) and, if all looks good, just close this.

[2020-07-06 20:47] jbphet commented on #122
There is some usage of jQuery in the client-side code for this, so @muedli - as you're reviewing this code, please replace any jQuery that can easily be replaced with vanilla JS.

[2020-07-10 15:19] mattpen opened #237 "Rosetta is failing to pull localeInfo.json"
[code]

There was a reboot of phet-server on Wednesday July 8.  Maybe some untested changes were unintentionally pulled and deployed.  There were also some problems with services not able to read from the filesystem, but I'm not seeing anything in the logs to indicate that is the problem here.

This is a fatal error and is causing rosetta to not respond when signed in, see https://github.com/phets

[2020-07-10 15:44] jbphet commented on #237
Jumping in on this.  I just checked the log, and it looks like we're at SHA 3277ce6127c846d3a41ffad4499b0fb8ba2ccc90 from June 9 2020, which is basically where it should be, meaning that I don't think it's running untested code.

[2020-07-10 17:02] jbphet commented on #237
I looked through the log and it's definitely having trouble getting files from GitHub.  I tried a `wget` command for the same resource, and it worked fine, so I just tried restarting Rosetta, and that seems to have done the trick - it's working fine now.  My guess is that the DNS service wasn't fully ready when the process was starting, since the startup was triggered by a full reboot of the serve

[2020-07-10 17:02] #237 closed

[2020-07-13 20:48] liammulh opened #238 "Get rid of jQuery"
Since we can use vanilla JavaScript for everything jQuery does, get rid of jQuery.

[2020-07-22 18:02] muedli commented on #236
I did a quick investigation of this. I pulled on my macOS laptop and ran `npm run dev`. Then I tried to get to `/translate/sim/acid-base-solutions/ab`. Initially, this was taking a long time. The info and debug statements in the console stopped at "Retrieving any previously-saved-but-not-submitted strings." This statement is from routeHandlers.js.

[code]

This led me to look at the changes I made

[2020-07-22 18:09] muedli commented on #236
The above investigation leads me to think the issue might have crept in with a8aea03456ec339804aa41a5b8fc13b49b79e279 where I upgraded the "pg" module from 7.14.0 to 8.2.1. The "pg" module is used for interacting with the short-term storage database.

Then again, I'm not sure I'm barking up the right tree. Maybe the issue doesn't have to do with routeHandlers.js or the upgrade of the "pg" module.

[2020-07-22 20:22] muedli commented on #236
Remember to `npm prune` and `npm update` each time you check a commit!

[2020-07-22 22:13] muedli commented on #235
John helped me with this today. See https://github.com/phetsims/rosetta/commit/80fb3545aa5e84a5bb4097a90931500e25d34cd7.

[2020-07-22 22:14] muedli commented on #228
I'm going to make sure there aren't more corner cases that we need to consider, but the error handling here is pretty much done. See https://github.com/phetsims/rosetta/issues/235#issuecomment-662724214.

[2020-08-01 20:22] muedli commented on #228
I think, as of https://github.com/phetsims/rosetta/commit/8bab2d58f86fd3b6b5847c9031174465a7d49e19, the error handling is looking good. I'll review this with @jbphet on Monday.

[2020-08-01 22:24] muedli commented on #236
Strange new development: this is no longer happening for me. I checked on my Windows machine and my Mac machine. Then grabbed the latest version of Rosetta from master on phet-server-dev, and I didn't see any slow loading on ox-dev.colorado.edu.

1. Check with John to see if this is still happening on his machine.
2. Make sure the process I used to update Rosetta on phet-server-dev was correct.

A

[2020-08-02 20:58] muedli commented on #231
Posted wrong link in commit message 🤦. Here's the commit I wanted to link: https://github.com/phetsims/rosetta/commit/8c1424bad3c5cf6f8c4a90b8764488082fd60da1.

[2020-08-18 17:09] muedli commented on #236
@jbphet and I determined that the slow loading we were seeing was caused by not connecting to a short-term storage database in a reasonable time frame. It's possible that when the pg module was upgraded, something changed with how connecting to the short-term database works, and this is why the slow loading went away. In https://github.com/brianc/node-postgres/blob/master/CHANGELOG.md, the maintai

[2020-08-27 20:18] muedli commented on #190
I think I'm going to expand the scope of this issue to include general modularization of Rosetta.

- [ ] Create a file for setting up the short-term storage database. See TODO in rosetta.js.
- [ ] Figure out a more graceful way to handle getting the Rosetta config. See TODO in rosetta.js.
- [ ] Move code for getting saved strings out of routeHandlers.js and into its own file. See TODO in routeHand

[2020-08-27 20:43] muedli commented on #229
Closing this as it's part of https://github.com/phetsims/rosetta/issues/190.

[2020-08-27 20:43] #229 closed

[2020-08-27 20:58] muedli commented on #236
https://github.com/phetsims/rosetta/commit/1f2f518086a9b2bba445745aa99b348243339b07 should fix the timeout issue.

[2020-08-27 21:31] muedli commented on #235
The original issue has been fixed, but I need to make sure my error logging isn't weird. To be more specific, we sometimes get errors where we see something like "Error: Error: Error: {error message goes here}".

[2020-08-27 22:58] muedli commented on #236
I think we're good to close this issue.

[2020-08-27 22:58] #236 closed

[2020-09-03 21:06] muedli commented on #231
The new plan for validating the userID is...

Get the sim's translation from Babel, get every userID from the file for the translation. Check that against the query parameter supplied. In most cases, there will only be one or two userID's. Plan B: Look at the login validation code to see if there's something you can use to validate the user ID. This will probably involve having Matt help me get a

[2020-09-03 22:13] muedli opened #239 "Do we need explanations field for strings?"
When originally designed, we envisioned the ability for translators to explain why they were changing a string so as to avoid arguments between translators. That was never implemented, but there is a field in the translation data structure for it and the value is always null. Do we still need this field? Would it be useful to get feedback from the translators?

[2020-09-03 22:45] muedli commented on #235
Error logging has been fixed. See https://github.com/phetsims/rosetta/commit/80ec5735086e41d357235f1b3307727c663006db. I think we can close this issue now.

[2020-09-03 22:45] #235 closed

[2020-09-03 22:47] muedli commented on #228
Error logging is looking good as of https://github.com/phetsims/rosetta/commit/80ec5735086e41d357235f1b3307727c663006db. I think we can close this now.

[2020-09-03 22:47] #228 closed

[2020-09-03 22:48] muedli commented on #232
Request package has been replaced. Error logging is looking good as of https://github.com/phetsims/rosetta/commit/80ec5735086e41d357235f1b3307727c663006db.

This was transferred from the website repo and was tracked in https://github.com/phetsims/rosetta/issues/228.

[2020-09-03 22:48] #232 closed

[2020-09-03 22:49] liam-mulhall opened #240 "Set up automated tests for Rosetta"
We need to decide on a testing framework.

[2020-09-18 00:35] ariel-phet commented on #239
@muedli I think we can safely remove this field. So far our "trusted translator" model has worked quite well and we have not had a need for this potential feature. Feel free to remove this field.

[2020-10-01 20:51] muedli commented on #240
We've decided to use QUnit because we think it will work reasonably well for Rosetta and it is used by other PhET repositories.

[2020-10-01 21:32] muedli commented on #240
Talk to JO about setting this up with Aqua.

[2020-10-01 21:34] muedli commented on #240
Think about a more formal process for testing Rosetta.

[2020-10-08 18:06] muedli commented on #226
We no longer use this branch. Closing.

[2020-10-08 18:06] #226 closed

[2020-10-08 18:13] muedli commented on #239
Translations field removed. Closing.

[2020-10-08 18:13] #239 closed

[2020-10-15 17:35] muedli opened #242 "Can I get rid of the Docker files?"
I was initially planning on trying to make some instructions on how to use Docker with Rosetta, but I don't really see the point in doing so. If we ever need to get someone else up to speed on running Rosetta locally, the README has very detailed instructions on running it locally on both macOS and Windows.

[2020-10-15 17:35] muedli commented on #242
I think this would entail getting rid of the whole dev directory.

[2020-10-15 21:10] muedli commented on #242
Talked with JB. We're going ahead with deleting the files.

[2020-10-21 16:53] jbphet commented on #144
The fix did the trick - we are no longer seeing the spurious commits.  Closing.

[2020-10-21 16:53] #144 closed

[2020-10-22 22:02] muedli commented on #231
JB and I just did an end-to-end test. It's working. Closing this issue.

[2020-10-22 22:02] #231 closed

[2020-10-22 22:13] muedli commented on #242
Files are still on GitHub. Need to figure this out.

[2020-10-22 23:09] jbphet commented on #207
I searched through babel using the regular expression described at the top and found only two remaining occurrences of current translated strings that used the errant `\\\n` pattern.  I fixed both, and also fixed a spot where it looked like a translator _wanted_ a line break but got frustrated trying to get it to work and gave up.  I then republished all of these using the recently added "trigger-

[2020-10-23 23:53] jbphet commented on #242
During our weekly checkin @muedli and I noticed that the deleted files had not been staged for commit.  Here is a stack overflow article about staging deleted files: https://stackoverflow.com/questions/43161383/stage-only-deleted-files-with-git-add/45959365.

Also, I have suggested that setting up GitHub-IntelliJ integration would help to avoid things like this in the future.

[2020-10-26 18:23] jbphet commented on #125
This issue has been on my plate for over four years but as a low priority.  Basically, low priority means I'll never get to it, because there is never a time where I don't have a lot of high priority things to address.

@muedli has been working on Rosetta recently, so I'm going to assign this to him and he and I will discuss an implementation plan and see if we can make it happen that way.

[2020-10-27 17:44] jbphet commented on #127
We no longer provide partial translations of HTML sims that were derived from Java or Flash sims.  A while back we decided that this wasn't a great approach, since we were ending up with a number of partially translated versions each time we published a new sim with these ported Java/Flash strings in place, so instead we are now expecting translators to start from scratch when a new HTML sim is pu

[2020-10-27 17:44] #127 closed

[2020-10-27 22:33] muedli commented on #242
OK, the Docker stuff is gone for real. Closing.

[2020-10-27 22:33] #242 closed

[2020-10-27 23:54] muedli opened #243 "Replace Node Fetch"
@jbphet and I would like to replace Node Fetch with the built-in Node HTTPS module. We're doing this so that we can avoid having to rely on third-party libraries that might become outdated or deprecated. We're also trying to keep Rosetta fairly lean.

[2020-10-31 00:26] muedli commented on #220
@jbphet, I've replaced these instances of Node Fetch in longTermStringStorage.js with my built-in Node HTTPS stuff. Can we close this issue or would you like me to look into compression?

[2020-11-02 17:06] jbphet commented on #220
Closing sounds good to me.

[2020-11-02 17:06] #220 closed

[2020-11-05 23:01] muedli commented on #243
We're going with Axios. Closing.

[2020-11-05 23:01] #243 closed

[2020-11-05 23:02] muedli opened #244 "Replace built-in Node HTTP request with Axios"
@jbphet and I decided that using the built-in Node HTTP modules was too low-level. We're going to use Axios instead.

[2020-11-12 21:12] muedli commented on #244
https://github.com/phetsims/rosetta/commit/916761bd389dd50add4adf68fc5feb3b065560bc forgot to add link to this issue to commit message.

[2020-11-17 18:13] oliver-phet opened #245 "Use OAuth or Tokens for Rosetta authentication"
It sounds like @jbphet is going to transition rosetta from using basic authentication to OAuth or Tokens. This is currently blocking HTML5 sim translation.

Also assigning @ariel-phet for prioritization.

From Slack:

[2020-11-17 21:37] ariel-phet commented on #245
I think given the importance of translations to our project, fixing should be high priority (especially these days with our translation within apps, as well as the goals of Yidan prize). @jbphet you have my permission to let this fix supersede non-a11y priorities.

[2020-11-18 23:49] phet-dev opened #246 "Branch: personal-access-token"
This is a branch that was created to allow us to fix #245 without having to pull the code off of master, which is currently not ready for prime time.

[2020-11-18 23:50] muedli commented on #246
I accidentally submitted the issue as phet-dev.

[2020-11-19 00:10] muedli commented on #245
@oliver-phet, John and I think we've fixed it. Could please let the translators know that we think we've fixed it? We'll keep an eye on it.

[2020-11-19 00:12] muedli commented on #245
Note to Self: We've fixed this on a branch. We'd like to get Rosetta back to master ASAP. We're leaving it assigned to myself and John to make sure that happens.

[2020-11-19 19:05] oliver-phet commented on #245
Translators notified, it looks like we received some new translations this morning so it appears to be working.

[2020-11-19 19:11] oliver-phet commented on #207
@jbphet reopening this issue since a translator just reported a similar issue, but appears to be inserting "/n" correctly?

[2020-11-19 20:39] liam-mulhall opened #247 "It would be nice to rewrite translate-sim.js"
I'm in the process of eliminating instances of jQuery in Rosetta's code base. Right now, they're all in translate-sim.js. Anyway, I've noticed that translate-sim.js is kind of an unholy mess, and I'd like to rewrite it at some point. I'm not going to do it right now.

[2020-11-19 20:44] muedli commented on #247
Question for @jbphet: What's the oldest browser we want to support for Rosetta? I see code in here for IE 8 and lower, but I don't think that some of the new ES6 JavaScript I'm adding is supported on these browsers.

[2020-11-19 20:51] muedli commented on #247
According to our system requirements, we don't even support IE, so I'm wondering if I can get rid of that code.

[2020-11-20 16:41] jbphet commented on #247
Yes, anything related to IE support can be removed.

[2020-11-20 16:48] jbphet commented on #245
I also check the logs and saw several successfully submitted translations.

[2020-11-20 19:40] jbphet commented on #245
I'm going to remove the "priority:high" label, since the issue is mostly resolved and we are now just working to get back on master for the live versions.

[2020-12-03 05:45] mattpen commented on #204
I resumed work on this today.  The wrapper page is up at https://ox-dev.colorado.edu/en/translate.  I should note, that the work for the client redirect from /translate to /en/translate is no longer working.  To deploy these changes, there are a few concerns that need to be addressed.

1. We need to remove the existing header from rosetta.
2. The path https://ox-dev.colorado.edu/translate is still

[2020-12-03 22:00] muedli opened #248 "Make Rosetta uniform"
Ideally, the code should look like it was written by one person. I'm going to try to transform the codebase so that eventually, it looks that way.

[2020-12-03 23:12] muedli commented on #204
While reviewing this with @jbphet, I noticed that the title has a few asterisks in it.
![asterisks](https://user-images.githubusercontent.com/60749003/101099626-408dfd80-3582-11eb-99eb-d11e27266c16.png)

[2020-12-04 20:27] liam-mulhall opened #249 "Show donate query parameter ends up in our route"
@jbphet and I noticed that the query parameter that shows the donation popup can end up in our route, e.g. phet.colorado.edu/translate/?showDonate... and this basically breaks Rosetta.

[2020-12-07 17:29] jbphet commented on #249
I feel like this has come up before, but I don't recall the context, but I think I discussed it with @mattpen and he may have changed something.  @mattpen - do you know anything about this, and does something need to change on phet-server and/or phet-dev-server to make it go away?

[2020-12-08 16:56] mattpen commented on #249
This did come up before for the profile update ask.  That change didn't get applied to the donation ask, because it didn't exist yet.  I refactored the path checking so that all modal dialogs use the same logic for verifying if the path is valid for receiving these query parameters.  This will require a deploy of the tomcat application.

[2020-12-10 23:09] jbphet commented on #245
@muedli and I worked together to get the current live version onto master.  I'll watch for a few days and make sure that translations are successfully coming in and, if so, we can close.

[2020-12-15 18:19] jbphet commented on #161
The `trigger-build` route has been working well for rebuilding translations over the past several months.  The only downside is that there isn't a very good user interface, so it's a bit unlikely that anyone who doesn't have much experience with Rosetta will be able to use it easily.  Having said that, it *is* documented in `admin-guide.md`.

I think the next step for this will be to create a page

[2020-12-17 20:58] muedli opened #250 "TypeError: response.render is not a function"
When a user logs in, Rosetta sometimes crashes and restarts. We see the error in the title when this happens. We think this issue goes away if you clear cookies.

[2021-01-01 18:47] muedli commented on #250
OK, I think I’ve figured it out. It looks like someone who was neither a trusted translator nor a team member tried to access the translate page. (See line 161 in routeHandlers.js.) When this is the case, we call the renderError function. The renderError function is defined in the TranslationUtils.js module. It takes a response, message, and error. We use renderError to render the error (go figure

[2021-01-04 18:01] muedli opened #251 "Branch: checkForValidSession-rewrite"
I haven't seen https://github.com/phetsims/rosetta/issues/250 occur on phet-server in a while, but I'm still going to rewrite the outdated code (the checkForValidSession function in routeHandlers.js) that we think causes the problem.

[2021-01-05 16:54] oliver-phet opened #252 "User request: comma as decimal separator"
Here's a relevant email thread from @ariel-phet. At the time, this hadn't been a common request.

Assigning to @ariel-phet for now, I think this is the relevant repo?

[2021-01-05 18:20] muedli commented on #252
@oliver-phet and @ariel-phet, I don't think we have an easy way of doing this right now, but we could probably implement something. I don't think it would be very high priority though.

[2021-01-05 20:19] ariel-phet commented on #252
@muedli I think it would be worth putting on your radar, but agreed, not a high priority

[2021-01-06 20:27] muedli opened #253 "RTL languages can have backwards formulas"
Got an email into phethelp:

Attached screenshot:
![rtl-issue](https://user-images.githubusercontent.com/60749003/103816681-9e4eb300-5022-11eb-9885-f34e565d194e.png)

Assigning @ariel-phet for prioritization.

[2021-01-06 21:25] jbphet commented on #253
@arouinfar should also consult on this, since she speaks Persian and has done some translations of PhET sims into this language.

[2021-01-06 21:41] arouinfar commented on #253
Those chemical formulas are absolutely wrong. `CO2` should always  be `CO2`, etc. Chemical formulas and chemical symbols are a universal standard, and should never be localized.

[2021-01-13 17:46] jbphet commented on #252
There is some history to the idea of supporting i18n of decimal separators.  The bottom line is that we've wanted to do it for a while, but it has never become a high enough priority that we actually allocate the time to do it.  See https://github.com/phetsims/dot/issues/68.

[2021-01-14 22:58] ariel-phet commented on #253
@muedli given the popularity of this sim, it would be great to fix this issue. Can you determine if this is a general rosetta problem or if this is sim specific?

[2021-01-14 23:14] muedli commented on #204
@jbphet and I met with MP today. We're going with the iFrame solution.

I need to:

- [ ] Take any/all old HTML/CSS associated with the header/navbar out of Rosetta's codebase.
- [ ] Make sure /translate redirects to /en/translate by doing something along the lines of this pseudocode:
[code]
- [ ] Make sure scrolling works correctly. Iframes are dumb and you can't position them responsively, so yo

[2021-01-14 23:32] muedli commented on #253
This is a sim-specific problem. Here's a screenshot from Balancing Chemical Equations in Farsi:
![sim-specific](https://user-images.githubusercontent.com/60749003/104661470-d179ed80-5685-11eb-83b4-ff4dd148d88f.png)

I wasn't sure about this when I made this issue, but I'm now fairly certain that Rosetta doesn't have control over the content of formulas. Rosetta can be used to change the order in w

[2021-01-14 23:32] muedli commented on #253
Moving this issue to the BAM repo.

[2021-01-14 23:46] muedli opened #254 "Use new header in Rosetta"
@jbphet and I met with MP today. We're going with the iframe solution.

I need to:

- [ ] Take any/all old HTML/CSS associated with the header/navbar out of Rosetta's codebase.
- [ ] Make sure /translate redirects to /en/translate by doing something along the lines of this pseudocode:
[code]
- [ ] Make sure scrolling works correctly. Iframes are dumb and you can't position them responsively, so yo

[2021-01-14 23:47] muedli commented on #254
See https://github.com/phetsims/rosetta/issues/204 for context.

[2021-01-14 23:47] muedli commented on #254
Ah, for some reason I thought #204 was in another repo. I'm going to close this issue.

[2021-01-14 23:47] #254 closed

[2021-01-15 21:30] jbphet commented on #204
I'm going to unassign myself, since there are no actions at this point for which I'm directly and immediately responsible.  Please reassign me when and if I need to jump in on specific items.

[2021-01-16 05:27] muedli commented on #250
## Steps to Reproduce

1. Switch to 1f735de98e224d2981f288db85ff0bef185a249a.
2. Try to log in using one of the QA accounts that isn't a team member or a trusted translator.
3. You should see a 503 error.

![503](https://user-images.githubusercontent.com/60749003/104798070-d2dc1080-5780-11eb-8c73-a80e3874739f.png)

### Logs

[code]

[2021-01-16 05:29] muedli commented on #250
I'm not exactly sure why this is happening, but I rewrote the checkForValidSession function in routeHandlers.js that seemed to be the root of the problem in https://github.com/phetsims/rosetta/issues/251.

[2021-01-16 05:31] muedli commented on #251
Note to Self: I didn't link all of my commits as I was making them.

I'm going merge this branch with master and put master on phet-server and we'll see if https://github.com/phetsims/rosetta/issues/250 comes up again. I hope not!

[2021-01-16 06:09] muedli commented on #244
This is done. Closing.

[2021-01-16 06:09] #244 closed

[2021-01-18 21:39] liam-mulhall opened #255 "Branch: issue-204"
New branch for work on #204.

[2021-01-18 21:41] muedli commented on #251
This branch got merged with the main branch on 2020-01-15. No issues so far. I'll keep this issue open until I'm confident we no longer need it.

[2021-01-21 21:29] muedli commented on #204
### Redirects are working.
* As of https://github.com/phetsims/rosetta/commit/d9dc24f3732050fbdba52405a812570dd49a2fbf, the redirect script seems to be working.

### Double scrollbar is gone.
* In https://github.com/phetsims/website/commit/9f3d184dec830663cd975b7617889791f7fe1ba7, we seem to have fixed the issue with the double scrollbar. (Probably due to adding `scrolling="no"` to the iframe tag.

[2021-01-21 22:22] muedli commented on #219
We talked about this in our weekly meeting. It would be too big of a change to do right now, so we're closing. If there's a big overhaul in the future, we might consider reopening.

[2021-01-21 22:22] #219 closed

[2021-01-21 22:25] muedli commented on #213
Hey, @jonathanolson, @jbphet and I are reviewing issues. Can this be closed?

[2021-01-21 22:39] muedli commented on #207
We are 80% sure @jbphet didn't make the changes for the test route to correctly handle `\n`. Check this and fix.

[2021-01-25 17:16] samreid commented on #252
In my opinion, PhET should look "at home" in other languages, and the only reason to delay or forego this issue is if it is prohibitively expensive.

[2021-01-28 18:43] jonathanolson commented on #213
Yes, closing!

[2021-01-28 18:43] #213 closed

[2021-01-28 21:23] muedli commented on #248
This is way too vague. Closing.

[2021-01-28 21:23] #248 closed

[2021-01-28 22:29] muedli opened #256 "Possible hack attempt"
I was checking Rosetta's logs today and I saw

[code]

several times. I asked @mattpen about it and he said: "I can check the httpd logs to see if there is a common IP, and we can ask OIT to block it."

[2021-01-28 22:30] muedli commented on #256
Assigning to @mattpen to check httpd.

[2021-01-28 22:36] muedli commented on #246
This is a branch that we used to set up a GitHub personal access token for Rosetta. We also used this branch as a temporary stable branch to run Rosetta while we worked on #250. Now #250 is fixed, we no longer need this branch.

[2021-01-28 22:36] #246 closed

[2021-01-28 22:36] muedli commented on #251
We no longer need this branch.

[2021-01-28 22:36] #251 closed

[2021-01-28 22:38] muedli commented on #245
We've set up PAT and we haven't seen any issues. Closing.

[2021-01-28 22:38] #245 closed

[2021-01-28 22:53] muedli commented on #250
We are fairly certain that my rewrite has solved this issue. Closing.

[2021-01-28 22:53] #250 closed

[2021-01-29 17:23] mattpen commented on #256
I think this was a "white hat" hacking attempt.

I'm seeing a lot of requests looking for vulnerabilities yesterday from 146.6.15.0 with a User agent of UT-Dorkbot/1.0.

This looks like a legitimate service: https://security.utexas.edu/dorkbot.  The IP is registered with UT Austin: https://ipinfo.io/146.6.15.0.

We get emails from places like this occasionally if they find vulnerabilities, so it a

[2021-01-29 17:23] #256 closed

[2021-02-17 14:07] liam-mulhall commented on #207
I'm going to pull this fix onto phet-server-dev and test it out. If all goes well I will pull it onto phet-server.

[2021-02-17 14:19] liam-mulhall commented on #207
Looks good on phet-server-dev. I'll wait for JB's go-ahead to pull onto phet-server.

[2021-02-17 15:23] liam-mulhall opened #257 "Branch: no-unused-code"
- [x] Get rid of Aaron's test code.
- [x] Get rid of Aaron's test HTML.
- [x] Get rid of old QUnit test directory.
- [x] Check package.json for unused libraries.
- [x] Get rid of unused libraries.
- [x] Get rid of utility functions in routeHandlers.js.
- [x] Get rid of checkForValidSession in routeHandlers.js.

[2021-02-17 15:49] liam-mulhall commented on #257
Checking package.json for unused libraries...

- minimist is unused.
- node-fetch is unused.
- request is unused.
- qunit is unused.

[2021-02-17 16:27] liam-mulhall commented on #257
I'm going to pull this branch onto phet-server-dev to test.

[2021-02-17 16:40] liam-mulhall commented on #257
Looking good on phet-server-dev. I'll ask JB about merging with master.

[2021-02-17 17:14] liam-mulhall commented on #257
I will do a submission to the test branch of Babel to make sure everything is working.

[2021-02-17 17:30] liam-mulhall commented on #249
@mattpen, is this deployed? I haven't seen this in a while.

[2021-02-17 17:34] mattpen commented on #249
Yes, this would have been deployed around the end of December.

[2021-02-17 17:34] #249 closed

[2021-02-17 17:48] liam-mulhall commented on #187
- [ ] No instances of `var`.
- [ ] No instances of `function`.
- [ ] All inheritance done via `class` and `extend`.
- [ ] `import` statements instead of `require`.

This should probably be an epic with sub-issues. We also need to make an issue for async/await.

[2021-02-17 17:49] liam-mulhall commented on #190
This should also be an epic with sub-issues.

[2021-02-17 18:10] liam-mulhall commented on #247
At this point, this is a duplicate of https://github.com/phetsims/rosetta/issues/238. There used to be other instances of jQuery in the code base, but now it's all in translate-sim.js.

[2021-02-17 18:10] #247 closed

[2021-02-17 18:23] jbphet commented on #75
These notes could probably use an update.  For instance, they seem to reference "octonode", which I believe we no longer used.  @liam-mulhall has been working on rosetta most recently, let's have him take a pass through and update.

[2021-02-17 19:14] liam-mulhall commented on #191
Someone actually added this, but I removed all of these old tests today. The plan is to use QUnit and integrate Rosetta with Aqua. Closing.

[2021-02-17 19:14] #191 closed

[2021-02-18 18:54] jbphet opened #258 "Use MIT license"
In today's developer meeting we discussed which license should be used for this repo, since the license file and `package.json` are out of sync.  @kathy-phet said to go ahead with MIT.

For reference, here are some related issues:
- https://github.com/phetsims/special-ops/issues/183
- https://github.com/phetsims/chipper/issues/689

[2021-02-18 18:56] jbphet commented on #258
Tagging @liam-mulhall, since he originally pointed this out.

[2021-02-18 18:58] jbphet commented on #258
Looks like @zepumph did this in https://github.com/phetsims/rosetta/commit/705eedcd33d65b39754f892eee4f7d81a4f9d81e.  Closing.

[2021-02-18 18:58] #258 closed

[2021-02-22 22:45] liam-mulhall opened #259 "Create script or route to indicate which strings still need to be translated"
@kathy-phet mentioned the need for a script that spits out a CSV file for a sim containing the strings that haven't been translated for that sim.

@jbphet thinks it would be a good idea to create a subdirectory `scripts` in the `js` directory.

### Ideas

* Supply locale as command line argument. Generate CSV for all untranslated strings in that locale
* Spit out number of strings untranslated / n

[2021-02-23 03:23] pixelzoom opened #260 "Add documentation about changing common code string keys on master"
On 4/9/2020 in https://github.com/phetsims/scenery-phet/issues/570#issuecomment-611681781:

Since that was 10 months ago, I'm moving this documentation task from scenery-phet to rosetta, and closing the scenery-phet issue.

I really don't understand https://github.com/phetsims/scenery-phet/issues/570, so if @jbphet has questions, he should consult with @zepumph.

[2021-02-23 16:59] zepumph commented on #260
I changed the name. The PSA came out of a specific case, but it demonstrated a general constraint of Rosetta and i18n strings in our project. For common code, we always take the string values from master. Thus each version of each sim doesn't have its own, branched set of strings for scenery-phet. This makes sense when thinking about reusing the same translations between multiple sim versions, bec

[2021-02-24 17:06] liam-mulhall commented on #259
I'll need a list of published sims. Maybe get this from metadata.

[2021-02-24 17:13] liam-mulhall commented on #259
See also #121.

[2021-04-04 04:58] liam-mulhall opened #261 "Can't get sim HTML for NLO"
I made a function `getLocaleStringReportHtml` in `routeHandlers.js`. It makes a string of HTML that is used to display all untranslated string keys for a given locale. Seemingly works well for all other sims. I get a 404 when I try to get the HTML for Number Line: Operations.

[2021-04-05 19:16] liam-mulhall commented on #261
My Rosetta config was set up incorrectly. It was `"productionServerURL": "https://ox-dev.colorado.edu"`. Closing.

[2021-04-05 19:16] #261 closed

[2021-04-08 16:22] oliver-phet opened #262 "User reported issue: can't test or save translations, translations aren't published"
Sims: Build a Molecule, Collision Lab, Energy Skate Park, and Number Line: Operations

Apr 8, 2021, 4:09 AM:

@jbphet @liam-mulhall can you guys investigate?

[2021-04-08 16:24] jbphet commented on #262
@oliver-phet - What was the locale or language that this user was attempting to translate?  Knowing this will help us search through the logs for what went wrong.

[2021-04-08 16:42] oliver-phet commented on #262
Whoops, KO korean!

[2021-04-08 16:48] jgpATs2w opened #263 "i18n: decimal comma separator"
Unless there is other repo/mechanism to handle with internationalization, i would suggest to include dot in babel, with a parameter to allow translators to select the decimal separator, and make proper replacement in Utils.toFixed().
As always..., thanks for this great simulations!!

[2021-04-08 16:56] jbphet commented on #263
This feature was discussed in the 4/8/2021 Q2 planning meeting and here are some things that are worth noting:

- We have a decent chance of getting some funding that could support the development of this feature in Q3 or Q4 of this year.
- We're not sure exactly how we'll decide in a given sim what to use as the decimal separator, i.e. whether it will be automatic based on the browser locale, or

[2021-04-08 17:55] liam-mulhall commented on #262
@oliver-phet, did the person say when they were trying to translate?

[2021-04-08 17:58] oliver-phet commented on #262
First email received Apr 5, 2021, 6:19 PM
Second email Apr 8, 2021, 4:09 AM

I would assume it was near those timestamps, but if it is important to diagnose the issue, I could ask the translator if they know exactly when they were trying to translate.

[2021-04-08 18:19] liam-mulhall commented on #262
I just logged into phethelp and got the email address. It's easier that way. I'm going to make some notes for myself. At this point I'm just looking at logs after 3/30.

Here's one error the translator experienced:
[code]

[2021-04-08 22:08] liam-mulhall commented on #262
It looks like longTermStringStorage.saveTranslatedStrings is sometimes not being called when a string submission is made.

[2021-04-08 22:35] liam-mulhall commented on #262
I should check to see when this issue started. It would be nice to know if any these instances where `saveTranslatedStrings` isn't called initially if it's *ever* called.

We should see something like this:
[code]

But occasionally, we're seeing:

[code]

[2021-04-08 22:42] liam-mulhall commented on #262
# Next Steps

- [ ] Make sure Ox-Dev is running the same version as phet-server.
- [ ] Test submitting a form with no changes.
- [ ] If the logs match the issue case, push the debug statement to master and pull master from phet-server.
- [ ] Ask the translator to retry submitting strings so that we can watch the logs with the debug statement. (We're looking for a situation where `stringSavePromise

[2021-04-15 21:08] jbphet commented on #262
I just took a quick look at the logs to make sure other translations are being successfully submitted and published, and it seems like things are working fine.  I'm seeing an Armenia translation of Arithmetic on 4/14/2021 at 11:52 AM our time, an Uzbek translation of States of Matter on 4/14/2021 at 8:50 AM, and a German translation of Ratio and Proportion on 4/13/2021 at 11:01 PM.  I verified tha

[2021-04-15 22:21] liam-mulhall commented on #262
I need to create a new branch of Babel.

[2021-04-29 20:48] liam-mulhall commented on #262
Submitting a form with changes:
[code]

Submitting a form with no changes:
[code]

[2021-05-13 17:39] liam-mulhall commented on #257
This branch got deleted before I could merge with master. I will commit these changes to master and test them before deploying to phet-server.

[2021-05-13 18:34] liam-mulhall commented on #257
I submitted an Abkhazian Chains translation on the tests branch of Babel, and everything seems to be working.

[2021-05-13 18:52] liam-mulhall commented on #262
Email was sent to user asking them to submit a translation to do the test outlined in https://github.com/phetsims/rosetta/issues/262#issuecomment-816278743.

[2021-05-13 19:23] liam-mulhall commented on #262
Both of the tests the user did have the following line.
[code]

[2021-05-13 21:19] liam-mulhall commented on #262
I'm going to try to reproduce this issue on Ox-Dev with the tests branch of Babel. I will submit a BAM translation.

[2021-05-13 22:27] jbphet opened #264 "CT: lint issue"
There is a CT issue for rosetta:

[code]

[2021-05-13 23:46] #264 closed

[2021-05-14 16:47] liam-mulhall commented on #257
These commits are now live on phet-server.

[2021-05-14 16:47] #257 closed

[2021-06-11 19:38] liam-mulhall commented on #262
The user provided OS + browser versions:

[2021-06-11 19:43] liam-mulhall commented on #262
Further testing and log checking seems to be in order. I will coordinate with @KatieWoe since I don't have access to a Windows 10 device at the moment.

[2021-06-29 20:57] samreid opened #265 "Enable lint rule `require-atomic-updates`"
From https://github.com/phetsims/chipper/issues/814#issuecomment-838724968 we agreed to enable the lint rule "require-atomic-updates", but there are 6 offenses at the moment, currently all in rosetta.  They should be fixed or have the lint rule disabled for each occurrence, and the rule in chipper should be turned on.  @jbphet can you please take a look?

[2021-06-30 15:51] jbphet commented on #265
@liam-mulhall - I'm turning this over to you to have a look.  We can discuss in our next weekly meeting if it would help.

[2021-06-30 21:20] liam-mulhall commented on #68
We are no longer using this `visible` field to hide a11y strings. I will remove references to this in Rosetta.

[2021-07-15 15:24] KatieWoe opened #266 "CT expected to return a value at the end of async function"
Also shows up in perennial
[code]

[2021-07-26 17:59] jbphet commented on #262
I'm going to unassign myself.  @liam-mulhall and I have been checking in on this regularly, and it seems like there must have been something odd about the interaction that this particular user had.  We should have him re-submit and, once the problematic translations have been successfully submitted and published, we should be able to close this.

[2021-07-29 19:00] jbphet commented on #259
Also, it would be good to include a route for identifying which sims are completely untranslated for a given locale as part of this.  @liam-mulhall and I have already discussed this quite a bit, I just thought it would be good to put it into this issue.

[2021-08-26 16:17] mattpen opened #267 "Email addresses should not be logged"
While researching a build failure for a translation, I discovered that email addresses and first names are being logged in rosetta when a user logs in.  I think it is ok to log the user ID, but the PII should not be logged to comply with our future privacy policy.  Let me know if I should provide more context on why we should make this change.

[2021-08-27 15:38] KatieWoe opened #268 "CT Lint failed with status code 6"
Also in perennial
[code]

[2021-08-27 21:01] #268 closed, assigned to liammulh

[2021-08-30 19:45] jbphet commented on #267
I think it should be pretty straightforward to remove the email information from the logging.  Leaving this to @liam-mulhall.  I don't think we need to make it into asterisks as @mattpen showed above, we can just leave it out entirely.

[2021-09-02 12:27] JacquiHayes commented on #263
A couple more from my experience:
In Switzerland, they separate the thousands with an apostrophe and the decimal with a dot: 123'456.789
(This is not necessarily the standard for science, but it is definitely the standard for money and currency, so this will only need to be taken into account for any personal finance sims if we make them)
In India, they first separate by the thousands, then not mi

[2021-09-21 02:24] liam-mulhall opened #269 "Patch in string file typo fix"
In https://github.com/phetsims/faradays-law/commit/63179e1b8c2ddb567710ab04e1f1a0cd8ea13234 and https://github.com/phetsims/faradays-law/commit/81f150c6bc0a690f206feba1304213c15899c49f, I fixed typos in the strings file that were causing problems in the new version of Rosetta.

For context, the new version of Rosetta gets the sim's HTML, then tries to parse the string JSON. It couldn't parse the J

[2021-09-27 17:15] jbphet commented on #269
I'm in agreement that users should be able to use the double quote character in strings.  @liam-mulhall - Is this a new problem that has come about because some of the refactoring that is being done?

[2021-09-30 18:27] jbphet opened #270 "Rosetta should strip leading and trailing whitespace added by translators"
In https://github.com/phetsims/chipper/issues/619 it was noted that there are some problems with whitespace in our strings.  We're going to take several steps to deal with this, but one should be to add code to Rosetta to strip out leading and trailing whitespace that is added by a translator when submitting or testing strings.

As part of this effort, we should decide whether to fix existing tran

[2021-09-30 18:28] liam-mulhall commented on #270
Noted. Thanks, @jbphet.

[2021-10-08 20:23] liammulh opened #271 "Add Client-Side Testing Framework"
Most of PhET uses QUnit as a testing framework, so the backend of Rosetta will use QUnit.

We would like to use QUnit for the frontend, but React + QUnit isn't as idiomatic as React + Jest, so we may end up using Jest for the frontend.

[2021-10-13 22:05] liammulh opened #272 "Upgrade Rosetta (Modular, ES6+, React, String Improvements)"
To keep the Git history of both the old Rosetta and the new Rosetta rewrite, we will need to create a branch and merge the branch. See https://stackoverflow.com/a/1684694.

[2021-10-13 22:07] liam-mulhall commented on #272
Also see https://stackoverflow.com/a/32684503.

[2021-10-27 05:36] kathy-phet opened #273 "Translation Utility: Finish missing strings functionality"

[2021-11-03 22:27] oliver-phet opened #274 "Rosetta 2.0 design mockups"
@liam-mulhall [here are the mockups we went over today (.ai)](https://drive.google.com/drive/u/2/folders/15ewte989-vcqOCBnG3nqaXMy8oG62TkZ)

[2021-11-03 22:28] oliver-phet commented on #274
Nice Font awesome sort icons:
[Sort icon](https://fontawesome.com/v5.15/icons/sort)
[Sort down](https://fontawesome.com/v5.15/icons/sort-down?style=solid)
[Sort up](https://fontawesome.com/v5.15/icons/sort-up?style=solid)

[2022-01-10 19:52] oliver-phet opened #275 "Missing fa CCK:AC translations"
A Persian (fa) translator just wrote in that they have translated both AC sims but neither has been published to the site. Both sims have [string files](https://github.com/phetsims/babel/tree/master/circuit-construction-kit-ac)

Assigning @liam-mulhall and @jbphet

[2022-01-10 20:50] jbphet commented on #275
I can see two build error notifications in my email inbox, and one of the lines says, "Error: Cannot find module 'acorn'".  That means that the problem is likely caused by the problems that we've been having lately with builds due to the recently introduced dependency on this module, see https://github.com/phetsims/perennial/issues/256.

[2022-01-10 22:15] jbphet opened #276 "The trigger-build route is working but not returning a decent response"
In https://github.com/phetsims/rosetta/issues/161 we added a URL (aka a "route" in ExpressJS terms) to trigger builds of translations without adding ourselves as translators to the credits.  I just used it while working to address some reports of missing translations (see https://github.com/phetsims/rosetta/issues/275), and according to the build server log, it worked, but in the web browser we go

[2022-01-11 18:14] jbphet commented on #275
@oliver-phet - I was able to publish these translations by triggering a rebuild, so the immediate problem is resolved and you can let the translator know that Persian translations of CCK-AC and CCK-AC-virtual-lab are now available on the site.

For what it's worth, we are working on the issue that caused this in the first place, but it's not fully resolved yet, so it is possible that this could co

[2022-01-11 18:18] oliver-phet commented on #275
Thanks, @jbphet. Translator notified!

[2022-01-11 18:18] #275 closed

[2022-01-18 19:38] liam-mulhall commented on #276
@oliver-phet was having issues using the trigger build route, so I worked on this a bit. @mattpen helped me diagnose the issue. (Thanks, Matt!) Not sure where this issue crept in. I believe this issue is fixed in https://github.com/phetsims/rosetta/commit/4f52e00963b8d4b5cd6c97e08a2f970b2ee0b691.

I tested locally and I was able to see the old "success" message:

![fix](https://user-images.githubu

[2022-01-19 18:25] jbphet commented on #276
@liam-mulhall asked:

I'm okay with waiting until the refactor is completed and redeployed, then testing a trigger-build operation and verifying that we get a good response.  It seems wise to leave it in a stable-but-mildly-broken state verses risking a fix that could end up costing us time.  Assigning back to @liam-mulhall for follow-up once the refactored version is live.

[2022-01-20 23:43] jbphet opened #277 "Allow translation of prototype simulations"
@oliver-phet joined the weekly review of the translation utility status today, and requested that we start to allow the translation of prototype simulations.  According to him, we are going to start making these more visible on the website and, when we do, we should enable translation of them.

@liam-mulhall is in the process of rewriting rosetta to use react, but he estimates at least 3 to 4 week

[2022-01-20 23:54] jbphet commented on #277
I just looked at the metadata for the sims, and it looks like the field `visible` is what is used to designate a sim as a prototype.  In other words, if `visible` is set to `false`, the sim is a prototype and not fully shown to users on the main website.  Here is an excerpt that shows the Greenhouse Effect, which is currently considered a prototype, and Hooke's Law, which is fully published (I rem

[2022-01-20 23:56] jbphet commented on #277
@oliver-phet - Let me know when the prototype changes that you described are live, and I'll go ahead with figuring out how to make this change to rosetta on the main server.

[2022-01-21 00:00] oliver-phet commented on #277
@mattpen Can you confirm that the `visible` field is what we use to identify sims as prototypes?

[2022-01-21 19:04] mattpen commented on #277
I think the changes to accomodate the breaking changes would be minimal.  Basically, the localizedSimulations object changed from an array of objects with locale and title properties, to an object whose keys are the locales and the values are objects with a title property.

Example (Hooke's Law, en and es only):
1.3:

[code]

1.2:

[code]

<details>

<summary>
Here's a patch that I think would wor

[2022-01-24 18:17] jbphet commented on #277
Assigning this issue back to me for more investigation.  I'll try the 1.3 metadata locally, see how it works and how significant the changes are to switch to it, and we can go from there.

[2022-01-31 16:39] oliver-phet commented on #262
@KatieWoe have you tested or identified any issues on Win10?

[2022-01-31 16:44] KatieWoe commented on #262
@liam-mulhall correct me if I'm wrong, but I believe that the testing was done in https://github.com/phetsims/qa/issues/658 and it doesn't look like was anything was found there. Let me know what else we can do to help. @stemilymill can you confirm this was done on Win 10?

[2022-01-31 17:11] stemilymill commented on #262
@KatieWoe yes, I did the testing in https://github.com/phetsims/qa/issues/658 on win10

[2022-01-31 17:22] KatieWoe commented on #262
In that case, @liam-mulhall let us know what more we can do to help track this down. Would it help to set up a pair time to work in tandem?

[2022-02-01 21:47] oliver-phet commented on #277
@jbphet I noticed the Prototypes have been [translated into Portuguese (Brazil)](https://phet.colorado.edu/en/simulations/filter?locale=pt_BR&type=prototype). Was this intentional? The translator who submitted is NOT a team member.

[2022-02-02 18:04] jbphet commented on #277
Interesting.  No, I haven't done anything on this yet.  I'll spend some time today and see what I can figure out.

[2022-02-03 19:38] liam-mulhall commented on #262
Yeah, that's the status of this issue. We don't know why it's happening and we haven't been able to reproduce the issue. Almost all of my PhET Rosetta time is being spent on the refactor.

Perhaps. @jbphet, do you think it's worth it to spend more time on this issue given that it could be resolved by the refactor?

[2022-02-03 19:42] liam-mulhall commented on #262
Here are a couple of WAG's:

* bad character set?
* browser extensions messing with the form?
* browser settings?

[2022-02-03 19:50] liam-mulhall commented on #262
More spitballing:

[code]

leads me to think there's something going on where the user is typing stuff in, but for whatever reason, when the form is submitted, it's somehow empty. What could do something like that? Is it possible that they have JavaScript disabled?

[2022-02-03 19:54] liam-mulhall commented on #262
I think we should try doing a test where we disable JavaScript in Chrome and see if we can reproduce.

[2022-02-03 20:54] oliver-phet commented on #262
@liam-mulhall I'm going to ask the translator to try disabling all extensions in an incognito window.

[2022-02-03 21:02] jbphet commented on #262
@oliver-phet - Do we only have one translator for this locale?  If there is another, it would be good to reach out to them and have them try to submit.  It would help us to figure out whether the problem is unique to the one translator (which seems to be our leading theory at the moment), or something to do with the locale.

[2022-02-03 21:04] oliver-phet commented on #262
Only one translator. But couldn't any of us test submitting a Korean translation?

[2022-02-03 21:05] liam-mulhall commented on #262
We did and we can't reproduce the issue.

[2022-02-03 22:20] liam-mulhall commented on #262
@oliver-phet, you should also suggest trying a different browser and (if possible) a different computer.

[2022-02-04 18:04] jbphet commented on #277
@oliver-phet - I believe you have a login that is set up as a trusted translator and not a team member.  Can you please log in with those credentials and let me know if you see Greenhouse Effect on the list of sims that are available for translation?  I'm trying to figure out how it got translated, and it's all a bit mysterious at this point.

[2022-02-04 18:15] oliver-phet commented on #277
No - Greenhouse Effect (nor other prototypes) are visible in the list. This was tested using a non-team member translator account.

[2022-02-04 18:25] oliver-phet commented on #262
@liam-mulhall ko translator reported back that Edge was tried and the same error (submitted, but the babel file doesn't exist; can't test or save).

I'm suspecting Javascript might be disabled (in both browsers?) I'm going to request console output on test/save to see if that offers any clues.

[2022-02-04 18:32] liam-mulhall commented on #262
To disable JavaScript, you have to go to settings and toggle it off. I'm pretty sure it's enabled by default on Chrome and Edge.

It would be weird if the user disabled it because it would break a lot of websites.