[2015-01-15 18:15] pixelzoom opened #1 "UX design for HTML5 translation utility"
This issue is to track what we want the UI (used by the translator) to look like. We'll probably explore this via creation of wireframes.

[2015-01-20 19:50] pixelzoom commented on #1
@ariel-phet Has anyone at PhET researched tools for creating UX wireframes?

[2015-01-20 19:55] emily-phet commented on #1
Not to my knowledge, but I can ask the Inclusive Design Research Centre folks how they create theirs during our next meeting (next week).

[2015-01-21 06:34] ariel-phet commented on #1
I mean, we use illustrator for mockups obviously, but do you mean a program in which you can make interactive mockups?

The UX that did the teachwithphet design used a program called Invision

http://www.invisionapp.com/

Seems like it might be worth checking out

[2015-02-04 22:46] pixelzoom commented on #1
At 2/3/15 dev meeting, it was decided that I should do a paper design, rather than spend time fiddling with wireframe tools. (Now where did I put my pencil?...)

[2015-02-17 21:47] pixelzoom commented on #1
Met with @ariel-phet on 2/17/15 and we sketched out some things. I sent him a PDF scan of my notes and sketches.  He's planning to flesh out, possibly with wireframe tools.

[2015-02-20 22:42] pixelzoom commented on #1
Assigning this to @ariel-phet since he said he was going to produce (or assign) the first round of mockups, based on our 2/17/15 design meeting.

[2015-03-02 21:05] pixelzoom opened #2 "missing Gruntfile and phetLibs"
Rosetta can't be linted because it has no Gruntfile.js, and it's missing phetLibs in package.json.

[2015-03-03 16:22] jbphet commented on #2
It's not a sim and doesn't have any dependencies on any PhET libraries, so it doesn't need to have phetLibs.  Adding a grunt file probably makes sense to make the project lintable.

[2015-03-03 16:26] pixelzoom commented on #2
I suspect that it will have dependencies on PhET libraries so that Rosetta and sims are both using the same i18n-related utilities (e.g., for code used to validate strings).   So for now, I recommend adding:

[2015-03-03 16:33] pixelzoom commented on #2
I made rosetta lintable. Assigning to @jbphet to make sure this doesn't cause any problems.

[2015-03-04 19:23] jbphet commented on #2
Linting works, thanks.

There are a number of items in the devDependencies field of package.json that I don't think are really needed, since this isn't a sim and will not be built as such.  However, I'm reluctant to remove them because, I don't know, maybe the grunt tools will freak if the things needed for the other sims around around.  So for now at least, they will be left.

Main issue addresse

[2015-03-04 19:23] #2 closed

[2015-03-04 21:42] pixelzoom commented on #2
@jbphet FYI, I did try paring devDependencies down, but it appears that they are all needed in order to runt the 'lint' task.

[2015-03-06 19:15] jbphet commented on #2
That settles it then: they stay.

[2015-03-09 16:48] jbphet opened #3 "Improve look of the current prototype pages"
The prototype pages are incredibly basic at this point.  It would be good to add some PhET styling, similar to what was done for the sonification page, which can be seen here: http://www.colorado.edu/physics/phet/dev/sonification/sonification-links.html.  For now, it is okay for the translation code to directly access the CSS file at the web site, though eventually we may want to separate the two.

[2015-03-09 17:05] jbphet opened #4 "Add logging"
As of this writing, the translation utility logs a fair amount of debug information using console.log.  This should be replaced with a logging system.  Unless anyone objects, I'm thinking we should use the same logging system that is being used for the port of the installer-builder code, which is called "winston" and can be found here: https://www.npmjs.com/package/winston.  Examples of its usage

[2015-03-09 17:18] jbphet opened #5 "Pull the information in TranslatableSimInfo out into a separate JSON file"
For some initial prototyping of the translation utility behavior, a JavaScript type was created that contained simulation-specific information needed by the translation utility, such as which simulations were available for translation and where to go to get a link to the sim.  This information was hard coded into the object.  This object's API should be retained, but the information should be move

[2015-03-09 18:03] jbphet opened #6 "Create utility for extracting string usage info from built sim"
The translation utility will need to be able to determine exactly which common code strings are in use within a given simulation.  In support of this, we will need a utility that takes the URL of a published simulation (or any simulation, for that matter) and returns a JavaScript object that lists the used strings.  This can be done be scanning the file for all occurrences of "string!<project-name

[2015-03-09 18:16] pixelzoom commented on #6
@jbphet wrote:

So for example, 'PHET_CORE' to 'phet-core'. I'm a little nervous about doing this by mapping to lowercase and changing '_' to '-', because it assumes that the convention will be followed unvaryingly in config.js.  And that hasn't been the case (e.g., https://github.com/phetsims/build-a-molecule/issues/69). It would be safer to read config.js, but perhaps not worth the hassle. I gue

[2015-03-09 18:21] pixelzoom opened #7 "strings from "other sims""
This was mentioned at a design meeting, but wanted to make sure that it doesn't slip through the cracks. We've been speaking of "sim" strings and "common" strings.  But in the case of sims that depend on other sims (e.g., concentration depends on beers-law-lab), there is a 3rd category, call it "other sim" strings.

Questions:
How do we know which repos is pheLibs are other sims?
How are "other si

[2015-03-09 18:25] pixelzoom opened #8 "UX mockups"
On 2/17/15, @ariel-phet and I met to do UX design. The end result was a PDF file of my notebook sketches. The intention was to flesh those out and share them with the design team.  In the past few design meetings, I've been feeling more urgency about this issue, since it's clear that we're not all entirely on the same page about the UX.

Assigning to @ariel-phet to move this forward.

[2015-03-09 19:05] jbphet commented on #6
Agreed - I'm a little nervous about it too, and had the same thought: This rather forces us to be consistent in our naming conventions within the config files.  We may want to add some enforcement of this to the build tools.

[2015-03-09 21:57] aaronsamuel137 commented on #3
Assigning to @BrianNewsom. We can go over some more details next time we pair program if you'd like.

[2015-03-10 05:27] aaronsamuel137 commented on #6
I've added this as a route for now just so you can run it and see the output easily from rosetta. Not sure where it should go ultimately.

Take a look at /extractStrings for an example.

Assigning to @jbphet for review.

[2015-03-10 05:55] BrianNewsom commented on #4
I'm not sure if it's a permissions issue or if the link is broken, but I don't see anything at https://github.com/phetsims/installer-builder.

[2015-03-10 06:00] aaronsamuel137 commented on #4
It's a private repo, I've just given you permissions.

[2015-03-11 16:26] aaronsamuel137 commented on #5
@jbphet, what do you think about using MongoDB vs a json file? @BrianNewsom has some experience with MongoDB and is comfortable going that route if that is a better long-term solution.

[2015-03-11 20:34] jbphet commented on #6
Generally looks good.  A couple of comments:
+ Let's leave it on a route for now, but pull the utility into a separate class - TranslationUtils seems like a good name for now but feel free to go with something else.
+ Please have it take just the URL as the input parameter.  You can assemble it as you did in the route, but I'd like to be able to pull it from anywhere, i.e. from phet.colorado.edu e

[2015-03-11 23:57] aaronsamuel137 commented on #6
OK I think I've fixed these issues. I've moved extractStrings to a file TranslationUtils - but I am still importing into in rosetta.js via routes, so all the routes come from the same place.

[code]

I'd be fine to import it directly into rosetta.js from TranslationUtils if that is preferable.

[2015-03-12 00:01] aaronsamuel137 commented on #6
Assigning to @jbphet for review

[2015-03-12 06:41] BrianNewsom commented on #4
I took a first stab at this.  The file structure didn't quite resemble that of installer-builder so I had to handle things a little differently.  Instead of passing the requirements around, this app just requires everything used, so I created a Winston logger factory that is imported in each major file requiring logging.  If this is bad practice or hard to maintain (which I could see depending upo

[2015-03-12 18:05] aaronsamuel137 commented on #3
@BrianNewsom, we decided that we are going to have the css in rosetta completely separate from the website repo. Feel free to pull images from the main website though (i.e. link to phet.colorado.edu instead of copying the image files into rosetta).

In addition, you don't need to match the top banner with the main website, just make it look sort of similar, and also smaller. No need to keep the se

[2015-03-13 23:19] jbphet commented on #5
The idea of using MongoDB was discussed at the 3/13/2015 translation meeting, and we decided against it for now.  The main reasons are:
+ If we consider doing this, we should weigh it against the alternative of adding a new DB to the PostgreSQL database that is being used for the main site.  Might be simpler to just have one DB server.
+ Lack of experience with MongoDB

We may well change our mind

[2015-03-16 23:02] jbphet opened #10 "Investigate direct interaction with GitHub for pushing translated string files"
During the 3/12/2015 we were discussing whether we needed to have a local repository in order to push things to GitHub, or whether we could just push directly.  Pushing directly has the advantage of simplicity - we don't have to set up a local repo, make sure it is up to date, etc.  However, having a local repo may make it easier to handle merges, rebases, and such.  We should investigate which ap

[2015-03-17 19:10] jbphet opened #11 "Distinguish admin users from non-admin users"
We will probably need to have some administration pages that allow us to do things like update the list of translatable simulations.  In order to do this, we will need to distinguish regular users from users with administrative privileges.  The main web site already distinguishes such users, so we should figure out how to get such information to Rosetta and incorporate it into the user validation

[2015-03-18 16:09] aaronsamuel137 commented on #4
Looks pretty good. A few comments:

#### 1.

I think it would be better to explore an alternative to the factory approach you are using. It seems odd to have

[code]

as a module import, since the rest of the imports are not function calls like this, and it is not consistent with the import convention of:

[code]

Would it be possible to follow a pattern more similar to the installer build? I have

[2015-03-18 16:09] aaronsamuel137 commented on #4
Assigning to @BrianNewsom

[2015-03-18 17:08] aaronsamuel137 commented on #11
I've updated the website code to give a "teamMember": [boolean] response in the JSON. Right now all that happens when a team member is detected is a log statement, but it seems to be working. Anything else we need to do for now on this issue?

I've also changed the url for /check-login to /services/check-login to make it more consistent with the rest of the website.

Assigning to @jbphet for revie

[2015-03-24 21:40] BrianNewsom commented on #4
@aaronsamuel137 added logging with winston & parsing of command line arguments.  A lot of it is straight out of installer builder.  Let me know what you'd like to see done differently.

[2015-03-24 21:53] BrianNewsom commented on #5
@jbphet I just moved the data into a JSON file, pretty simple and quick.  Let me know if this is not what you intended or if there's a better way to do this.  Thanks!

[2015-03-25 15:11] aaronsamuel137 commented on #4
Looks great, thanks! Closing

[2015-03-25 15:11] #4 closed

[2015-03-26 07:47] BrianNewsom commented on #3
@aaronsamuel137 I've got something up - a lot is just taken from sonification and then a few simple additions.  I added the user up in the bar at the top - I'm not really happy with it but I think if done well it could be nice.  Let me know what you'd like to see done differently! Thanks.

[2015-03-26 19:31] aaronsamuel137 commented on #4
@BrianNewsom - one thing I didn't catch before. If you are adding a new module like winston, be sure to add it to the package.json file so that it is automatically installed with ```npm install```. See my last commit: cf37d3d1c212a17a0ee37e6e371b2567c9290467

[2015-03-26 20:05] BrianNewsom commented on #4
@aaronsamuel137  - Shoot, sorry! I knew that, apparently Winston somehow slipped through the cracks, i added the rest.  Appreciate it!

[2015-03-31 20:27] pixelzoom opened #12 "branch: logging"
Please describe this branch and what the future plans are for it.

[2015-03-31 20:30] aaronsamuel137 commented on #12
This branch was created by @BrianNewsom when addressing issue #4. That issue is closed now, so I will delete the branch.

[2015-03-31 20:30] #12 closed

[2015-03-31 20:30] BrianNewsom commented on #12
Thanks @aaronsamuel137! Was just going to do this.

[2015-03-31 20:31] BrianNewsom commented on #5
@aaronsamuel137 Assigning to you, if you get a chance to check over it.

[2015-04-04 19:04] ariel-phet commented on #8
I am finding it tough to carve out a time to do this...I will work with our graphic artist to move things forward

https://github.com/phetsims/tasks/issues/212

[2015-04-05 04:51] ariel-phet commented on #1
duplicate of #8 closing

[2015-04-05 04:51] #1 closed

[2015-04-09 20:35] jbphet opened #13 "Create a github user account that will be used by Rosetta to push to Babel"
The title pretty much captures it.

[2015-04-09 20:41] jbphet opened #14 "Require user to be a trusted translator before allowing translation"
As of this writing, Rosetta verifies that a user has valid PhET login credentials before allowing them to be able to translate a sim.  An additional test should be added to make sure that they are also a trusted translator.  The issue https://github.com/phetsims/website/issues/119 is a prerequisite for this issue.

[2015-04-09 20:42] jbphet commented on #14
Assigning to @aaronsamuel137 for now, he can assign to @BrianNewsom if appropriate.

[2015-04-09 20:46] jbphet opened #15 "Figure out the URL and file location for translated sims"
This was discussed in the 4/9/2015 translation meeting.  We need to figure out where on the main server the translated versions of simulations should be maintained, and what the URL will be to access these files.  During the meeting, we basically decided that the translated files should be in the same place as the English files, but there was a bit of uncertainty.

Assigning to @aaronsamuel137.  I

[2015-04-09 23:01] pixelzoom commented on #13
You might want to check the terms of GitHub, to make sure that creating a user account for a non-user is not a violation of their terms.

[2015-04-09 23:20] samreid commented on #13
+1 I strongly recommend checking

[2015-04-09 23:23] pixelzoom commented on #13
From GitHub Terms of Service, https://help.github.com/articles/github-terms-of-service/:

[2015-04-15 17:53] aaronsamuel137 commented on #14
This should be done now. If you are not a trusted translator and try to submit, a pop up will tell you that you need to email phethelp to become a trusted translator.

[2015-04-15 18:33] aaronsamuel137 commented on #5
This looks good to me. Closing.

[2015-04-15 18:33] #5 closed

[2015-04-15 18:48] aaronsamuel137 commented on #15
I suggest the same directory with the English version, i.e.: http://phet-dev.colorado.edu/sims/html/area-builder/latest/area-builder_fr.html.

Closing

[2015-04-15 18:48] #15 closed

[2015-04-17 20:15] jbphet opened #16 "separate common and simulation strings on the translation page"
The translation page, i.e. the page that contains the English strings on the left and the translated strings on the right, should have two sections:
1. Simulation strings
2. Common strings
These could be sorted based on the string extraction from the published sim (see #6) and the information contained in the "active-repos" file, see https://raw.githubusercontent.com/phetsims/chipper/master/data/a

[2015-04-17 20:27] jbphet opened #17 "populate translation page based on strings in babel, phase I"
The translation page, i.e. the page that shows the English strings and allows the user to enter strings for a different language, needs to pull the translated strings from the Babel repository for already translated strings and put them into the text fields on the translation page.

At some point, we will also need to load history and possibly check for strings in Babel that aren't in the simulati

[2015-04-18 19:28] aaronsamuel137 commented on #17
I think this is working. See /translate/sim/arithmetic/es for an example. Where a few strings are prepopulated from babel.

[2015-04-18 20:06] aaronsamuel137 opened #18 "push strings to babel when submit is clicked"
push strings to babel when submit is clicked

[2015-04-21 18:29] jbphet commented on #13
I've contacted GitHub with a question about how to best do what we want to do with this.  I'll post their response below.

[2015-04-23 19:08] aaronsamuel137 commented on #16
TODO: Add a warning for common strings

[2015-05-12 03:17] ariel-phet commented on #8
Closing this issue, since it is now being worked on by our graphic artist and a duplicate of the tasks issue

[2015-05-12 03:17] #8 closed

[2015-05-29 17:16] aaronsamuel137 opened #19 "Implement "save" feature"
Discussed at translation meeting on 5/28/15.

Decision (architectural): Unfinished translations will be saved in a database, not in Babel, on a per-string basis.  Once a string is submitted as part of a translation (which may also include common code strings), the associated DB entry is removed.
Decision (functional/architectural): When a new release of a simulation occurs, every translation that

[2015-05-30 17:02] aaronsamuel137 opened #20 "add queue so multiple pushes to github can't happen at the same time"

[2015-05-31 20:23] aaronsamuel137 commented on #18
This is mostly working. However, there are still cases when github will return a 409 error and not commit the changes.

From https://developer.github.com/v3/git/:

We need to figure out why this is happening, and what we should do if it does happen. The simplest option might be to try committing again after a timeout. For whatever reason, the repository is just unavailable sometimes, but it usuall

[2015-05-31 20:26] aaronsamuel137 commented on #20
This was added in commit: 9ddb1ef26d67173c1f405305472f456a355ad8e0

It still needs testing.

[2015-06-04 17:07] aaronsamuel137 opened #21 "Populate locales dropdown with locales from chipper"
Rosetta should pull from the locales file in chipper in order to populate the locale dropdown.

[2015-06-04 18:07] aaronsamuel137 opened #22 "Changes to translate sim page"
1. Add a link for "translate another sim" in upper left

2. Put buttons at the top as well.

3. Add margin to bottom

4. Change order to "Test" "Save" "Submit"

5. Gray out saved button once saved, and ungray it once another character is pressed. Display the text "Saved" below when the button is grayed.

[2015-06-04 18:37] aaronsamuel137 opened #23 "Submit button should push to website"
And we'll display a dialog that says something like "Your translation will appear on the website in less than 30 minutes"

[2015-06-09 21:58] zepumph opened #24 "routes.js should check if a specific locale.json exists before trying to open it when hitting 'Go'."
I get these two errors when opening a new locale for translating a sim, non fatal but something that should be looked into.

error: request for translated strings for project example-sim failed. Response code: 404. URL: https://raw.githubusercontent.com/phetsims/babel/tests/example-sim/example-sim-strings_af.json. Error: null
error: request for translated strings for project joist failed. Response

[2015-06-10 19:14] aaronsamuel137 commented on #22
Looks great! One more thing - add a text that says "Saved" above the saved buttons when you click it, and have this text disappear when the button is ungreyed.

[2015-06-10 19:15] aaronsamuel137 commented on #22
And another thing - the save button should not be clickable when it is gray.

[2015-06-10 22:05] aaronsamuel137 commented on #22
Great! A few more things:

There is a giant gap between the buttons and the start of text:

![screen shot 2015-06-10 at 3 34 34 pm](https://cloud.githubusercontent.com/assets/3193912/8094780/518a2d2a-0f86-11e5-8c72-cf70ec80b037.png)

Is there a reason why this is there? Can you make it smaller? It might be a good idea to start over from scratch with the css for the buttons if this proves difficult

[2015-06-10 22:13] aaronsamuel137 commented on #24
These errors are expected if these files don't exist on github. Nothing bad will happen - just means that the no strings will be found from github when trying to prepopulate the form.

[2015-06-10 22:13] #24 closed

[2015-06-10 22:34] zepumph commented on #22
The mouseover doesn't work I believe because the button is disabled until you type into an input again. Is that a problem?  Also how does this look for spacing?

![translation_util_spacing](https://cloud.githubusercontent.com/assets/6856943/8095804/7cb941ae-0f8e-11e5-9237-a5402246900e.png)

[2015-06-10 22:45] aaronsamuel137 commented on #22
No that is correct. However, after it is ungreyed for the first time, the mouseover no longer works.

[2015-06-10 22:45] aaronsamuel137 commented on #23
This seems to be working - but needs more testing on phet-dev.

[2015-06-10 22:46] aaronsamuel137 commented on #21
Looks great! Closing

[2015-06-10 22:46] #21 closed

[2015-06-11 18:44] aaronsamuel137 commented on #22
Looks great! Closing

[2015-06-11 18:44] #22 closed

[2015-06-11 19:37] aaronsamuel137 opened #25 "Postgres query sometimes hangs indefinitely on translate sim page"
Really no idea why this is happening. Might have to do with pg-query node module.

[2015-06-16 23:25] aaronsamuel137 commented on #25
I have fixed this I think. I'll wait to hear if @phet-steele runs into any issues while testing before I close it.

[2015-06-29 19:04] phet-steele opened #26 "Allowing empty strings during translation"
There was a decision made that prevents users from deleting previously translated strings and leaving them empty. I'm going to advocate for this to be reverted and instead allow empty strings. As I've been testing the functionality of the translation utility, I've found this behaviour incredibly frustrating and clunky. Simple mistakes can easily be made by the user, maybe translating the wrong thi

[2015-07-02 22:27] jbphet opened #27 "Testing of strings should embed RTL control characters for RTL languages"
Rosetta provides users with the ability to test a translation as it is worked on.  It does this by launching the simulation and overriding the strings using query parameters.  Currently, this feature does not correctly display RTL strings.  For instance, if the following string in entered into the translation utility for the Persian language:

![rtl-persian-1](https://cloud.githubusercontent.com/a

[2015-07-02 22:34] jbphet opened #28 "RTL strings don't show up correctly on the "Translation submitted" page"
When a translation is submitted in Rosetta, and page is shown that details what exactly was submitted.  Currently, RTL languages don't correctly display the translated strings.  For example, if the following Persian string is submitted on the translation page:

![rtl-persian-1](https://cloud.githubusercontent.com/assets/3082831/8489346/d732bd9a-20d7-11e5-9f11-333ec10b6604.png)

...the following is

[2015-07-07 15:13] aaronsamuel137 commented on #28
This should be fixed now. Feel free to review or close @jbphet.

[2015-07-07 16:07] aaronsamuel137 commented on #26
Decided in 7/7 dev meeting to allow empty strings.

[2015-07-07 16:20] aaronsamuel137 commented on #27
Fixed. Assigning to @jbphet for review.

[2015-07-07 16:50] aaronsamuel137 opened #29 "mutli line string doesn't work"
<img width="398" alt="screen shot 2015-07-07 at 10 49 45 am" src="https://cloud.githubusercontent.com/assets/3193912/8551790/e7ce155c-2495-11e5-8092-20a286f35765.png">

[2015-07-07 18:52] aaronsamuel137 commented on #29
Fixed for the "Test" button, but not "Submit"

[2015-07-07 19:24] jbphet commented on #28
Tested on the currently running version of Rosetta, and this appears to work fine.  Commits look good.  Closing.

[2015-07-07 19:24] #28 closed

[2015-07-07 19:41] jbphet commented on #27
I tested the behavior with two RTL languages (Persian and Hebrew) and regressing tested with two LTR languages (English and Armenian) and it appears to work correctly in all tested cases.  The commits also look reasonable, so all in all this looks great.  Closing.

[2015-07-07 19:41] #27 closed

[2015-07-07 19:45] jbphet opened #30 "list of languages should be sorted by name and not locale"
The languages in the "Select Target Language" combo box are currently sorted by locale ID and not by the name of the language, which results in some some odd-looking ordering.  The screenshot below illustrates, and I've highlighted the languages that look out of order.  It would be much more user friendly to sort by language name.

![rosetta-language-order](https://cloud.githubusercontent.com/asse

[2015-07-07 19:59] aaronsamuel137 commented on #29
Should be fixed for submitting now too. Closing

[2015-07-07 19:59] #29 closed

[2015-07-07 20:14] aaronsamuel137 commented on #25
Fixed. Closing

[2015-07-07 20:14] #25 closed

[2015-07-07 20:15] aaronsamuel137 commented on #23
Closing for now. Testers can open any new issues if they appear.

[2015-07-07 20:15] #23 closed

[2015-07-07 20:18] aaronsamuel137 commented on #19
Save feature implemented. Closing

[2015-07-07 20:18] #19 closed

[2015-07-07 20:21] aaronsamuel137 commented on #20
Closing

[2015-07-07 20:21] #20 closed

[2015-07-07 20:28] aaronsamuel137 commented on #18
The current behavior is to try again if the push fails. If it fails twice we'll need to do something else, such as send an email to myself.

[2015-07-07 20:28] aaronsamuel137 commented on #17
Finished, closing.

[2015-07-07 20:28] #17 closed

[2015-07-07 20:29] aaronsamuel137 commented on #16
Closing

[2015-07-07 20:29] #16 closed

[2015-07-07 20:33] aaronsamuel137 commented on #14
This is done. Closing

[2015-07-07 20:33] #14 closed

[2015-07-07 20:34] aaronsamuel137 commented on #13
@jbphet, did you ever head back from github about this?

[2015-07-07 20:50] aaronsamuel137 commented on #10
We're using github API for this. Closing

[2015-07-07 20:50] #10 closed

[2015-07-07 20:51] aaronsamuel137 commented on #7
We need to test this case. Assigning to myself.

[2015-07-07 20:51] aaronsamuel137 commented on #3
Closing

[2015-07-07 20:51] #3 closed

[2015-07-08 14:37] aaronsamuel137 commented on #26
I removed the empty check so empty strings can now be submitted. Only strings that have the same value as previously will not be submitted. Closing

[2015-07-08 14:37] #26 closed

[2015-07-08 15:11] aaronsamuel137 commented on #7
Current behavior:

- Strings from "other sims" show up under the sim strings section, not the common strings.
- The user has no way of knowing that these strings are coming from two different sims
- The other sim is not published.

[2015-07-08 15:31] aaronsamuel137 commented on #30
Fixed. Assigning to @jbphet for review.

[2015-07-08 15:50] jbphet commented on #30
Looks great, thanks.  Closing.

[2015-07-08 15:50] #30 closed

[2015-07-08 17:26] aaronsamuel137 opened #31 "How should we handle \n and MultilineText"
Skype discussion on 7/8:

[7/8/15, 11:00:12 AM] Jonathan Olson: So how does a translator actually get a "\n", or how would they know how to enter a newline?
[7/8/15, 11:00:31 AM] Aaron Davis: It shows up as \n in the English string too
[7/8/15, 11:00:49 AM] Aaron Davis: I put it on the agenda to discuss tomorrow
[7/8/15, 11:00:57 AM] Chris Malley: How does that differ from \n that needs to explici

[2015-07-09 16:22] aaronsamuel137 opened #32 "Add translator to database on sim submit"
Related to https://github.com/phetsims/website/issues/224. We need to add the user to the translator mapping/localized sim mapping table when the submit a translation so it show up on the translator credits page.

[2015-07-09 19:33] jbphet opened #33 "quirks to convey to translators when this goes live"
Our plan is to implement an initial, fairly simple version of the translation utility and then add features and functionality later.  We're going to share this only with trusted translators initially.  There are a number of quirks that this initial version will have, and we should let them know about these.  This issue is the place to collect such quirks.

[2015-07-09 19:34] jbphet commented on #33
There will be some strings that appear in the translation list that users probably won't be able to see in the sim, such as those related to branding, e.g. "Adapted from".

[2015-07-13 23:58] aaronsamuel137 commented on #32
Implemented and tested on phet-dev. Closing

[2015-07-13 23:58] #32 closed

[2015-07-14 15:46] aaronsamuel137 commented on #18
Rosetta now sends an email when the push fails. Closing

[2015-07-14 15:46] #18 closed

[2015-07-14 16:44] aaronsamuel137 opened #34 "Support metadata for strings"
Discussed during 7/14/15 dev meeting.

We need to discuss adding metadata to strings, for example:

[code]

We need to discuss exactly which flags should be supported, and then how to integrate this information into the Rosetta UI.

The plan is to not worry about this for iteration 1 of Rosetta.

[2015-07-14 16:54] aaronsamuel137 commented on #7
Discussed on 7/14/15. Current behavior looks good. Closing

[2015-07-14 16:54] #7 closed

[2015-07-14 22:06] aaronsamuel137 commented on #31
During 7/14/15 dev meeting we decided to add a highlight for the "\n" so that is stands out as being treated specially to users. In iteration 2 of Rosetta we will probably improve handling of this. Related to #34.

[2015-07-14 22:07] aaronsamuel137 commented on #31
It is difficult to get a highlight for "\n" dynamically inside of the input, so for now it is only highlighted on the english text.

[2015-08-05 18:26] jbphet commented on #13
I did get a response, but it was pretty clear that he didn't understand our constraints.  This is what he said:

I don't think we want to require all translators to set up a GitHub account.  So far we've just been using @aaronsamuel137's account, and we have clear commit messages that indicate an automated commit.  I'm okay to continue this way.  Assigning to @aaronsamuel137 to close if he is okay

[2015-08-05 21:47] aaronsamuel137 commented on #13
I think its okay for now. We can also reassess in the future if for some reason this creates complications for me. Closing

[2015-08-05 21:47] #13 closed

[2015-08-11 18:16] phet-steele opened #35 "Some strings are improperly updating when the value has't changed"
While testing the utility and translating the sim "Chains" into Czech (cs), the debug info, and commits in babel, would claim to continuously translate the strings with string keys "multilineString" and "adaptedFrom" each time I clicked on Submit. This is happening regardless of whether I've change the string contents or not.

An example commit: https://github.com/phetsims/babel/commit/0278b7d625e

[2015-08-11 18:20] phet-steele opened #36 "Translated common strings aren't viewable by clicking "Test""
Currently the translation utility does not support the ability to view translated common strings by clicking on the "Test" button. Only sim strings are shown and used in the url query. This seems like a critical feature that has never been implemented.

[2015-08-11 19:10] phet-steele opened #37 "String key order in the debug info"
This is mostly a non-issue, more of just something that is bugging me. The string keys aren't shown in the same order in the debug info as they are on the previous page. I translated the strings in numerical order, but after submitting they are anything but ordered. The string keys don't even look alphabetized. Is it do able, or even a good idea, to clean this up a bit so that the debug info scree

[2015-08-11 19:30] pixelzoom opened #38 "screen name issue for single-screen sims"
A general issue identified by @phet-steele, and illustrated in the Concentration sim.

ConcentrationScreen gets its name from key "BEERS_LAW_LAB/tab.concentration".  That screen appears in the Concentration sim, but it's screen name is not visible because the sim is a single-screen sim, and therefore has no home screen or screen icons in the navbar.

This is a  general issue that will occur for an

[2015-08-11 19:40] phet-steele commented on #35
My hunch here is that any submitted values the have a line break will cause this.

[2015-08-11 19:56] phet-steele opened #39 "The utility loses sim context and makes it more difficult to translate similar words differently"
While translating Concentration, the utility asks the user to translate the word "Concentration" three separate times due to the sim using three different string keys for that word (one of which shouldn't be there, see #38). @pixelzoom informed me that at times this is done on purpose to allow translators to translate the same word differently in different contexts of the sim, say a screen name vs

[2015-08-11 20:31] phet-steele opened #40 "Nothing is being translated for "Concentration" sim"
The only thing that correctly updates is "concentration.name" (the last Concentration string in the list), which I believe is the only string that comes from the Concentration repo.

[2015-08-11 20:33] pixelzoom commented on #40
Correct that "concentration.name" is the only key in concentration-strings_en.json (it's the sim title).  All other strings come from beers-law-lab, or possibly from common-code repos.

[2015-08-11 20:49] aaronsamuel137 commented on #35
I suspect you're right, there is some special handling of newline strings that could lead to this. Assigning to myself.

[2015-08-11 20:56] pixelzoom commented on #39
Adding support for metadata (e.g., a description of where a string is used) in the JSON string files would be a step in the right direction.  Choosing descriptive string keys would also be helpful, especially if we had some conventions for this.  Eg, something like "screen.concentration", "screen.beersLawLab" for the 2 screens in beers-law-lab.

[2015-08-11 21:26] phet-steele opened #41 "Common strings can become empty unintentionally"
An interesting issue where common strings can be deleted:

1. I went to the translation utility and selected the sim "Chains" and language "Czech (cs)".

2. Scrolling down to common strings, I inputted my translation for adapted\nfrom (string key: adaptedFrom).
3. I submitted the translation and had the resulting commit: https://github.com/phetsims/babel/commit/d596de5db53c530fde06ce8c3f067b12d875

[2015-08-11 21:35] aaronsamuel137 commented on #41
I think the more general issue here is this:

Rosetta currently doesn't handle a case where different sims contain different subsets of the strings from a given repo. This issue came up because I accidentally publish MAL on phet-dev as "adapted-from-phet" brand instead of "phet". Because of this, MAL uses a different subset of joist strings than a phet branded sim will. In this case, the strings n

[2015-08-11 22:13] aaronsamuel137 commented on #36
This should be working now. Assigning to @phet-steele for review.

[2015-08-12 01:24] phet-steele commented on #36
Yup.

[2015-08-12 01:24] #36 closed

[2015-08-12 18:06] aaronsamuel137 commented on #41
Let me know if this is working for you now @phet-steele

[2015-08-12 19:32] phet-steele commented on #41
Not yet.

[2015-08-13 16:28] aaronsamuel137 commented on #35
I've attempted a fix for this, let me know if it works for you @phet-steele.

[2015-08-13 16:29] aaronsamuel137 commented on #41
Let me know if it is working for you now, @phet-steele.

[2015-08-13 18:14] aaronsamuel137 opened #42 "make build server update simInfoArray.json"
When a sim is deployed from build server, it should automatically be added to simInfoArray.json in rosetta.

[2015-08-14 19:11] phet-steele commented on #41
Yep, this time it is.

[2015-08-14 19:11] #41 closed

[2015-08-14 19:25] phet-steele commented on #35
The above issue is fixed, but I'll continue to keep an eye out for any exceptions with multiline strings

[2015-08-14 19:25] #35 closed

[2015-08-14 22:03] phet-steele opened #43 "Common strings don't update on previously submitted translations"
After submitting a translation for MAL, I switched to Chains (without changing locales) and changed some translations for common strings. I then submitted, got a correct looking debug info and commit, and went to check if my previous submission of MAL on the website had the new strings in it automatically. It didn't; isn't it a desired function that it should? Going back to MAL and resubmitting fi

[2015-08-18 18:32] phet-steele opened #44 "Translators can change version number and the names of who is credited"
Using the below strings as examples, it's very easy to just type in a new name and version number (or delete them):

![i made it all](https://cloud.githubusercontent.com/assets/5863899/9338904/7ecf129c-45a4-11e5-9860-08da9d3251f8.PNG)

And then have them show up like so in the sim:

![i made it all 2](https://cloud.githubusercontent.com/assets/5863899/9339005/02e631a0-45a5-11e5-8336-3fd647003983.P

[2015-08-18 19:07] phet-steele opened #45 "Line break is not occuring while using the Test button, but is occuring after submitting"
Mostly this is a question. When I type in a value for the strings "SpectrumWindow.ultravioletBandLabel" and "SpectrumWindow.gammaRayBandLabel", the two strings in MAL that support a line break, it works correctly after submitting to the website:

I typed in "Ultra-\nindigo" and "Gamma\nbeam"
![correct break](https://cloud.githubusercontent.com/assets/5863899/9339823/65f6bf5e-45a9-11e5-900e-dcb0ba7

[2015-08-18 19:17] phet-steele opened #46 "Empty strings do not return a default value"
This is already an issue known by @aaronsamuel137. Deleting values for previously translated strings does not return the strings to their default, english values. They instead just become empty:

![empty sim](https://cloud.githubusercontent.com/assets/5863899/9340139/5e862406-45ab-11e5-8680-9e2e2fa47eed.PNG)

[2015-08-20 00:09] aaronsamuel137 opened #47 "issue with hyphenated string key"
Looks like the string key in joist "third-party.credits.link" was shortened to "third" by rosetta, presumably because of the hyphen, but I'll need to look into this more to be sure. See https://github.com/phetsims/babel/blob/tests/joist/joist-strings_cs.json#L339.

Two issues here:
1. We should probably change the string key in joist since our convention is camelCase.
2. Investigate why this short

[2015-08-20 00:10] aaronsamuel137 commented on #43
I don't think we want this functionality. When a sim is translated, it shouldn't be update automatically every time a new common string is translated. If they want to update it and they are the trusted translator, they can republish.

Any thoughts on this @ariel-phet?

[2015-08-20 00:13] aaronsamuel137 commented on #45
I can't reproduce this @phet-steele. When I test, the line break is there as it should be. If it isn't, then there is a bug there. Can you try again and see what happens? Or tell me how to reproduce?

[2015-08-20 21:17] ariel-phet commented on #43
@pixelzoom can you comment on the current paradigm for Java translations. I believe we don't republish sims when common code strings are changed. Is that correct?

[2015-08-20 21:56] pixelzoom commented on #43
For Java/Flash, we don't republish sims for *any* translations. We modify the existing jar files.  For sim translations, we do this fairly soon after receiving the translations - @oliver-phet would be the person to ask about when it's typically done.  For common-code translations (which are all in one bundle, not spread out across repositories as we do for HTML), those translations are published l

[2015-08-21 17:00] aaronsamuel137 commented on #47
I've updated the string key, but I can't find why this happened in the first place.

@phet-steele, did you ever translate a string "Third-party Credits"? I can't seem to get it to come up in Rosetta.

[2015-08-21 19:21] phet-steele commented on #45
Fixed after above commit.

[2015-08-21 19:21] #45 closed

[2015-08-24 15:52] phet-steele commented on #40
This was fixed at some point in the past, Concentration translates correctly.

[2015-08-24 15:52] #40 closed

[2015-08-24 17:35] ariel-phet commented on #43
@oliver-phet could you comment on this issue?

[2015-08-24 18:02] oliver-phet commented on #43
New sim translations come in weekly. I usually try to get them processed within a few days of receiving them from translators. However, Java/Flash translations have been slowing down a lot (we used to get several every day, now we get a few a week).
Common strings are all done by @jonathanolson, but once they are published they are reflected in every sim that uses the common string.

[2015-08-25 13:32] aaronsamuel137 commented on #42
Finished. Closing

[2015-08-25 13:32] #42 closed

[2015-08-25 13:41] aaronsamuel137 commented on #46
This appears to be working for me now. Is it working for you @phet-steele? Feel free to close if so.

[2015-08-25 13:41] aaronsamuel137 commented on #47
Closing for now, I see no further issues happening here.

[2015-08-25 16:15] pixelzoom commented on #44
If the English string is a MessagFormat pattern, then the translated string should be too, with the same number of placeholders.

[2015-08-25 16:17] jbphet commented on #44
@pixelzoom suggested enforcing that if the English version is a pattern, then the translated version must be too.  @aaronsamuel137 said that this could be done with a reasonable amount of effort, assigning to him.

[2015-08-25 16:17] pixelzoom commented on #44
This is in the territory of Rosetta making decisions by examining the English string. We were going to try to avoid doing that, and rely on metadata.  Might be ok to do this as a shorterm solution.

[2015-08-26 15:03] phet-steele commented on #47
Sorry never saw your comment @aaronsamuel137. No, there was never a string for "Third-party Credits", and translating "third" did absolutely nothing in the sim (it left Third-party Credits untranslated).

[2015-08-26 15:14] aaronsamuel137 commented on #47
Was there a string that was just "third" in rosetta to translate? I never saw this either.

[2015-08-26 15:22] phet-steele commented on #47
Yes, it was just presented as third.

[2015-08-26 15:22] phet-steele commented on #47
Here's another one for Atomic Interactions.
It's title string key "atomic-interactions.name" is just presented as "atomic"

[2015-08-26 15:59] phet-steele opened #48 "Unused strings are available to translate"
Disscussed with @jbphet, when Rosetta decides what string keys a sim should use, in the case of a sim like Atomic Interactions who takes basically all its strings from a separate repo, Rosetta cannot distinguish between a string that is used in the Atomic Interactions' parent repo and a string that is actually used in the AI sim. For example, the string key "AtomsAndMolecules" is used in SoM as a

[2015-08-27 18:17] pixelzoom commented on #48
8/27/15 dev meeting consensus:
• assign to @ariel-phet (who doesn't think we need to address it)
• address this issue via documentation

[2015-08-28 15:00] aaronsamuel137 commented on #47
The issue here was the regex that extracts the strings... it didn't allow hyphens previously, probably because I assumed all of our string keys where camelCase. Should be fixed now.

[2015-08-28 15:10] aaronsamuel137 commented on #47
Closing

[2015-08-28 15:10] #47 closed

[2015-08-28 15:10] aaronsamuel137 commented on #44
I've added validation for patterns and tested locally. Closing.

[2015-08-28 15:12] aaronsamuel137 opened #49 "Strings keys not found in English sim should be automatically deleted from Babel"
From 8/25 dev meeting:

[2015-08-28 15:30] aaronsamuel137 commented on #49
Should be working now. Closing

[2015-08-28 15:30] #49 closed

[2015-08-28 15:44] aaronsamuel137 opened #50 "Empty strings in Rosetta"
I have noticed that Molecule Shapes has some empty string values. Should these appear in Rosetta, or should we adopt a behavior where strings with empty values in English don't show up?

Assigning to @jonathanolson for a recommendation since I don't understand what these empty strings are for in Molecule Shapes.

[2015-08-28 15:49] aaronsamuel137 commented on #50
How empty strings appear in Rosetta currently:

<img width="577" alt="screen shot 2015-08-28 at 9 48 52 am" src="https://cloud.githubusercontent.com/assets/3193912/9550690/0fc00ca8-4d6a-11e5-9201-0913b61b49c8.png">

[2015-08-28 15:54] aaronsamuel137 commented on #44
@phet-steele pointed out we want to allow empty strings for patterns too.

[2015-08-28 16:03] phet-steele commented on #46
Doesn't look fixed for me yet. It did, however work when testing, but now after submitting.

[2015-08-28 16:19] aaronsamuel137 commented on #46
What about this doesn't look fixed. I just looked at the translation you just deployed http://phet-dev.colorado.edu/sims/html/molecule-shapes/latest/molecule-shapes_ay.html and it inherits the english strings just fine.

[2015-08-28 16:22] phet-steele commented on #46
I was testing something else with that deploy, the one i tested this issue with is here https://phet-dev.colorado.edu/sims/html/molecules-and-light/latest/molecules-and-light_nd.html

[2015-08-28 16:38] jonathanolson commented on #50
shape.empty and geometry.empty are used if a translator wants to provide a label for a molecule with only a central atom. They are blank in the English translation.

I'd say we'd want them to show up in Rosetta.

[2015-08-31 02:05] aaronsamuel137 commented on #44
I think this is working now. @phet-steele, will you verify?

[2015-09-01 18:27] jbphet opened #51 "add string keys to the UI"
@pixelzoom has suggested adding string keys to the Rosetta UI so that translators have a bit more context to work with.  @aaronsamuel137 said it's not too hard to do, so we've decided to try to implement this before doing the beta testing with trusted translators.  Skype dialog is below.

[12:12:09 PM] Chris Malley: I'm running Rosetta for the first time, at phet-dev.colorado.edu/translate. Select

[2015-09-01 18:29] jbphet opened #52 "sort the strings by English value"
@pixelzoom has suggested sorting the strings by their English value to group related strings together and to make it easier to find a particular string.  This seems reasonable, and @aaronsamuel137 says that it wouldn't require too much work.

[2015-09-01 18:33] pixelzoom opened #53 "use same font size for English and translated strings"
On the browers that I've tested (Mac + Safari, Chrome) the text fields where you enter translated strings are using a much smaller font than is used to display the English strings.  Recommended to make them the same size font. It's very difficult to get a feel for relative string length when the fonts are different sizes.

[2015-09-01 18:33] pixelzoom opened #54 "use color to call attention to markup in English strings"
Skype:

[9/1/15, 12:27:01 PM] Chris Malley: Question about how Rosetta displays markup chars. '\n' chars in multiline text strings are shown in red.  Should pattern placeholders (e.g., {0}) also be in red, especially since they are required?
[9/1/15, 12:27:31 PM] Aaron Davis: I like that idea
[9/1/15, 12:28:13 PM] Chris Malley: red might NOT be the best color choice (in either case) since 'red' us

[2015-09-01 18:49] pixelzoom opened #55 "fixed-length text fields make it frustrating to translate long strings"
The text fields for the translated strings look like they're uniformly sized.   That's frustrating if I'm trying to translate a long string, or if my translated string is significantly longer than the English string.

Partial screen from translating "Concentration", in the "Common Strings" section:

![screenshot_589](https://cloud.githubusercontent.com/assets/3046552/9613169/068d509c-50a7-11e5-933

[2015-09-01 18:52] pixelzoom opened #56 "show the font that's being used?"
The Java Translation Utility showed the names of the fonts that it was using. For example, see the top of this screenshot ("font: LucidaGrande"):

![screenshot_590](https://cloud.githubusercontent.com/assets/3046552/9613374/2d59d8a2-50a8-11e5-82d3-6e187aaeaa2e.png)

This was important because we frequently had issues with fonts not properly displaying the glyphs for a locale, and we needed to trou

[2015-09-01 18:55] pixelzoom opened #57 "Help button?"
How will translators find the documentation being prepared in https://github.com/phetsims/tasks/issues/335? Should Rosetta's UI have a Help button, like the Java version did?

[2015-09-01 18:58] pixelzoom commented on #51
Have a look (screenshot below) at how the Java version presented the keys, English strings and translated strings. Note how the keys are right justified.  Do we want to do the same thing in Rosetta?

![screenshot_591](https://cloud.githubusercontent.com/assets/3046552/9613517/13c55898-50a9-11e5-8145-9355298b0608.png)

[2015-09-01 19:00] pixelzoom commented on #55
Another screenshot below to demonstrate the problem with fixed-width text fields. Note the "translation.credits" field.  It contains html markup, with tags that must be matched. Imaging trying to do this in a single-line text field that only shows you a max of N chars.

![screenshot_591](https://cloud.githubusercontent.com/assets/3046552/9613554/53ccf3d8-50a9-11e5-937e-a568273c5595.png)

[2015-09-01 19:06] pixelzoom opened #58 "identify the sim being translated"
I had a couple of sims open in Rosetta. I went to lunch, came back, and discovered that I didn't know what sim was loaded.   The name of the sim doesn't appear in Rosetta's UI, see screenshot below.  I finally noticed that it's in the URL.  But shouldn't the sim name appear somewhere in the UI?  Maybe instead of "Sim Strings" it should say "Sim Strings (Concentration)"?

![screenshot_592](https://

[2015-09-01 19:10] pixelzoom opened #59 "invalid pattern strings are not flagged"
Related to https://github.com/phetsims/rosetta/issues/44.

See screenshot below from translation of "Concentration".  The English string is "{0} {1}".  I entered "{0}", which is clearly incomplete, then tabbed to the next field.  I got no feedback that the translated string was invalid.

![screenshot_592](https://cloud.githubusercontent.com/assets/3046552/9613863/429e0f14-50ab-11e5-8bd2-8925d556af

[2015-09-01 19:11] pixelzoom commented on #44
I don't see this as being fixed. See https://github.com/phetsims/rosetta/issues/59

[2015-09-01 19:12] pixelzoom commented on #59
The Java version provides similar feedback for string containing HTML markup, identifying missing/unmatched tags.

[2015-09-01 19:15] pixelzoom commented on #44
When is the validation occurring? For English "{0} {1}", I'm able to enter "{0}". I get no immediate feedback in the Rosetta UI (see #59), and no feedback when I run the sim using the "Test" button.

[2015-09-01 19:21] pixelzoom opened #60 ""English (en)" should not be in the "Select Target Language" combo box"
I didn't try translating from English to English, so I don't know if bad things happen (like overwriting the English translation).  But we don't want to do this, so 'en' should be removed from the list of target languages.

[2015-09-01 19:23] pixelzoom opened #61 "change "Language" to "Locale""
"Select Target Language" is an incorrect label for the combo box. This is a locale.  It was presented as a locales in the Java version, and never caused a problem.  Savvy translators know the difference. I don't think there's a need to dumb-down the UI.

[2015-09-01 19:25] pixelzoom opened #62 "differentiate between HTLM5 and Java/Flash translation utilities?"
The title at the top of https://phet-dev.colorado.edu/translate/ is "PhET Translation Utility".  Is there any need to differentiate this from the Java/Flash translation utility?  Is the Java version being taken down?

[2015-09-01 19:26] pixelzoom commented on #62
If the Java/Flash translation utility is going to continue to co-exist, then perhaps label this something like "PhET Translation Utility (HTML5)".

[2015-09-01 19:38] pixelzoom opened #63 "dependency on other sims is hidden"
Translating "Concentration", I see that all of the strings from the concentration and beers-law-lab repositories are combined under the "Sim Strings" heading.

How will the user going to know that these 2 sims are related, and that by changing strings here, they are affecting another sim?  There's a warning about this for common strings, but no such warning here.

I'm also curious... How does Rose

[2015-09-01 19:40] pixelzoom opened #64 "change "Sim Strings" to "Simulation Strings"?"
"Sim" is an internal abbreviation for "simulation", and it's not used on the PhET website.  English is probably also not the first language of Rosetta users.  So probably shouldn't use "sim" here either.

[2015-09-01 19:43] pixelzoom opened #65 "sort order for "Select Simulation" combo box?"
There are currently only 2 sims in the combo box, but the order is "Molecules and Light", followed by "Concentration".  So I'm guessing that the list is not being sorted alphabetically.

[2015-09-01 19:44] pixelzoom commented on #64
Also currently inconsistent... Combo box on the first Rosetta page is labeled "Select Simulation".

[2015-09-01 19:52] pixelzoom commented on #63
Not sure of the best way to resolve this... But I think we need to identify (1) the sim(s) that a sim is dependent on, and (2) which strings will affect other sim(s) if their translations are changed.

Note that I said "sim(s)" above.  We currently have tried to limit sim-to-sim dependencies.  But there is no firm policy (that I'm aware of) that says a sim can't have dependencies on >1 sim.  That

[2015-09-01 19:56] pixelzoom opened #66 "inform user about which sims depend on the sim being translated?"
This problem goes in 2 direction. In https://github.com/phetsims/rosetta/issues/63, I described the case where a sim gets all of its sims from some other sim (e.g. Concentration is a subset of Beer's Law Lab).

The problem goes in the other direction too. If we were translating Beer's Law Lab, changes to its translation will affect Concentration. Does the user need to be aware of that? And how do

[2015-09-01 20:00] pixelzoom commented on #66
Here's another real-world example, the suites of faradays-law sims that may someday be ported from Java.  There is one main sim, "Faraday's Electromagnetic Lab", that contains 4 screens.  Then there are 3 other sims that are various combinations of screens: "Generator", "Magnet & Compass", "Magnets & Electromagnets".  When I translate any 1 of these, I am potentially affecting the other 3.  How is

[2015-09-02 15:18] phet-steele commented on #52
Related to #37. If the strings are re-ordered by their English value, it would be nice to have the same order in the debug info, and if we go ahead with #51 it would make even more sense to have both screens match.

[2015-09-02 15:20] phet-steele commented on #51
A good step in solving #39.

[2015-09-02 15:23] phet-steele commented on #44
@pixelzoom the validation occurs after pressing "Submit". The user is presented with an error message and the problem entries are outlined in red, in the same way our website works when registering an account. @aaronsamuel137 yes, empty strings are being allowed.

[2015-09-02 16:06] aaronsamuel137 commented on #63
Rosetta can already identify both items without very many code changes, and it will handle the case of >1 dependency already. The question here is, what do we do with this information? Do we mark each string from a different sim with a different color? Make a new section for each sim dependency? Something else?

[2015-09-02 16:36] jbphet commented on #66
I think that this would be a good design question to address in the second version of the translation utility.  The first version, which is coming up on its first round of testing by external translators, was intended to be "bare bones".

I'll mark this issue for discussion at the next developer meeting and we can decide if the rest of the team agrees.

[2015-09-02 16:38] jbphet commented on #63
Do we really need to address this for v1?  I've added the developer-meeting label so that we can discuss.

[2015-09-02 16:45] pixelzoom commented on #44
Validating on "Submit" is way too late in the process.

[2015-09-02 16:58] pixelzoom commented on #63
There are currently 2 headings: "Sim String" and "Common Strings".   To use Concentration as an example... I don't think that beers-law-lab strings should be mixed in with "Sim Strings".  Recommend to (1) relabel "Sim Strings" to indicate the sim title (e.g. "Concentration"), and (2) show strings from other sims under separate headings, with a warning similar to "Common Strings".  Here's how this

[2015-09-02 17:02] pixelzoom commented on #66
Agreed that this can be addressed in a later version.  But I think putting strings from other sims under the "Sim Strings" heading in this first beta is a mistake.

[2015-09-03 18:25] jbphet commented on #56
Discussed in the 9/3/2015 meeting and decided to do two things in the short term:
+ set up a task to test translation of some of the languages that required users to specify preferred fonts for Java sim
+ continue discussion at next dev meeting when @pixelzoom is available

[2015-09-03 18:41] jbphet commented on #63
Discussed in the 9/3/2015 meeting.  We agreed to implement some rudimentary handling of this for v1, and make it look like this:

**Concentration**

concentration.name...

**Shared Strings (will affect Beers Law Lab)**

solute...

**Common Strings (will affect multiple simulations)**

version...

*However,* this will only work in the case where the user is translating a sim that gets its strings f

[2015-09-03 18:43] jbphet commented on #66
See https://github.com/phetsims/rosetta/issues/63#issuecomment-137538586 for decision on what to do about this in the short term.

[2015-09-03 20:46] aaronsamuel137 commented on #53
Addressed in a69d550b870297bc03816c6e184eae834d42ab36.

Sorry to address so many issues in one commit, I was looking at a lot of formatting stuff at once.

[2015-09-03 21:49] aaronsamuel137 commented on #44
Closing here, tracked in #59

[2015-09-03 21:49] #44 closed

[2015-09-07 15:01] aaronsamuel137 commented on #50
OK, leaving them in rosetta for now. Closing.

[2015-09-07 15:01] #50 closed

[2015-09-07 15:04] aaronsamuel137 commented on #31
Addressed and further refined in #54. Closing

[2015-09-07 15:04] #31 closed

[2015-09-07 15:05] aaronsamuel137 commented on #37
I think this will be fixed now that #52 is fixed. Closing for now.

[2015-09-07 15:05] #37 closed

[2015-09-07 16:58] aaronsamuel137 commented on #58
Addressed when taking care of #63. Closing

[2015-09-07 16:58] #58 closed

[2015-09-07 16:59] aaronsamuel137 commented on #66
Unassigning for now. This will not be addressed in 1.0.

[2015-09-07 18:57] aaronsamuel137 commented on #51
Added string keys. Assigning to @pixelzoom for review.

[2015-09-07 18:58] aaronsamuel137 commented on #52
Addressed. Assigning to @pixelzoom for review.

[2015-09-07 18:58] aaronsamuel137 commented on #53
Assigning to @pixelzoom for review.

[2015-09-07 18:59] aaronsamuel137 commented on #54
Ended up using blue as a color, but having second thoughts since people associate blue with links. What color would you recommend @pixelzoom?

[2015-09-07 19:01] aaronsamuel137 commented on #55
Text fields now wrap around and grow. This was slightly complicated to implement, I had to use contenteditable divs and a hidden input to submit the value.

Also, pressing enter to create a new line is disable, since I am not sure how Rosetta should interpret that.

Assigning to @pixelzoom for review.

[2015-09-07 19:12] aaronsamuel137 commented on #59
I've added a similar behavior as the Java sims. Assigning to @pixelzoom for review.

[2015-09-07 19:13] aaronsamuel137 commented on #60
Removed en. Assigning to @pixelzoom for review.

[2015-09-07 19:14] aaronsamuel137 commented on #61
Trivial change. Closing.

[2015-09-07 19:14] #61 closed

[2015-09-07 19:15] aaronsamuel137 commented on #62
Added (HTML5) to title. Closing.

[2015-09-07 19:15] #62 closed

[2015-09-07 19:17] aaronsamuel137 commented on #63
Implemented to suggestion in https://github.com/phetsims/rosetta/issues/63#issuecomment-137538586. Note that rosetta doesn't have easy access to the title of sim dependencies (since they are not in the compiled sim), so it currently reads:

**Shared Strings (will affect beers-law-lab)**

and not

**Shared Strings (will affect Beers Law Lab)**

Assigning to @pixelzoom for review.

[2015-09-07 19:19] aaronsamuel137 commented on #64
This was changed to read "[Sim Title] Strings" in #63, so is no longer relevant. Closing

[2015-09-07 19:19] #64 closed

[2015-09-07 19:19] aaronsamuel137 commented on #65
Combo box is now in sorted order. Assigning to @pixelzoom for review.

[2015-09-08 15:50] pixelzoom commented on #65
:+1: Closing.

[2015-09-08 15:50] #65 closed

[2015-09-08 15:51] pixelzoom commented on #60
:+1: Closing.

[2015-09-08 15:51] #60 closed

[2015-09-08 15:51] pixelzoom commented on #53
Looks great. Closing.

[2015-09-08 15:51] #53 closed

[2015-09-08 15:52] pixelzoom commented on #55
Awesome. Closing.

[2015-09-08 15:52] #55 closed

[2015-09-08 15:54] pixelzoom commented on #51
Looks great. I like how you've used a smaller gray font to deemphasize the keys.

Closing.

[2015-09-08 15:54] #51 closed

[2015-09-08 16:04] pixelzoom commented on #59
Looks great, but I think we should discuss the error message and terminology, which differs from the Java version.

Internally, we refer to these as "MessageFormat placeholders". The error message in the Java version identifies specifically which placeholder(s) are missing. For example, if the English string is "{0} {1} {2}" and the translated string is "{0}", then the error message is:

`missing

[2015-09-08 16:20] pixelzoom commented on #56
9/8/15 dev meeting:
• JO: It may be a security issue to detect exactly which font they're using.
• SR: According to StackOverflow, only detectable by using dev tools.
• Close this for now. Deal with it if/when it occurs.

[2015-09-08 16:20] #56 closed

[2015-09-08 17:18] aaronsamuel137 commented on #59
It's not difficult to use the same message as the Java, so I've changed it.

Regarding point 2, I think we still might want to document what "MessageFormat placeholders" are. Perhaps @phet-steele can do this when he creates the document.

Assigning to @pixelzoom for review.

[2015-09-08 17:37] pixelzoom commented on #59
Looks good for missing placeholders. How about extra placeholders?  Eg, English is "{0}" and translated is "{0} {1}"?  Do we need to flag that?

[2015-09-08 17:38] pixelzoom commented on #54
I don't mind blue.  But you might want to ask others what they think.

[2015-09-08 17:39] pixelzoom commented on #52
:+1: Closing.

[2015-09-08 17:39] #52 closed

[2015-09-08 17:41] pixelzoom commented on #63
Using repo name (e.g., beers-law-lab) instead of title (e.g. "Beer's Law Lab") is OK with me for beta, to see how it's interpreted by translators.

If a sim is dependent on >1 other repo in active-sims, will there be 2 headings labeled "Shared Strings"?

[2015-09-08 18:24] aaronsamuel137 commented on #63
Yes, it should handle the case of >1 other repos in active sims, though it hasn't been tested.

Okay to close this?

[2015-09-08 18:29] pixelzoom commented on #63
So the UI will look like what's shown below. It seems odd to have 2 sections title "Shared Strings", doesn't it?

**Concentration**

concentration.name...

**Shared Strings (will affect beers-law-lab)**

solute...

**Shared Strings (will affect some-other-sim)**

...

**Common Strings (will affect multiple simulations)**

version...

[2015-09-08 18:35] aaronsamuel137 commented on #63
No, it would look like this:

**Concentration**

concentration.name...

**Shared Strings (will affect beers-law-lab, some-other-sim)**

solute...

**Common Strings (will affect multiple simulations)**

version...

[2015-09-08 19:01] pixelzoom commented on #63
Thanks for clarifying. I think that works for beta. Closing.

[2015-09-08 19:01] #63 closed

[2015-09-08 19:38] aaronsamuel137 commented on #54
I'll take a poll at the next dev meeting.

[2015-09-09 15:01] phet-steele commented on #59
@pixelzoom @aaronsamuel137 I just put a note of explaining MessageFormat placeholders in the document.

[2015-09-09 15:20] aaronsamuel137 commented on #59
Added validation for extra placeholders too. A few caveats:

1. It won't handle 10 or more MessageFormat placeholders, due to the way that regex is structured. I assume this will never be an issues?
2. What about the case of two of the same number, i.e. {0}{0}? Should this be allowed? Currently it is.

Assigning to @pixelzoom for review.

[2015-09-09 15:21] aaronsamuel137 commented on #57
Added a help button with @dawsonbotsford. Feel free to give feedback about the look, placement, etc. My main concern with this placement is that it might overlap with the CU logo on narrower screens. But perhaps it is fine for version 1.0.

Assigning to @pixelzoom for review.

[2015-09-09 15:22] aaronsamuel137 commented on #46
OK I am pretty sure this is fixed now. Can you verify @phet-steele?

[2015-09-09 15:29] aaronsamuel137 opened #67 "HTML strings should show markup, not be interpreted"
I noticed in chains, that the English string is:

and not:

[code]

I assume we should be showing the actual markup here.

[2015-09-09 16:22] pixelzoom commented on #67
Yes, should be showing HTML markup.

[2015-09-09 16:49] #67 closed

[2015-09-09 16:50] aaronsamuel137 commented on #67
This used to work but was broken by changes to the code that marks up \n and {0}. Fixed now.

[2015-09-09 18:03] pixelzoom commented on #57
I never would have looked in the upper-right corner for the Help button.  Why not put it next to the other buttons? (Test, Save, Submit, Help)

[2015-09-09 18:05] pixelzoom commented on #57
I hate to keep pointing to the Java version, but here's a screenshot. The Help button is with the other buttons, not buried in the menubar or someplace else.

![screenshot_607](https://cloud.githubusercontent.com/assets/3046552/9770047/0c93c9cc-56eb-11e5-9b99-a8a7bb59ce96.png)

[2015-09-09 18:10] pixelzoom commented on #59
This doesn't seem to be correctly detecting missing or extra placeholders. See screenshot below for Arabic (ar) translation of Concentration.  Is the fact that Arabic is RTL causing problems?

![screenshot_608](https://cloud.githubusercontent.com/assets/3046552/9770110/63a024f4-56eb-11e5-8713-b3f4111f3b4b.png)

About your questions:

I don't understand why there should be a limit. This sounds like

[2015-09-09 19:56] aaronsamuel137 commented on #59
Arabic concentration was working for me, but I did discover a bug where the error message wouldn't get updated if you had one error, and then tabbed back in and created a different error. Maybe that's what was happening for you? Either way, I think it is fixed now and didn't have to do with the rtl.

I've also addressed the other points. Duplicates will now show up as "extra" messageFormats, just

[2015-09-09 19:57] aaronsamuel137 commented on #57
Help button moved. Assigning to @pixelzoom for review.

[2015-09-10 18:23] pixelzoom commented on #54
@samreid ok with blue.
@jbphet ok with blue.
no other opinions.
blue it is, closing.

[2015-09-10 18:23] #54 closed

[2015-09-10 19:18] pixelzoom opened #68 "hide accessibility strings that are not visible in the sim"
For accessibility strings that are not visible (read by the screen reader), they will have a `"visible": "false"` field.  Hide these in Rosetta.

[code]

[2015-09-10 19:21] pixelzoom commented on #68
@aaronsamuel137 will handle Rosetta.

@jonathanolson will makes sure visible:false is set for proper strings.

[2015-09-10 21:21] aaronsamuel137 commented on #68
Upon reflection, it's a little awkward to have a boolean field that defaults to true. Checking if the field is present does the reverse of what you'd expect for a boolean field:

[code]

And it gets even more complicated if there will be cases when ```"visible": true``` will be explicitly set.

Any thoughts on this? What about changing the field to "invisible" which defaults to false?

[2015-09-10 21:22] aaronsamuel137 commented on #68
@pixelzoom, @jonathanolson please comment, can you comment on this?

[2015-09-10 21:31] pixelzoom commented on #68
How about this?

`var displayInRosetta = ( string.visible === undefined ) ? true : string.visible;`

[2015-09-10 21:32] pixelzoom commented on #68
How about this?

`var displayInRosetta = ( stringEntry.visible === undefined ) ? true : stringEntry.visible;`

... where `stringEntry` is the object literal that a string key maps to.

[2015-09-10 21:46] pixelzoom commented on #57
:+1: Closing.

[2015-09-10 21:46] #57 closed

[2015-09-10 21:48] pixelzoom commented on #59
Yes, must've been the case where I created a different error in the same field.

Looks good, closing.

[2015-09-10 21:48] #59 closed

[2015-09-10 21:51] aaronsamuel137 commented on #68
Yeah that works, just thought it would look a little cleaner the other way. No problem going with that solution though.

[2015-09-10 22:11] pixelzoom commented on #68
Since we use property 'visible' extensively elsewhere, I think it's preferable to stick with that, and live with a bit of awkward code here.

[2015-09-10 22:16] aaronsamuel137 commented on #68
Sounds good. I've added this check to rosetta. Assigning to @pixelzoom for review.

[2015-09-10 22:25] pixelzoom commented on #68
This should go to @jonathanolson next, to add the "visible" field to strings.json.

I also have no idea how I'd test this, so perhaps best for @jonathanolson to also confirm the Rosetta changes.

[2015-09-10 22:28] aaronsamuel137 commented on #33
Another quirk to convey: There will be cases where the old Java string had html in it. However, this won't work in the HTML5 version unless the string is explicitly an html string. In some cases, these strings are now MultilineStrings instead:

<img width="854" alt="screen shot 2015-09-10 at 4 23 58 pm" src="https://cloud.githubusercontent.com/assets/3193912/9802579/90b86b8e-57d8-11e5-9b8b-fc2309f

[2015-09-10 22:34] pixelzoom commented on #33
Perhaps we should fix these cases in the ported string files?

[2015-09-11 15:19] aaronsamuel137 opened #69 "Rosetta uses inconsistent string versions"
From https://github.com/phetsims/chipper/issues/340#issuecomment-139568454

One solution to this would be grabbing the correct sha from the published source when we get the string keys.

[2015-09-14 16:17] phet-steele commented on #43
@ariel-phet @aaronsamuel137 it's sounding like @oliver-phet is saying common strings should change (whether automatically or manually) in every sim after a string is updated. Are we going ahead with this at some point or not? What is going to be the function here so I know what to say in the help document :)

[2015-09-14 16:39] aaronsamuel137 commented on #43
For now, sims are not automatically updated when a common string changes. The translator has the option to manually resubmit that sim if they want to updated it.

That being said, it wouldn't be too difficult to republish all translations of a locale when a common string changes if we want to. I don't think we should worry about this for 1.0.

Any thoughts @ariel-phet?

[2015-09-14 16:39] aaronsamuel137 commented on #69
Fixed. Closing

[2015-09-14 16:39] #69 closed

[2015-09-14 16:46] aaronsamuel137 commented on #11
This is working fine, so closing. @jbphet can address any outstanding issues during his code review.

[2015-09-14 16:46] #11 closed

[2015-09-14 16:47] aaronsamuel137 commented on #6
This is working fine, so closing. @jbphet can address any outstanding issues during his code review.

[2015-09-14 16:47] #6 closed

[2015-09-15 00:01] ariel-phet opened #70 "Is the save featuring working?"
When I try using the save feature the indicator just spins....and nothing happens, no feedback occurs and it does not seem to save?

[2015-09-15 02:15] aaronsamuel137 commented on #70
Good catch. Looks like a small thing broke when I was doing some other changes. Should be fixed now.

Assigning to @ariel-phet for review.

[2015-09-15 03:01] ariel-phet commented on #70
Looks good! Closing

[2015-09-15 03:01] #70 closed

[2015-09-15 15:29] ariel-phet commented on #43
I agree, not for 1.0, unassigning for the moment

[2015-09-16 01:11] ariel-phet commented on #48
This issue has been addressed by documentation, but should be left open to consider longer term solutions

[2015-09-16 01:13] ariel-phet commented on #33
@pixelzoom what would it take to make these fixes? Is it something an undergrad could take care of with some guidance?

[2015-09-16 15:21] pixelzoom commented on #33
Write a script that looks through string files for HTML markup that consists solely of `<html>` and `<br>` tags, replaces the "<html>" and "</html>" with "" (empty string) and replaces "<br>" with "\n".  It would also be good to warn about other more complicated HTML markup, because it may not be supported in HTML5 sims.

[2015-09-17 18:09] oliver-phet opened #71 "User suggestion: ability to choose default units, sim startup behavior based on locale"
We received a suggestion by a German user to have ability to choose default temperature in Celsius. Could this be done in translation utility?
ON: Greenhouse Gas is the sim in question
CM: If the request is to specify whether to use F or C for temperature based on locale… No, this is currently beyond the scope of Rosetta, and PhET i18n in general. We currently deal with i18n issues related to stri

[2015-09-17 19:01] pixelzoom commented on #33
9/17/15 dev meeting:
• @aaronsamuel137 will discuss with @pixelzoom
• @samreid suggested just doing search-&-replace in IntelliJ

[2015-09-17 20:20] aaronsamuel137 commented on #33
I've removed all these strings. Assigning back to @ariel-phet to close or do something else here.

[2015-09-18 03:41] aaronsamuel137 opened #72 "Sometimes strings ending with "}" don't submit correctly"
Pointed out by one of the trusted translators. See https://github.com/phetsims/babel/blob/master/joist/joist-strings_it.json for an example. Some of the strings with patterns that should end with "}" are missing the "}".

[2015-09-18 03:51] aaronsamuel137 commented on #72
Here is the a funky commit https://github.com/phetsims/babel/commit/a9b8f84336aeca15c6e442913c5929a78b195d9e

[2015-09-18 14:54] aaronsamuel137 commented on #72
I'm guessing this issue is caused by the fact that rosetta uses content editable divs instead of inputs. This was the best way I could think of to get the growing behavior we wanted, and it will also make it possible to do things like add color highlighting within the inputs themselves later on if we want.

Every time a user enters a character, it is copied over to a hidden input that gets submitt

[2015-09-18 14:56] aaronsamuel137 commented on #72
This fix is deployed now. @ariel-phet, let me know if you hear of this continuing to be an issue for people.

[2015-09-28 16:41] jbphet opened #73 "code review"
I was asked a while back to do a code review, then to wait until some additional testing had been done.  I'll do it now.

[2015-09-28 17:18] jbphet opened #74 "add documentation on how to manage rosetta"
We should probably have some good, clear documentation about how to start, shut down, check status of, and so forth for the translation utility so that we can handle things that come up when @aaronsamuel137 is not available.  A markdown (.md) file in the root github directory would probably be a good place for this, and could be referenced from the README.md file.

This may include some very PhET-

[2015-09-28 17:22] jbphet opened #75 "implementation notes needs to be completed"
The implementation-notes.txt file doesn't appear to have been updated during the implementation process.  This should be done to support future maintenance and expansion of the translation utility.

[2015-09-28 17:28] jbphet opened #76 "missing copyright notices in many of the HTML template files"
In html/views, the ```error.html``` and ```translation-submit.html``` files have copyright notices, the other files don't seem to have them.  They probably should be there.

[2015-09-28 17:44] jbphet opened #77 "is simInfoArray.json still used?"
There is a file in the data subdirectory called simInfoArray.json.  It's an empty array in github.  It appears to be used in several places by the source code, so I thought it might be something that is populated only on the server.  I checked it out on the server, and it appears to be empty there also.  Is it still used?  If it is, but is dynamic, does it really need to be maintained on GitHub?

[2015-09-28 17:50] aaronsamuel137 commented on #77
Currently, build-server commits to this file automatically when a sim is deployed. That was rosetta will know what sims are translatable. To remove it from github will require changes to build server and setting up some kind of database with this information. I recommend against it. It will eventually be removed once all sims are translatable.

[2015-09-28 17:51] jbphet commented on #77
And it is empty now because no sims are translatable?

[2015-09-28 17:55] aaronsamuel137 commented on #77
Actually, it isn't empty, I reverted my commit to empty it out as I am still using those sims for testing build-server on phet-dev.

However, once testing it done, it will be empty until any of our SR-redeploys are up on the live site. They will be added automatically if deployed using build-server.

[2015-09-28 17:59] jbphet opened #78 "document using branches for testing (or remove comment)"
The following line was found in constants.js:

[code]

This is a little confusing since the value is currently set to 'master'.  It would be good to document whether this can be switched to some alternative value to enable testing, or whether is should always be set to 'master' from now on.  And, if it was something used to enable testing and is no longer useful, perhaps it should now just be in-l

[2015-09-28 18:14] pixelzoom commented on #76
@aaronsamuel137 Do you have a copyright profile set up in IntelliJ IDEA? Preferences > Copyright > Copyright Profiles.  Mine looks like this:

![screenshot_16](https://cloud.githubusercontent.com/assets/3046552/10144356/7e792296-65da-11e5-91e5-2e27feea93c9.png)

[2015-09-28 18:29] jbphet opened #79 "sortedLocalInfoArray should be a value or a getter"
LocaleInfo.js exports the following:

[code]

For clarity, it should either be getSortedLocaleInfoArray (since it's a function) or should just be assigned to be the value of the sortedLocales array or an ES5 getter, if possible.

[2015-09-28 18:41] jbphet opened #80 "Should session be checked on every page serve?"
There is a comment in routes.js that says:

[code]

I believe I wrote this comment originally, and did so because I was concerned that checking session status for every page might make the translation utility operate a little slowly.  @aaronsamuel137 probably has a better feel for whether this is true, since he's been doing the bulk of the development and testing on this.  We should either remove

[2015-09-28 19:03] jbphet opened #81 "Error handling should be added for case where string extraction fails"
routes.js includes the following code:

[code]

and TranslationUtils.js includes the following in the extractStrings method:

[code]

It appears that it is legitimate for TranslationUtils.extractStrings to return ```null```, but there doesn't appear to be any handling of that case in routes.js.  Such handling should be added, probably something like just displaying the error page.

[2015-09-28 22:18] aaronsamuel137 commented on #74
I've added a little bit to the README in this commit: feef2c2b3903e0b5ffa75ccd2262c05446872a79

Should I add more documentation about how rosetta is handled, such as what directory it is stored in, etc., or do we want this somewhere private?

[2015-09-28 22:19] aaronsamuel137 commented on #74
Added to developer meeting to discuss

[2015-09-28 22:26] aaronsamuel137 commented on #76
Added copyright notices. Thanks for the Intellij tip @pixelzoom, I have added a copyright profile now.

Assigning to @jbphet for review.

[2015-09-28 22:27] aaronsamuel137 commented on #77
OK to close this, or is there more to do here?

Assigning to @jbphet.

[2015-09-28 22:35] aaronsamuel137 commented on #78
I've updated the comments here, and added an assertion for the possible values of BRANCH.

Assigning to @jbphet for review.

[2015-09-28 22:51] aaronsamuel137 commented on #79
Fixed this, and the field for localeInfo, and clarified the types of each.

Assigning to @jbphet for review.

[2015-09-28 23:17] aaronsamuel137 commented on #81
Good catch. An error page should be rendered if this returns null. Fixed. Assigning to @jbphet for review.

[2015-09-29 14:29] aaronsamuel137 opened #82 "Session security"
We should move the session secret to the build-local.json file and change it. And look into other steps to make sure Rosetta is secure.

[2015-09-29 14:34] aaronsamuel137 opened #83 "Trusted translators not appearing in credits"
Not sure why, but none of them have been appearing the credits in the beta test. When Ariel or I test, the credits seem to work fine.

Not sure how to fix it, since I can't reproduce it currently. Maybe something was broken during the testing period that has since been fixed?

I'll make a note to look into this as soon as trusted translators start on the main site.

[2015-09-29 14:56] aaronsamuel137 commented on #80
I've updated the docs here. Basically, I don't think there is a need to address this. The current behavior is for rosetta to check for a session on the main website. If a session is found and the user is a trusted translator, that information is stored in a session created by rosetta, so that future calls to checkForValidSession are just a simple if statement, and don't need to call back to the ma

[2015-09-29 15:19] aaronsamuel137 commented on #82
Added a secure secret in build-local.json. Right now it is only required on linux, so that people don't need to worry about setting it up when testing locally. Of course, this is not a great test since it assumes linux = production. Do you have any other suggestions about how to do this @jbphet?

[2015-09-29 15:23] aaronsamuel137 opened #84 "Remove silent and logFile options"
These options are never used in practice, and were also removed from build server in https://github.com/phetsims/chipper/issues/352.

[2015-09-29 15:23] aaronsamuel137 commented on #84
Removed, closing

[2015-09-29 15:23] #84 closed

[2015-09-29 19:30] jbphet commented on #76
Headers look good, thanks.  Closing.

[2015-09-29 19:30] #76 closed

[2015-09-29 19:57] jbphet commented on #79
Changes look good, closing.

[2015-09-29 19:57] #79 closed

[2015-09-29 20:41] jbphet commented on #81
I tried testing this by modifying TranslationUtils.extractStrings to always return ```null```, and this causes Rosetta to crash when I select a sim and language and press the "Go" button.  A quick look at the stack trace leads me to believe that the code tries to show the error message but then continue execution.  Does there need to be a return statement or something after showing the error page?

[2015-09-29 21:00] jbphet commented on #80
The update to the comments looks good, and I agree that this should fully address the issue.  Closing.

[2015-09-29 21:00] #80 closed

[2015-09-29 21:01] jbphet commented on #78
Looks good, closing.

[2015-09-29 21:01] #78 closed

[2015-09-29 21:03] jbphet commented on #77
Thanks for the explanation, it makes sense.  Closing.

[2015-09-29 21:03] #77 closed

[2015-09-29 21:10] jbphet commented on #38
We've changed the handling of sim names a bit since this issue was logged, but I'm not entirely sure whether this issue has been fully addressed.  Assigning to @aaronsamuel137 to answer and, if he's not sure, he can assign back to me and I'll dig a little deeper.

[2015-09-29 21:12] aaronsamuel137 commented on #81
Good catch. It did need a return statement, and another small fix.

Assigning to @jbphet for review.

[2015-09-29 21:22] jbphet commented on #81
Much better - thanks.  Changes look good, testing succeeded.  Closing.

[2015-09-29 21:23] #81 closed

[2015-09-29 21:37] aaronsamuel137 commented on #38
This is still an issue. Looks like the string is now called "screen.concentration", but it doesn't appear anywhere in the sim, and yet it is available to translate.

My thought is that we ignore this for 1.0. I'm not sure what the best way of addressing it will be. It will likely be easier to address when we add support for string metadata (#34), though we'd still need some way of knowing whether

[2015-09-29 22:10] jbphet opened #85 "odd-looking loop construct"
I'm seeing the following code in routes.js:

[code]

I'm wondering why this is done rather than:

[code]

[2015-09-29 22:46] jbphet opened #86 "code structure counts on timing of responses to HTTP requests"
I'm seeing the following code in routes.js:

[code]

At the point where this code is executed, the ```finished``` function is not yet defined - it is defined a bit later in the code flow.  I don't know a ton about how Node.js works, but it seems like there is a small possibility that the response could come back before ```finished``` was done being defined.  Why not have this request occur *after*

[2015-09-29 22:49] jbphet opened #87 "some of the routes have no header comment"
A handful of the routes in routes.js don't have header comments.  Maintainability would be somewhat improved if these were added.

[2015-09-29 23:01] jbphet opened #88 "suggest using _.contains instead of defining our own"
There is a method for testing whether an item is contained in an array that is defined in TranslationUtils.  This could probably be replaced by _.contains.

[2015-09-30 18:43] jbphet commented on #82
@aaronsamuel137 and I discussed this and decided that it would be better to have the "secure secret" value in the build-local.json file.  He will make this change and will add an assertion that will let anyone who is trying to test locally know what to do if they run into this.

[2015-09-30 19:00] jbphet opened #89 "Logs should be compressed and archived periodically"
So that the log files don't get unwieldy, they should probably be compressed and archived periodically.  I discussed this with @aaronsamuel137, and he said that he'd worked with OIT to set up something similar to handle the Tomcat logs.

[2015-09-30 19:05] jbphet opened #90 "Reduce the amount of logging"
The logging in Rosetta is pretty extensive right now, basically because we're still trying to make sure that it works.  Once it is reasonably stable, we should examine whether we want to reduce the amount of logging that is done.  This may be as simple as setting the logger (winston is the logging package) to log only error and warning information, and keep the 'info' level off unless we're trying

[2015-09-30 19:11] jbphet opened #91 "can't check status using /etc/init.d/rosetta status"
If I try to use ```sudo /etc/init.d/rosetta status``` to check whether the translation utility is up and running, I get an error that says I don't have permissions.  Other options, such as ```restart```, work fine.  We should work with OIT to set things up so that anyone in the phet group can easily check the status.

[2015-09-30 19:20] jbphet opened #92 "we should set up a process monitor to notify us if Rosetta crashes"
Currently the only way we are likely to know if Rosetta crashes is if a user notifies us.  I imagine that there is some sort of a 'process monitor' capability in Linux that OIT could set up for us that would send out email notifications if there is a crash.  I discussed this with @aaronsamuel137 and he said he would work with OIT to investigate.

[2015-09-30 19:31] jbphet opened #93 "test simultaneous commits"
While doing the code review, it occurred to me that we probably haven't tested the case where simultaneous commits occur to the strings repository.  The code looks like it should handle it, but it would be good to test it out to be sure.  I think we should test three cases:

+ simultaneously submit translations for two different simulations in different languages
+ simultaneously submit translatio

[2015-09-30 19:31] jbphet commented on #93
Assigning to @ariel-phet so that he can give this to someone on the QA team.

[2015-09-30 19:40] jbphet opened #94 "message about body-parser being deprecated on startup"
When Rosetta is started, it spits out the following message:

If possible, it would be good to fix this so that we don't run into any issues with updating versions of node packages.

[2015-09-30 19:44] jbphet opened #95 "add header doc to init.sql"
I saw init.sql in the repo, but couldn't find any references to it.  I asked @aaronsamuel137 about it, and he said it is used to set up the database when installing Rosetta on a new machine.  There should be some documentation in the file to make this clear, and we may want to consider having it in a 'tools' or 'setup' subdirectory.

[2015-09-30 19:50] jbphet commented on #73
Code review is complete.  For the most part, everything looks good, and a number of separate issues have been logged about things that were observed during the review or were inspired by examining the code.  Closing.

[2015-09-30 19:50] #73 closed

[2015-09-30 21:59] aaronsamuel137 commented on #82
I've made this change. Assigning to @jbphet for review.

[2015-09-30 22:08] aaronsamuel137 commented on #85
No good reason for this. As the code changed over time it ended up this way because there used to be other stuff in the for-loop and the need for a closure came later. Anyway, fixed now.

Assigning to @jbphet for review

[2015-09-30 22:13] aaronsamuel137 commented on #86
Good point. This is also a remnant from an old version of the code. Fixed.

Assigning to @jbphet for review.

[2015-09-30 22:18] aaronsamuel137 commented on #87
Added these comments. Assigning to @jbphet for review.

[2015-09-30 22:27] aaronsamuel137 commented on #88
Use _.contains. Closing

[2015-09-30 22:27] #88 closed

[2015-09-30 22:27] aaronsamuel137 commented on #89
Probably won't worry about this until after #90

[2015-09-30 22:28] aaronsamuel137 commented on #91
Realized you can check the status, just not with sudo. I'll add this to the readme. Closing

[2015-09-30 22:28] #91 closed

[2015-09-30 22:35] aaronsamuel137 commented on #94
Just needed to add an option here. Now the warning no longer occurs. Closing

[2015-09-30 22:35] #94 closed

[2015-10-02 14:44] aaronsamuel137 commented on #74
Added more documentation to README. Assigning to @jbphet for review.

[2015-10-02 14:44] aaronsamuel137 commented on #72
Should be fixed. Closing

[2015-10-02 14:44] #72 closed

[2015-10-02 15:33] aaronsamuel137 commented on #75
Added some notes here. Anything else you think I should cover?

Assigning to @jbphet for review.

[2015-10-02 15:43] aaronsamuel137 commented on #95
Added some docs. Let me know if anything is not clear.

Assigning to @jbphet for review.

[2015-10-02 15:43] aaronsamuel137 commented on #92
Email sent to OIT, waiting to hear back.

[2015-10-02 17:08] phet-steele commented on #93
Testing the first scenario, two different sims + two different locales:

The first occurrence of weirdness happened here: https://github.com/phetsims/babel/commit/e05bc8465bde8bf0e0c917ac96dbb5c8778ada6f

This needs some explanation so you know what I did.

There are two different computers being used here, computer 1 and computer 2.
Computer 1 is translating molecule-shapes_kn
Computer 2 is trans

[2015-10-02 17:30] phet-steele commented on #93
Successfully reproduced

[2015-10-02 18:04] phet-steele commented on #93
For scenario two, one sim + two different locales:

Same thing happened as in the previous scenario, with an additional effect. In the first scenario, computer 2 translations appeared in the computer 1 joist file. This happened in this scenario as the first commit, as well as computer 1 translations appearing in the computer 2 joist file as a second commit. However, this second commit is not repla

[2015-10-02 18:27] phet-steele commented on #93
For scenario three, one sim + one locale:

Working as expected, the second submission (second by a few milliseconds) replaces string values from the first submission. The history of these events are also successfully recorded in the commit.

[2015-10-05 17:31] jbphet commented on #93
It looks like @phet-steele has found some potential issues in the course of this testing.  Assigning to @aaronsamuel137 to investigate.

[2015-10-05 19:12] aaronsamuel137 commented on #93
Ah looks like there was a bug here where histories were looked up by repo name, but it didn't account for locale. I think I've fixed it.

Can you try this again @phet-steele and see if it works?

[2015-10-06 20:13] jbphet commented on #95
Docs should help, thanks.  Closing.

[2015-10-06 20:13] #95 closed

[2015-10-06 20:17] jbphet commented on #87
Comments look good, thanks.  Closing.

[2015-10-06 20:17] #87 closed

[2015-10-06 20:18] jbphet commented on #86
Looks good, thanks.  Closing.

[2015-10-06 20:18] #86 closed

[2015-10-06 20:19] jbphet commented on #85
Looks better, thanks.  Closing.

[2015-10-06 20:19] #85 closed

[2015-10-06 20:23] jbphet commented on #82
Looks good.  The error message seems clear and should serve to let people know what they need to do to make it run locally.  Closing.

[2015-10-06 20:23] #82 closed

[2015-10-06 20:27] jbphet commented on #75
I think there should be a bit of a big picture overview of how this works.  The audience that I'm envisioning is someone completely new to the project, since we've had an offer of outside help for working on this.  This document would explain the basic steps, like extracting the strings from the published sim file, pulling them from the various sim and common code repositories, constructing the tr

[2015-10-06 20:28] jbphet commented on #74
Looks decent.  We may feel like adding more once we have some experience in managing this.  Closing.

[2015-10-06 20:28] #74 closed

[2015-10-06 23:52] jbphet commented on #38
This is what the issue looks like on the current version of the translation page (I've highlighted the 'string of concern'):

![rosetta-screen-name-issue](https://cloud.githubusercontent.com/assets/3082831/10325766/8d45b4ce-6c51-11e5-9300-013ea285a5ba.png)

This doesn't seem like a huge deal to me, and I agree that it isn't vital to address it for 1.0.  I will add the "not for 1.0" label.

As for

[2015-10-06 23:56] jbphet commented on #38
One other thought: We could also decide that it's not worth addressing at all.  It will only be an issue in cases where the single-screen sim is translated before its multi-screen "parent" sim, and translating this string will actually be a step towards full translation of the parent sim.

[2015-10-07 02:14] pixelzoom commented on #38
+1 for not addressing at all.

[2015-10-07 14:57] aaronsamuel137 commented on #38
I agree with @pixelzoom here. Seems like such a minor issue that it's not worth complicating the code even more to fix it.

[2015-10-07 14:59] aaronsamuel137 commented on #92
OIT set this up. Apparently they set it up using the same monitoring as for the website, so the people currently who will be notified on crash are: @jonathanolson, @samreid, @kathy-phet, and @aaronsamuel137 (same as for website issue notifications).

To get added to this list requires sending an email to OIT.

Assigning to @jbphet to close or comment.

[2015-10-07 16:14] jbphet commented on #38
Awesome.  Let's call it good then.  Closing.

[2015-10-07 16:14] #38 closed

[2015-10-07 16:53] jbphet commented on #92
Discussed this with @aaronsamuel137 and decided that we should test it out.

Also, I'm going to request that I be put on the notifications list.

[2015-10-07 17:30] jbphet commented on #92
@aaronsamuel137 tested this by killing rosetta, and said the following (over Skype):

Looks like this is taken care of.  I've requested that OIT add me to the list of those notified on a crash.  Work completed, closing.  Thanks @aaronsamuel137!

[2015-10-07 17:30] #92 closed

[2015-10-16 15:17] aaronsamuel137 commented on #93
@ariel-phet, can we make testing this a top priority for @phet-steele? It would be great to verify this is fixed now that molarity is translatable on figaro.

[2015-10-16 15:20] aaronsamuel137 commented on #93
@phet-steele, if you are going to test this let me know, since I'll need to make sure the right version of rosetta is running for this test.

[2015-10-16 15:43] aaronsamuel137 commented on #75
I've converted this file to md and added the basic steps of how rosetta works. Assigning to @jbphet for review.

[2015-10-16 16:25] ariel-phet commented on #93
@phet-steele - please test this today if at ALL possible.

[2015-10-16 17:02] aaronsamuel137 commented on #93
Rosetta is ready to go on simian for testing. We should wait until this is done before unleashing the translators on molarity on figaro.

[2015-10-19 18:01] phet-steele opened #96 "Website and rosetta session IDs not in sync"
1. Log in with whoever, pick a sim (probably stick with M&L since that's where I first saw this), and pick a locale
   1. Enter all your strings and press submit. You should probably, to be safe, translate at least one common and one sim string (or all of them!).
2. On the debug info screen is where I logged out. I just changed the url to phet-dev.colorado.edu/translate/ while making sure I delete

[2015-10-19 18:03] aaronsamuel137 commented on #96
Addressed in 201e61bbf39cebd884808f46dbbe3a26838f42b9

Can you verify if this is fixed @phet-steele?

[2015-10-19 18:18] phet-steele commented on #96
@aaronsamuel137 nope, this didn't work.

[2015-10-19 23:16] aaronsamuel137 commented on #96
OK I've made one more change. Now the actual email address displayed in the browser should update too. It seems to work for me when I test. Can you test again and verify? If it doesn't work, let me know exactly what you are doing and I can look into it more.

[2015-10-20 17:52] aaronsamuel137 opened #97 "Use session to store string histories instead of a global"
Right now Rosetta relies on a global variable for holding string histories in memory. This isn't the best solution since it can lead to odd behavior if two people are submitting at the same time, and in some cases can lead to the string histories being modified incorrectly.

[2015-10-20 18:27] aaronsamuel137 commented on #96
I think this will handle the case of logging out and in as a separate user, but it won't handle the case of just re-logging into phet-dev as a new user without formally logging out. In the second case, the cookie from Tomcat doesn't change, so Rosetta has no way of knowing the that user changed.

I think you are right that there are some more issues to be resolved here, but perhaps these can be pu

[2015-10-21 16:54] phet-steele opened #98 "Adding a "Log Out" button"
@aaronsamuel137 and I have been discussing a way on how to rectify #96, and I suggested adding a log out button. This would be a way of directly telling Rosetta that the session ID of the website has changed (maybe?), instead of relying on Rosetta constantly comparing the two IDs (which hasn't worked out quite well yet).
For the sake of consistency, it would also just "feel" better to have a log o

[2015-10-21 17:31] phet-steele commented on #93
@aaronsamuel137 all the testing I've done with this has been with M&L and Molecule Shapes without any built versions. Would it be worth it for me to test Molarity and Hooke's Law  with built versions now that they're up? Or would you not expect anything different?

[2015-10-21 17:38] aaronsamuel137 commented on #93
You could do one or two tests here just to make sure it's all still good.

[2015-10-21 18:02] phet-steele commented on #46
Things are looking good on my end :smile:!

[2015-10-21 18:02] #46 closed

[2015-10-23 17:33] aaronsamuel137 commented on #97
This has been implemented and tested. Closing

[2015-10-23 17:33] #97 closed

[2015-10-26 18:21] ariel-phet commented on #98
This seems like a good suggestion @phet-steele

@aaronsamuel137 is this something @phetsims/matt-p could work on?

[2015-10-26 20:04] aaronsamuel137 commented on #98
He could, but it would probably be more efficient to just do it myself since he is not familiar with nodeJS or the Rosetta code.

I'll just do this myself and leave him to work on the help center and other website issues.

[2015-10-26 20:12] ariel-phet commented on #98
Sounds good

[2015-10-26 21:28] aaronsamuel137 commented on #98
I've added a basic log out button. The confusing thing about this is that is destroys your rosetta session, but doesn't log you out of the phet website entirely, so if you go right back to rosetta, you will still seem to be logged in.

I could look into making this log the user off the main site too if that would be better behavior. Does this do what you have been wanting @phet-steele?

[2015-10-27 19:00] ariel-phet commented on #33
Rosetta live, known quirks conveyed in documentation. Closing

[2015-10-27 19:00] #33 closed

[2015-10-27 20:44] aaronsamuel137 commented on #83
The translator won't appear in the credits if it is the first time that a locale is translated. This is because the build-server hasn't had the time to deploy the translation to the website before this happens, and therefore there LocalizedSimulation doesn't exist in the database yet to add the translator to.

I'll investigate other ways of doing this. We may need to create another API on the webs

[2015-10-28 14:59] aaronsamuel137 commented on #83
I think this is fixed now. I moved the code that adds the translator credits to the database from rosetta to build server. The should fix the order dependency.

I'll wait until another translation attempt before closing this to verify it is fixed.

In the mean time, I have manually added all of the translator credits that should have been added thus far.

[2015-10-29 05:13] ariel-phet commented on #98
@aaronsamuel137 maybe label it..."end session" Or "end translation session" or such to clarify?

[2015-10-29 05:34] phet-steele commented on #98
@aaronsamuel137 when you say "you will still seem to be logged in", do you mean that when I go back to rosetta that I actually *will* be logged in or it will be some sort of trick like I'm not actually logged in even though it shows I am? And if it's the latter case, why not have the button log you out of both rosetta and the website? This would match how say...Google...handles logging out of a si

[2015-10-29 14:12] aaronsamuel137 commented on #98
I think you're right @phet-steele. The log out button should log you out of both sites. I have made this change. Let me know if there is anything else needed here.

[2015-10-29 18:06] aaronsamuel137 commented on #83
Appears to be fixed now, I've seen new translation credits appear. Closing

[2015-10-29 18:06] #83 closed

[2015-10-29 18:10] aaronsamuel137 commented on #93
Can we close this @phet-steele? Any remaining issues you are aware of here?

[2015-10-31 06:02] kathy-phet opened #99 "Have Translators agree to permissions when they submit strings"
I need to check with CU legal, but we should probably add some sort of agreement upon "submit" such that the translators are providing CU with full use privileges for the translated strings to copywrite and license as we desire.

I will work on getting wording from CU legal for this.

[2015-11-02 21:41] arouinfar opened #100 "Request-URI Too Large Error on Testing RTL Locale"
My husband is a native Persian speaker and has been made the trusted translator for the fa locale. After translating most of the strings in Hooke's Law (a few Common Strings are temporarily untranslated), he attempted to preview the translation using "Test" and encountered the following error in both the latest Chrome & Firefox.

![image](https://cloud.githubusercontent.com/assets/8419308/10894804

[2015-11-02 21:44] ariel-phet commented on #100
@aaronsamuel137 I know IE had some URL limitation, but I was not aware of such on FF or Chrome. Might also be a question for @jonathanolson or Tuesday dev meeting

[2015-11-02 21:47] arouinfar commented on #100
We observed the issue on OSX 10.9.5 and 10.10.5, but haven't tried a Windows machine.

[2015-11-03 01:32] aaronsamuel137 commented on #100
It's not a browser issue, but an issue with apache's length limits. This could probably be changed but many some people warn against it. Here's a link to a stackoverflow where this issue is discussed: http://stackoverflow.com/questions/2586339/how-to-increase-apache-2-uri-length-limit

Probably a good topic to discuss with @jonathanolson and the other developers.

[2015-11-03 19:33] arouinfar commented on #100
If I remove two strings (adaptedFrom & menuItem.getUpdate, for example) Test no longer fails. This is an easy enough workaround for testing, but I don't know if there will be problems when it comes time to submit the translation.

[2015-11-03 19:40] aaronsamuel137 commented on #100
The submission process will work fine since it doesn't rely on any long URLs. It's probably just barely going over the apache limit for this sim and locale.

[2015-11-06 16:06] jbphet opened #101 "publishing maintenance release of sim makes previous translations unavailable"
I published a maintenance release of Friction to add QA credits a few days ago.  I just checked the translations, and several are not available.  For instance, if I attempt to access the Danish translation, I see this:

![rosetta-bug](https://cloud.githubusercontent.com/assets/3082831/11001629/6387e48c-8465-11e5-89c5-6d2ddd209ec9.png)

If I change the URL to point to https://phet.colorado.edu/sims

[2015-11-06 16:06] jbphet commented on #101
Assigning to myself, since I will be taking over maintenance of Rosetta, and I will work with @aaronsamuel137 to resolve.

[2015-11-06 19:17] ariel-phet commented on #100
Assigning this to @jonathanolson since it seems like most in his wheelhouse

[2015-11-09 18:28] jonathanolson commented on #100
A few alternatives to discuss:
1. Pass string data through iframe messages. Requires we don't run sim code before getting the strings, so we would need to do some architectural changes to built sims (scripts => strings that get created as scripts when sim is ready to launch, query parameter that delays launching of sim until iframe message, etc.)
2. Use a POST request to the server (strings not in

[2015-11-10 00:41] pixelzoom commented on #101
Can someone summarize what's causing the problem?

[2015-11-10 00:49] pixelzoom commented on #100
Worth noting is that hookes-law has a relatively small number of strings (29).

[2015-11-10 01:11] aaronsamuel137 commented on #101
The problem is that grunt deploy-production by default causes build-server to build locales=en. Therefore, when a new version is deployed, "latest" is changed to point to the new version directory, which only has an english translation in it.

However, we don't want to build locales=* because that will build everything that has strings in babel. We want it to build everything that has been transla

[2015-11-10 01:24] pixelzoom commented on #101
Recommendations:
(1) Don't use `locales=*` for this situation in `deploy-production`, choose a different option.
(2) Document the option in `grunt --help`.

[2015-11-10 17:19] samreid commented on #101
@aaronsamuel137 said the new way to deploy to the production server is just "grunt deploy-production", it will automatically do all of the correct locales.

@jbphet suggested patching old sims so they don't have different locales=* behavior, which was required by older versions of chipper.

@pixelzoom said it would be a lot of work to update last 10 deployed sims to use latest chipper.

@samreid a

[2015-11-10 18:27] aaronsamuel137 commented on #101
I've made this change. Want to review @jbphet?

[2015-11-10 19:07] samreid commented on #100
One possibility for the iframe idea:

1. the parent frame sets a global
2. the sim is launched with a query parameter like ?iframe-i18n-mode
3. the sim string plugins checks for the existence of globals in the parent frame

[2015-11-10 19:08] samreid commented on #100
@jbphet proposed short term solution: increase the URL length limit for apache and advise translators to avoid IE for now.

[2015-11-10 19:12] samreid commented on #100
@aaronsamuel137 will look into configuring apache to help out here.

[2015-11-12 22:08] aaronsamuel137 commented on #100
I've worked with OIT to reconfigure apache, but haven't tested yet. It looks like this Persian translation was never deployed, so I don't have an easy way to test.

Can you ask your husband to try again @arouinfar?

[2015-11-12 22:58] arouinfar commented on #100
@aaronsamuel137, it appears that the testing now works. I want to leave this issue open until the translation has been submitted (hopefully in the next day or so), in case we run into any related problems.

[2015-11-13 07:54] arouinfar commented on #100
We're no longer experiencing any issues while testing, and the Persian translation of Hooke's Law has been successfully submitted, so I'll go ahead and close this issue. Thanks for increasing the apache limit!

[2015-11-13 08:29] arouinfar opened #102 "Possible to right align the text in the About dialog for RTL locales?"
The left alignment of the text in the about menu makes it a bit tricky to read when viewing in a RTL locale. The readability would be greatly improved if the text could be right aligned instead. Is it possible to automatically right align this text for RTL locales?

<img width="668" alt="screen shot 2015-11-13 at 1 17 51 am" src="https://cloud.githubusercontent.com/assets/8419308/11141631/6331ae02

[2015-11-13 08:41] arouinfar opened #103 "RTL Strangeness with Parentheses"
When testing the Persian translation of Molecules & Light we stumbled into an issue with molecularNamePattern. It makes the most sense for the symbolic representation of the molecule to come <i>after</i> its name. (Which equates to the <i>left</i> of the name in RTL locales.) In the screenshot below, Carbon Monoxide is correctly displayed. However, the other chemical symbols are not being handled

[2015-11-13 16:08] aaronsamuel137 commented on #103
I've done a little investigating here. It looks like these issues are not just specific to testing, but will affect the built version too.

The issues in the control panel seem related to the subscript text. Those are the buttons that suffer from this issue.

The issues in the credits seem related to mixing RTL and LTR strings.

[2015-11-13 16:10] aaronsamuel137 commented on #102
Some strings in this dialog are not translatable, so it's not clear what the best thing to do here is. Seems like a good issue to discuss at developer meeting.

[2015-11-13 16:20] phet-steele commented on #93
Yes, this can be closed.

[2015-11-13 16:20] #93 closed

[2015-11-13 16:38] aaronsamuel137 commented on #103
Looks like the SubSupText is split into multiple scenery Nodes. I expect this has something to do with why the rtl embedding is not happening correctly.

[2015-11-13 20:07] arouinfar commented on #102
Here's a quick mockup of what the About menu would look like if right aligned:
![image](https://cloud.githubusercontent.com/assets/8419308/11156006/5c0e8c0a-8a06-11e5-9254-b021adca8b23.png)

Illustrator has some RTL funkiness that resulted in the Persian strings being pasted in backwards (e.g. credits becomes stiderc), but this should get the point across.

From the perspective of native Persian s

[2015-11-16 15:50] ariel-phet commented on #98
This seems good, and translators have been successfully using rosetta with no apparent complaints about this issue. Closing.

[2015-11-16 15:50] #98 closed

[2015-11-17 02:05] pixelzoom commented on #102
We are currently not doing any direction-specific layout. This would be something new. If it applies to the About dialog (which few people are likely to look at), wouldn't it also apply to control panels and other more visible parts of the UI?

[2015-11-17 17:00] samreid commented on #102
@jonathanolson said this would be a nice enhancement and not too much work.

@jbphet said if we are going to do this, shouldn't we do this for every simulation component, such as buttons, checkboxes, etc?

@pixelzoom says the about dialog is not too commonly used, so may not be worth the time.  If we are going to do this, we should do something general that involves a general layout manager that w

[2015-11-17 17:01] pixelzoom commented on #102
11/17/15 dev meeting notes:
• We don't currently have a way to determine direction based on locale.
• It would be better to solve this in a general way, rather than for this 1 dialog.
• A general solution will be a significant amount of work (can't estimate yet).

We would like input from @ariel-phet on whether to defer this, or to work on (and with what priority).

[2015-11-17 17:17] ariel-phet commented on #102
Although I agree with @arouinfar that this would be an improvement, there is just really no bandwidth to address the issue.

Please correct me if I am wrong, but this is the same situation as Java sims correct, we had no way to deal with adjusting layout there?

[2015-11-17 17:17] ariel-phet commented on #102
Assigning to @pixelzoom just for an answer from devs

[2015-11-17 17:29] samreid commented on #102
The Java sims did not have support for changing the layout based on RTL vs LTR languages.

@ariel-phet said we do not have time to investigate this at the moment.  Let's create an issue about dealing with RTL layout in the future, we may get to it in a year or so, and close this issue.

[2015-11-17 17:29] #102 closed

[2015-11-17 17:30] samreid commented on #102
Reopening until a new issue is created.  @pixelzoom can you pick an appropriate repo and open a related issue?

[2015-11-17 17:34] pixelzoom commented on #102
Correct, we hadn't implemented anything for Java/Flash sims.

@ariel-phet said on Skype call that we'll revisit at some point in the future.

We'll track the more general issue in https://github.com/phetsims/joist/issues/308.

[2015-11-17 18:41] arouinfar commented on #102
Thanks for discussing this issue! @pixelzoom made an excellent point.

There are actually quite a few layout tweaks that could be made, so I now see how it's a bit like opening Pandora's box. I first noticed the alignment issue in the About dialog because it has quite a large amount of text relative to other places in the sim.

I will comment on the general issue with some recommendations, since t

[2015-11-19 06:37] ariel-phet opened #104 "Add HTML5 Translation Utility User Guide link to HTML5 translation page"
We should add a link to the user guide to the HTML5 translation page: https://phet.colorado.edu/translate/

Basically, add a line for 'User Guide' and put a line break after.
The guide is located at https://docs.google.com/document/d/11BLxC7eDct6eifH1-nR6tWaxlnGeNEn2SPquT-lIUgY/edit#heading=h.cthiox7kfgfc

Here is a mockup: [Translate_Screen.pdf](https://github.com/phetsims/website/files/38174/Tra

[2015-11-19 06:39] ariel-phet commented on #104
The above was requested by @oliver-phet - seems like a nice addition

Assigning to @jbphet but could be done in conjunction with @phetsims/matt-p

The pdf mockup has some odd lines in it, please ignore and just notice placement of the link

[2015-11-30 21:56] jbphet opened #105 "automated PUSH FAILED messages coming from Rosetta"
This issue was originally reported in perennial, see https://github.com/phetsims/perennial/issues/5, moved here because it's really a rosetta issue.

@samreid said:

I received this PUSH FAILED email on the aforementioned date:

Assigning @jbphet since it is related to build-server.  Tagging @pixelzoom since it relates to acid-base-solutions.

[2015-11-30 21:56] jbphet commented on #105
@pixelzoom said:

The `[object Object]...` portion of that error message is pretty useless.  A related issue would be to improve the error message.

[2015-11-30 21:57] jbphet commented on #105
Gathering information on this.  The commit in question seems to have made it into babel, and the timestamp matches that reported in the email message, i.e. 11/25/15, 2:09 PM MST.  See https://github.com/phetsims/babel/commit/f293f542d524e155429f68a1dc40b74146cb37d8.

[2015-11-30 22:09] jbphet opened #106 "unprintable characters in the log file"
The log file contains entries that list every individual string that a user enters.  This results in non-ascii characters being written into the log file, which in turn makes the log file difficult to work with in an editor like vi.  A simple solution would be to remove the string from the logging statement.  A possibly better solution would be to test the string and log it if printable, and don't

[2015-11-30 22:44] jbphet commented on #105
The translation was successfully posted, see http://phet.colorado.edu/sims/html/acid-base-solutions/latest/acid-base-solutions_te.html.  The date information on the file on figaro looks about right, meaning that it was just a few minutes after 2:09 PM on 11/25/15.

[2015-11-30 23:32] jbphet commented on #105
I spent quite a bit of time combing through rosetta's log and looking at the code.  My best forensic analysis at this point is this:
+ Rosetta tried to created the translated string file acid-base-solutions-strings_te.json in the ```babel``` repo using the ```octonode``` npm package, and received an error message, which was logged
+ Rosetta then set a 5 second timeout and tried again
+ The second

[2015-12-01 19:12] ariel-phet commented on #105
@jbphet and I discussed over skype on 12/1/2015. Since no issues have been reported by translators we do not feel this issue is a high priority, but it would be good to clean up as the interaction is suspect.

Currently, the plan is to work on this in January.

[2015-12-01 20:28] jbphet commented on #106
I added code to check a string for non-ascii characters and avoid printing them out, and restarted Rosetta.  I'll check in a few days to make sure that the log file indicates that this is working correctly.

[2015-12-01 20:31] jbphet commented on #105
I made some improvements to the contents of the email message so that it should print out the string fields rather than the useless ```[object Object]``` stuff that it was doing previously.  This should be checked the next time this error condition is encountered.

[2015-12-02 16:49] jbphet opened #107 "change time stamps in logs to be in local (Mountain) time"
Logs current contain time stamps that are in UTC, also known and Greenwich Mean Time (GMT).  This makes them a bit of a challenge to interpret.  I asked at a recent developer meeting whether anyone would object to changing the stamps to be Mountain Time, and no one was opposed.  @aaronsamuel137 said he thought that this might not be trivial, since he had looked into it a bit and hadn't found an ob

[2015-12-03 19:30] ariel-phet opened #108 "Using Google API in rosetta for suggested translations"
Discussed at dev meeting 12-4-2015

@ariel-phet saw a nice example from Go-labs

From the GoLab developer:

CM: We tried Google Translate with the Java/Flash translation utility, it was awful for scientific language. Might have improved, but I suspect not.
SR: The other problem when we tried this is that all of our strings lack context, making them difficult to translate automatically.
JO: Google

[2015-12-03 19:30] #108 closed

[2015-12-09 19:39] jbphet commented on #106
This appears to be working well, here is an excerpt from the rosetta log that shows it in action.

[code]

Looks good, closing.

[2015-12-09 19:39] #106 closed

[2015-12-09 19:54] jbphet commented on #105
Another such email was received on 12/9/2015 at 2:53 AM local (Mountain Standard) time.  Again, it looks like the push ultimately succeeded, so this email was incorrect.  The improvements to the email message (described in previous comment) appear to have worked, and here is what the email looked like:

Notice that the ```[object Object]``` stuff has been replaced with actual string key values.

[2015-12-09 20:00] samreid commented on #105
I also saw the "From: ?= " on my phone, but From: PhET Build Server <phethelp@colorado.edu> on my laptop.

Any idea why it is sending an error message when the commit succeeded?  Or is that for subsequent investigation?

[2015-12-09 20:03] jbphet commented on #105
@samreid - the cause of the issue is explained here: https://github.com/phetsims/rosetta/issues/105#issuecomment-160797990.  These is definitely some room for improvement in how Rosetta handles error legs when interacting with GitHub.  This will be worked on in the future.

[2015-12-10 18:08] jbphet opened #109 "limit translators to a set of locales"
During the 12/10/2015 status meeting @oliver-phet mentioned that trusted translators are able to submit translations to any locale.  This probably isn't the best idea, and we should make it so that translators have a limited set of locales that they are allowed to translate.  This list would be set up manually by Oliver based on the user's request.

This feature would involve changes on the web si

[2015-12-18 14:25] samreid opened #110 "Augment PUSH FAILED message with helpful information"
Today I received this PUSH FAILED email:

It would be very helpful if we augmented these emails with a link to something like "common problems and how to resolve them".

@jbphet I'm not sure who should work on this, can you help decide?

[2015-12-18 16:37] jbphet commented on #110
This is essentially a duplicate of https://github.com/phetsims/rosetta/issues/105.  This issue is known, the error message is spurious, and as discussed is yesterday's developer meeting, will be addressed in about a month.  We can't really had helpful information to a message that shouldn't be sent in the first place.

I propose temporarily updating the list of recipients for these messages to inc

[2015-12-18 16:38] jbphet commented on #105
Another one of these messages was received on 12/18/2015.  Contents were:

[2015-12-18 16:40] jbphet commented on #105
This issue was discussed in the 12/17/2015 developer meeting.  @phetsims/matt-p may potentially help work on it.

[2015-12-18 16:46] jbphet opened #111 "The "From" field in email error messages says "?=", should say something like "Translation Utility""
We have been receiving occasional email notifications from rosetta related to its interaction with GitHub, see #105.  The "From" field of these emails says "?=".  Not sure why this is, but I don't think that it is intentional and it would be better if it said either "PhET Translation Utility" or "Rosetta".  My preference would be for the former.

Here is a screenshot of what this looks like in my

[2015-12-18 17:07] samreid commented on #110
Sounds good, how does one update the list of recipients?

[2015-12-18 18:22] jbphet commented on #105
I've verified that the email error message shown in https://github.com/phetsims/rosetta/issues/105#issuecomment-165829226 was indeed spurious by checking that the commit worked.  However, the timing looks odd.  This may help us figure out why this is happening (perhaps too many fast commits to GitHub in a row).  These commits were made just before the commit attempt that triggered the error report

[2015-12-18 18:59] jbphet commented on #110
@samreid  - the list of recipients is maintained in the preferences file.  I can provide details via voice call, would rather not post them here since it's a public repo.

[2015-12-18 18:59] jbphet commented on #110
List of email recipients updated, closing.

[2015-12-18 18:59] #110 closed

[2015-12-18 19:12] jbphet commented on #111
I attempted a fix in the commit above.  Two things should be done as followup:
+ verify that it works correctly be checking it in the next error message received (it's hard to test this otherwise)
+ fix up the build-local.json file, which has an unused field for the email address, and I think it would probably be just the address, and should be used by both rosetta and the build server

Leaving op

[2015-12-29 22:38] arouinfar commented on #103
I was wondering about the status of this issue. Currently, it is blocking the submission of the Persian translation of Molecules & Light. If it's not something that can be addressed for awhile (which is understandable given current priorities), the string will be switched back to {0} ({1}). It's not an ideal way to display the information, but it's better than the current behavior of ({1}) {0}.

I

[2016-01-06 18:40] mattpen opened #112 "Install Rosetta on the Website VM"
@jbphet and I discussed this today.  This would be nice to have in order to run tests and experiments on the rosetta app without side-effects.  I've started installing it but have run into a few snags.  There are a lot of configuration issues (database connection, github repos, port redirection) that make this difficult.

Progress made so far:
- installed node, npm, and required packages.
- cloned

[2016-01-14 19:36] oliver-phet opened #113 "Add ability to create a test translation"
Currently, we don't have a way to test the HTML5 translation utility without completing a "real" translation which gets published to the site.

It would be good to implement a way to allow PhET team members to easily test the translation process.

[2016-01-25 22:18] jbphet opened #114 "translations are failing to submit to the babel repo due to TCP.close event"
@oliver-phet received an email from a translator who is having issues with submitting translations.  An examination of Rosetta's log reveals multiple instances of the following error:

[code]

When I look through the code, it appears that this error is occurring when the `commitQueue` tries to commit to babel, but details are scant.  I'm not sure why such errors would occur, or why the didn't occu

[2016-01-26 17:05] jbphet commented on #114
I did an ```npm update```in Rosetta's directory on figaro, pulled the changes for additional debug statements, and restarted Rosetta.  I then asked @oliver-phet to contact one of the translators whose attempt to submit a translation failed.  That translator attempted a translation overnight, and it worked.  It may be that something in the GitHub API changed and we needed an updated ```octonode```

[2016-01-26 17:10] jbphet commented on #114
An examination of the log where the latest translation occurred still shows an error message when Rosetta tries to commit the joist strings immediately after commiting the friction strings.  It retries, then succeeds.  I should dig into this more too, and see if I can determine what the failure is.

[code]

[2016-01-26 18:06] mattpen commented on #112
@jbphet - I made some progress on this today.  I configured varnish and Apache to be able to deliver the app on a local wifi network.  The app now works over localhost on the VM.  There are still some missing parts to make it work on a client, namely updating the cert on the VM to allow authenticated connection.  This is the error I'm getting now:

    Translation Utility Error
    Unable to obtai

[2016-01-26 23:31] jbphet commented on #107
Done.  The timestamps now look like this:
```Tue Jan 26 2016 16:29:18 GMT-0700 (MST)```
Closing.

[2016-01-26 23:31] #107 closed

[2016-01-27 03:59] mattpen commented on #112
I renewed the self-signed SSL certs and the app is launching properly now.  I've tested viewing a translation with both babel-master and babel-tests.  I have not tried updating or creating a translation.

There are two items left that I haven't solved yet:
1. The init.d script is not running correctly, the app needs to be started manually.
2. The output is only going to stdout, not to rosetta.log.

[2016-01-27 16:37] jbphet commented on #112
We could live without init.d, and just start this manually.  As far as writing to the log, would ```node rosetta.js > rosetta.log``` have the same effect?

[2016-01-27 20:07] jbphet opened #115 "translation test fails when translating strings that contain the percent symbol"
A user of the translation utility reported that when working on a translation of Beer's Law Lab they entered a string for the pattern ```{0}%```, then pressed the "Test" button, and the simulation got stuck in the startup screen.  I reproduced this with the console open, and here is the error output that was seen:

[code]

...and here's a screenshot, which might be a little easier to read:
![bll-t

[2016-01-27 20:09] jbphet commented on #115
It's fairly unsurprising that this is an issue, since the percent symbol is used in URLs to escape unusual characters.  It's just a use case that never occurred to us and wasn't found during testing.  The solution would be to correctly escape the percent sign.

[2016-01-27 20:10] jbphet commented on #115
@ariel-phet suggested that I assign this to @arouinfar initially to find out if this might be the cause of some of the issues that she saw when working on translating simulations to Farsi.  Once this is answer, the issue should be assigned back to me to fix.

[2016-01-27 20:19] mattpen commented on #112
@jbphet - yes, that works just fine.  I set up a command in bashrc to launch it quickly:

    alias rosetta-start="(cd /data/share/phet/phet-repos/rosetta/ ; nohup sudo -u phet-admin node rosetta > rosetta.log &)"

I'm going to upload it to phet-dev today.

[2016-01-28 04:30] mattpen commented on #112
I tried to upload this tonight, my upload speeds at home are very slow (estimated 48 hours for the VM).  I'll upload it while I'm on campus tomorrow.

[2016-01-28 22:02] jbphet opened #116 "make the "Chains" simulation available for translation to team members"
So that we have a way of testing the translation utility, we should make it possible in Rosetta for PhET team members to select the "Chains" simulation for translation.  This simulation should _not_ be visible to non-PhET team members.  This will enable us to test the translation process without affecting any of the "real" simulations.

This idea was discussed in the 1/28/2016 developer meeting, a

[2016-01-29 02:44] mattpen commented on #116
@jbphet - I'm not sure how you are planning to control the sim visibility in rosetta, so I can't say with absolute certainly.  But it is correct that if visible=false in the website database then the sim won't appear anywhere on the site publicly.

[2016-01-29 16:29] jbphet commented on #116
The plan is to only show the Chains simulation as a selection for translation if the user's login profile lists them as a team member.

[2016-01-29 16:33] jbphet commented on #111
The change appears to be working as far as appearing to come from the translation utility.  Here is a screen shot:
![capture](https://cloud.githubusercontent.com/assets/3082831/12681339/64db4d54-c66b-11e5-884a-6ea7d6fa2b7a.PNG)

[2016-01-29 16:34] mattpen commented on #116
If the change is in the Rosetta code there aren't any side effects on the website that I am aware of.

[2016-01-29 18:43] mattpen commented on #112
@jbphet - The VM with rosetta installed is now available at /data2/phet-vm/PhET_VM.ova

I added some instructions for installing the VM in the [web intern doc](https://github.com/phetsims/phet-info/blob/master/web-dev-intern-setup.md#setup-the-vm).  If you need any help with setup I'd be happy to assist.

The website is already installed on the VM, but I think the state is currently on the dev bra

[2016-01-29 22:15] jbphet commented on #105
Another incident where a "PUSH FAILED" email was sent but the commit actually worked occurred at 4:20 AM Jan 28 2016 for the file ```reactants-products-and-leftovers-strings_pt_BR.json```.  Here is the commit: https://github.com/phetsims/babel/commit/4a30e08e8d4749261c0e9269c9710144c2351f5d.

[2016-02-03 18:02] ariel-phet commented on #115
@arouinfar pinging on this issue

[2016-02-04 20:04] pixelzoom opened #117 "check for security issues in translated strings"
Issue created at 2/4/16 developer meeting.

An example: a string containing HTML markup could contain a nefarious script that gets executed.

[2016-02-04 20:08] pixelzoom opened #118 "create a script to look at submissions from a specific user"
... to identify nefarious activity.  Related to https://github.com/phetsims/rosetta/issues/117.

@ariel-phet requested this issue at 2/4/16 developer meeting.

[2016-02-04 20:12] ariel-phet opened #119 "Easy way to remove a particular translation"
At some point we should have a more automated clean and tested way to remove a translation (in case we get a spurious/corrupt translation).

Not a priority at this point, but will revisit at some point.

[2016-02-04 21:19] jonathanolson commented on #117
Curve Fitting and Sugar and Salt Solutions (both not yet published) contain the vulnerability (example was pasted in developer Skype).

[2016-02-04 21:49] arouinfar commented on #115
@jbphet @ariel-phet I don't recall running into any issues/failures when testing sim translations (other than reaching the URL character limit in Hooke's Law which has since been addressed). We did have one failure on submission related to a simultaneous commit from @samreid in babel or rosetta... can't remember off the top of my head which repo it was. Looking at Beer's Law Lab specifically, the

[2016-02-08 23:47] jbphet opened #120 "sims that are not yet visible are available for translation"
The Trig Tour sim was recently published, but was not made visible on the web site for a couple of days due to the fact that the publication happened on a Friday afternoon.  By the time the sim was made visible through the admin interface of the web site, several translations already existed.  Apparently, whether or not the sim is visible is not considered by Rosetta when deciding on the list of s

[2016-02-08 23:48] jbphet commented on #120
IMO, this doesn't need to be a super high priority, since it didn't really cause any problems.  I can envision a couple of scenarios where this behavior *could* cause some issues, but they seem fairly unlikely.  So it should be fixed, but not urgently.

[2016-02-08 23:51] ariel-phet commented on #113
related to https://github.com/phetsims/rosetta/issues/116

[2016-02-09 19:50] jbphet commented on #101
Reviewed.  Other issues have come up related to this, such as https://github.com/phetsims/perennial/issues/8, but we have a workable solution.  Closing.

[2016-02-09 19:50] #101 closed

[2016-02-11 22:06] jbphet commented on #105
There have been several more PUSH FAILED messages received over the last couple of weeks, probably around six total.  In some cases, it looks like the push really does fail, but the user continues to translate other simulations and eventually ends up pushing the (usually common) strings successfully.

[2016-02-11 23:38] jbphet commented on #111
I decided to remove the ```emailFrom``` field from the build-local.json file because the build server and rosetta share this file, and each one should have a unique address.  The code in each simply provides its own source address, and this appears to be working fine.  That covers everything for this issue, closing.

[2016-02-11 23:38] #111 closed

[2016-02-18 19:25] pixelzoom commented on #117
Related issue: https://github.com/phetsims/special-ops/issues/18

[2016-02-18 19:40] oliver-phet opened #121 "Show translators which sims haven’t been translated into a given locale"
Discussed during developer meeting, we discussed the possibility of improving the UI of the HTML5 translation page so that translators can easily see which simulations haven't been translated into their locale yet.

Simple proposal was to move the locale drop down to the top, then have 2 drop down lists for sims:
1. Sims not yet translated into [locale]
2. Sims already translated into [locale]

Th

[2016-02-18 19:59] pixelzoom opened #122 "disable 'Submit' button if there are translation errors"
Created at 2/18/16 dev meeting.

It should not be possible to submit a translation that contains errors. For example see https://github.com/phetsims/joist/issues/319#issuecomment-185889403, where a MessageFormat pattern is missing placeholders.

[2016-02-24 19:14] jbphet opened #123 "simInfoArray should be eliminated once all HTML5 simulations are translatable"
As of this writing, when a simulation is published using the build server, the build server updates a file in Rosetta called "simInfoArray" so that Rosetta has a list of the translatable simulations.  This interaction is a little complicated and will be completely unnecessary once all sims are translatable.  This GitHub issue is used to remind us that we should remove the code from Rosetta and the

[2016-02-25 17:56] oliver-phet opened #124 "User reported issue: missing translatable strings"
Email from translator:

As far as I have noticed then there are few strings in some simulations that can't be translated - when I submit them and open translation again then translation field value is empty again:
- In Beer's Law Lab:
    * units_nm
    * WavelengthSlider.pattern_0wavelength_1units
- In Bending Light:
    * units_nm
    * WavelengthSlider.pattern_0wavelength_1units
- In Reactants,

[2016-02-25 18:32] phet-steele commented on #124
@jbphet it's hard for me to safely reproduce this since these sims are not available on phet-dev to translate. If possible, can you make it so?

[2016-02-25 19:14] jbphet opened #125 "remember the most recent locale for a translator and auto-select it"
This was requested by a user.  Seem like a good idea, but low priority for now.  @oliver-phet will let the user know.

[2016-02-25 21:11] jbphet commented on #124
Sims should now be available on phet-dev, please give it a try.

[2016-02-25 23:09] phet-steele opened #126 "submissions can delete parts of a JSON file"
@jbphet this results in previously translated strings no longer having a translation. If a user translates a sim with some scenery-phet strings, then translates a different sim with different scenery-phet strings, the original translations will be deleted from the json file. Example:

I went to Beer's Law Lab and translated the two scenery-phet strings there:

`WavelengthSlider.pattern_0wavelength

[2016-02-26 17:29] oliver-phet opened #127 "User reported issue: unable to 'submit' if no strings are modified from Java/Flash translation"
Currently, if we already have a translation for the Java/Flash version of a sim and a translator opens the HTML5 version of that sim, they can only 'submit' if they add/modify a string. A translator has reported that he would like to maintain the Java/Flash translation, but cannot due to this restriction.

[2016-02-26 17:32] ariel-phet commented on #127
@oliver-phet as a workaround, the translator could probably submit with a minor alteration, and then resubmit the corrected version, but we should obviously look into this.

[2016-02-26 23:57] phet-steele commented on #126
This has become a bigger issue than just common strings, but also applies to shared sim strings (like Beer's Law Lab and Concentration). This commit would have happened after submitting a translation for Concentration, effectively deleting existing Beer's Law Lab translations from the beers-law-lab/beers-law-lab-strings_ar.json file in babel: https://github.com/phetsims/babel/commit/721134ef9fe706

[2016-02-29 17:36] oliver-phet opened #128 "User reported issue: 'Test' sporadically failing"
Translator has reported an error when 'Testing' a translation.

![phet](https://cloud.githubusercontent.com/assets/5090275/13403034/44070c12-ded0-11e5-9925-5d574caee946.jpg)
![phet1](https://cloud.githubusercontent.com/assets/5090275/13403035/440d16ac-ded0-11e5-993b-4c59ef280b39.jpg)

[2016-02-29 18:04] jbphet commented on #126
This is a pretty significant issue, since it can cause translators to lose a substantial amount of work in some cases.  I'll make fixing it a fairly high priority.

[2016-02-29 20:43] jbphet commented on #126
As I think about this, I realize that we've actually been relying on this behavior to remove unused strings, which has enabled us to "preload" the babel repositories with strings converted from the old Java and Flash simulations.  Unless we add specific code to handle the situation of preexisting strings, fixing this issue will main that old unused strings will no longer be removed.

I discussed t

[2016-03-01 03:40] pixelzoom commented on #126
Why not just remove the used strings? They are clearly identified by the build process, and we previously agreed that they should be removed as a matter of good code hygiene.

[2016-03-01 16:08] samreid commented on #126
I don't see any need for babel to remove unused strings (they are never presented to the translator), we should be doing that during development for hygiene.

[2016-03-01 16:45] jbphet commented on #126
@pixelzoom said:

Are we checking translated strings, or just English?

[2016-03-01 18:19] jbphet commented on #126
We discussed this at the 3/1/2016 dev meeting and decided that I should move forward with the fix that preserves strings for all repos and decide at the next dev meeting (or some other future time) whether to invest effort in a tool that filters ported string files (i.e. those converted from a previous Java or Flash sim) to remove the unused strings or just have the translators translate everythin

[2016-03-02 18:24] jbphet opened #129 "branch: test-fixes-for-overwrite-issue"
This branch was created to test out some fixes for #126.  This required a lot of experimentation, but these experiments had to be committed so that they could be pulled and run on the servers where Rosetta runs, and I wanted to avoid doing this on master.  I believe I have a fix for the issue now, and will migrate it to master.  This branch should be retained for about two months, until roughly Ma

[2016-03-02 22:27] jbphet commented on #126
I've implemented a fix for this and tested it on phet-dev with @phet-steele's help, and all looks good.  I pulled it on to figaro and have restarted.  I'm going to leave this open and assigned to me until I see a translation submission that, prior to this fix, would have blown away previously translated strings, but no longer does.  Once I've verified this, I'll close the issue.

[2016-03-03 18:44] jonathanolson commented on #68
Not sure why this would be hidden in Rosetta. Presumably we'd want to include accessibility strings to be translated.

@jessegreenberg, can you comment?

[2016-03-04 22:06] jbphet commented on #126
Looks like the fix is working.  Below is a link to an example commit.  In this commit, a Solvakian translator submitted a translation for the string "shortCircuit", which is used in the ```ConductivityTesterNode``` common code component that is drawn from the ```scenery-phet``` repo, and which is used in the Acid Base Solutions simulation.  The translator had previously submitted translations for

[2016-03-04 22:06] #126 closed

[2016-03-04 22:09] jbphet commented on #124
I believe this issue is now resolved, see #126.  Assigning to @oliver-phet to communicate with the translator and verify that the behavior now appears correct.  Note that the translator may have to resubmit translations to test this.

[2016-03-04 22:41] oliver-phet commented on #124
Translator has been notified and asked to resubmit translations to test the behavior.

[2016-03-07 16:06] oliver-phet commented on #124
Translator has reported the following:

[2016-03-07 16:22] jbphet commented on #124
The problem was with Rosetta, so it existed for all simulations, not just one of them.  Please ask the translator if they are still seeing the issue after having resubmitted translations.  If so, please record the simulation, locale, and missing strings in this issue so that I can go through the log and determine what's going on.

[2016-03-07 16:52] oliver-phet commented on #124
Translator just confirmed that after re-testing, the problem is resolved (no resubmission needed). Closing this issue for now.

[2016-03-07 16:52] #124 closed

[2016-03-08 18:10] jbphet opened #130 "validate RichText strings"
The UI should validate strings for SubSupText.  Specifically, it should check that the translated string does not contain any tags that SubSupText can't handle, and that the string is well formed with appropriate close tags in valid positions.

Creation of this issue was motivated by discussion of https://github.com/phetsims/scenery/issues/528.

[2016-03-08 18:47] jbphet opened #131 "need a way to take Rosetta down for maintenance"
Rosetta is now being used so much that sometimes it's tricky to find a good time to take it down for maintenance without messing up someone's translation session.  It would be good to have a way to easily put up a message that says when maintenance is going to occur, and then have an alternative page that is shown indicating that it is down while work is being done on it.

[2016-03-24 17:24] pixelzoom opened #132 "what support for a11y strings would be useful in Rosetta?"
Support for a11y strings in Rosetta will make it easier for translators to translate and test a11y strings.

In the string file itself:

• The string file will likely need to indicate that a string is for a11y, so that the translator knows that it may not be visible.

• Annotations for an a11y string could indicate what the string is used for, how to see it in context, etc. What is the set of usef

[2016-04-21 21:39] jbphet opened #133 "warning message on startup about connect.session()"
The following message is being logged by Rosetta at startup on phet-server.  It wasn't present previously, possibly because we weren't running node in production mode:

[code]

@jonathanolson and I discussed this, and it seems that session data is probably being stored in memory and never reclaimed.  This is probably not an issue right now, since rosetta is restarted a lot, but some time in the fu

[2016-04-22 23:01] jbphet commented on #115
This problem also afflicts Bending Light.

[2016-04-22 23:11] jbphet commented on #115
This problem appears to have been due to a redundant call to ```decodeURIComponent``` in the string.js plugin.  Assigning to @jonathanolson for review.  If it looks good, please assign back to me since the affected sims will need to be redeployed in order to fix this issue.

[2016-04-22 23:15] jbphet commented on #115
@jonathanolson - can you also look at chipper-string-setup.js?  It is potentially doing the same thing.

[2016-04-23 12:25] samreid commented on #115
I'm taking a look into this, self-assigning for now.

[2016-04-23 13:11] samreid commented on #115
Running http://localhost/beers-law-lab/beers-law-lab_en.html?strings={%22BEERS_LAW_LAB%2Fpattern.0percent%22%3A%22{0}%%22}

Produces this problem:
initialize-globals.js:124 Uncaught URIError: URI malformed
beers-law-lab-config.js:44 Uncaught TypeError: phet.chipper.getCacheBusterArgs is not a function

[2016-04-23 13:24] samreid commented on #115
In https://github.com/phetsims/rosetta/issues/115#issuecomment-175829290 @jbphet said:

This assessment seems to be correct because the buggy query parameter reported above `{"BEERS_LAW_LAB%2Fpattern.0percent"%3A"{0}%"}` is malformed due to the % sign not having digits following.  The `%` should be encoded as `%25`.

It is unclear why @jbphet removed the decoding step in string.js instead of addin

[2016-04-25 17:38] jbphet commented on #115
Sure.  In ```initialize-globals.js``` there is a block of code, right around line 122 as of this writing, that looks like this:
[code]
Note the call to ```decodeURIComponenent```.  In that same file, the ```getQueryParameters``` method is defined as follows:
[code]
So the ```getQueryParameters``` method is just returning values from ```queryParamsMap``` map, which have already been run through ```

[2016-04-25 18:38] jbphet commented on #115
For future reference, if you need to test this issue, here is the URL that includes a ```strings``` query parameter with an encoded version of the string "{0}%":

http://localhost:8080/beers-law-lab/beers-law-lab_en.html?ea&brand=phet&strings=%7B%22BEERS_LAW_LAB%2Fpattern.0percent%22%3A%22%25%7B0%7D%22%7D

I just spoke with @samreid via Skype, and he was trying to use the strings query parameter s

[2016-04-25 18:55] jbphet commented on #128
I strongly suspect that this is essentially a duplicate of https://github.com/phetsims/rosetta/issues/115.  If you look at the URL in the image above, it is the Beer's Law Lab simulation, and the error shown says ```URI malformed```, which is the same error message seen in #115.  I'll leave this open for now, but once the other issue is fully addressed, I'm pretty confident that it will be safe to

[2016-04-25 18:59] jbphet commented on #115
The only two currently published sims that have the per cent symbol in their English language strings file are Beer's Law Lab and Bending Light.  This issue could be fixed for these simulations by performing a maintenance release for these simulations where they are updated to the latest version of chipper.  However, it's hard to know whether updated the chipper SHA would introduce any other issue

[2016-04-25 19:03] pixelzoom commented on #115
And the same problem in  chipper-string-setup.js?

[2016-04-25 19:17] jbphet commented on #115
I created a separate issue for ```chipper-string-setup.js``` so that it didn't get lost in the shuffle of this one.

[2016-04-25 19:22] jbphet commented on #115
Assigning to @ariel-phet to decide whether it's worth the time to redeploy BLL and BL.

[2016-04-26 17:59] ariel-phet commented on #115
@jbphet @jonathanolson looks like a maintenance release is being done from the commits aove. That seems fine to me. Assigning back to @jbphet

[2016-04-26 18:11] jbphet commented on #115
@jonathanolson and I worked together to do maintenance releases on Beer's Law Lab and Bending Light that includes the fixes for this.

[2016-04-26 18:54] jbphet commented on #115
Assigning to @oliver-phet so he can let the original reporter of this issue (if he knows who it is) that it is resolved.  If not, he should just close.

[2016-04-26 18:56] jbphet commented on #128
Assigning to @oliver-phet so that he can let the reporter of the issue know that we believe it may be resolved, and ask them to verify.  If we hear nothing back within a week, I'd say we should just close the issue, since my confidence is reasonably high that it is resolved.

[2016-05-02 15:38] #115 closed

[2016-05-02 15:40] oliver-phet commented on #128
User notified. Closing.

[2016-05-02 15:40] #128 closed

[2016-05-13 20:43] jbphet commented on #105
I just spent a little time looking at this, since we continue to get these PUSH FAILED messages on a regular basis.  When I look at the log, it appears that there are errors that occur on commits fairly frequently, but the 2nd attempt generally goes through, otherwise we'd be getting even more of these PUSH FAILED emails.  It seems like the cases where we actually have a full failure to commit and

[2016-05-19 18:02] jbphet commented on #132
Discussed in 5/19/2016 developer meeting, here are some note:

+ We probably want to put this in a somewhat separate section so that it isn't intimidating to users, but we also want to *not* make the accessibility strings seem like "2nd class citizens"
+ There will be some design work up front to figure out how to mark up the entries in the string files
+ Translators won't have an easy way to test

[2016-05-19 20:38] jbphet commented on #131
I've implemented something rather crude that works for this.  In the main file, ```rosetta.js```, there is now a variable defined near the top of the file named ```ENABLED```.  Editing the file and setting this value to false, then restarting the process, will cause a "down for maintenance" page to be displayed.  The page itself can be edited if desired, the file is ```offline.html```.

[2016-05-19 20:41] jbphet commented on #131
I forgot to reference this issue in the commit messages that implemented initial support for this feature as described in the previous comment.  The commits are:
bcbd9aba1ee2c2c8de59f5b940173d1eccd24aa3
846c3a1834637ca32a8d50425e2343af790706db
b6b0c91db305295bb092b44f13006761491ed02e

[2016-06-09 22:56] jbphet commented on #105
We got quite a burst of PUSH FAILED messages between 1:26 AM and 1:58 AM on June 9 2016.  I looked through the log and didn't see anything unusual - just a bunch of failures when trying to push changes to GitHub.  My guess is that GitHub was doing some maintenance or having some issues at the time (we've seen it have problems for a while in the past).  @oliver-phet said that the translator contact

[2016-06-16 23:12] jbphet opened #134 "combo boxes are very small on main translation page"
The main translation landing page currently looks like this on Chrome:

![translation-small-selections](https://cloud.githubusercontent.com/assets/3082831/16136144/631b120a-33e5-11e6-8140-ad4065072380.PNG)

The combo box for selecting language and sim is very small.  I'm not sure why this is, and I think they were larger previously.  It would be nicer and more usable if they were a bit bigger.

[2016-06-16 23:23] jbphet commented on #134
I modified the css file to make the fonts larger, it now looks like this:

![translation-larger-selections](https://cloud.githubusercontent.com/assets/3082831/16136343/f5402660-33e6-11e6-8af6-8b36121450fa.PNG)

Works for me.  Closing.

[2016-06-16 23:23] #134 closed

[2016-07-18 23:46] jbphet opened #135 "the directory structure should be reorganized"
The organizational structure for the source code is currently a bit odd and hard to follow.  This is because the application was highly leveraged from a Node.js example that was found on line, so the organizational structure is part PhET-like and partly derived from the example.  Things should be moved around so that the code is easier to work with.  Specifically,
- All the JavaScript and HTML cod

[2016-07-18 23:47] jbphet commented on #135
@mattpen - if I move rosetta.js, the systemd information will have to change to point to the new location.  I don't know how to do this.  Do you?

[2016-07-19 00:18] mattpen commented on #135
I should be able to figure it out, what is the new location going to be?

[2016-07-19 01:56] mattpen commented on #135
@jbphet - I think the file that needs to be changed is `/usr/lib/systemd/system/rosetta.service`.  I would just need to know what the new location of rosetta.js will be and if the working directory will change.

[2016-07-19 17:59] jbphet commented on #135
I've done most of the reorganization, but I think I'll leave the ```rosetta.js``` file in the main directory until we cut over to the new server, since otherwise I'll need to change the ```init.d``` setup on the old server as well as the ```systemd``` configuration on the new server.  I'll leave this open and assigned to me for now.

[2016-09-06 17:28] arouinfar opened #136 "Testing failure in RTL locale"
When testing the translation of Charges and Fields in the fa locale, many odd characters appeared. (The translation submitted normally, however, and is fine.)
<img width="1153" alt="screen shot 2016-09-06 at 11 14 53 am" src="https://cloud.githubusercontent.com/assets/8419308/18283609/4b93ad26-7423-11e6-8117-6de654b82520.png">

Testing the fa translation before entering sim-specific strings (only

[2016-09-06 17:35] phet-steele commented on #136
This finding is consistent with both Charges and Fields & Rutherford Scattering (the two new sims since the server switch). This, I believe, is why Friction in the above comment is fine; Friction was published prior to the server switch.

[2016-09-26 20:35] jbphet opened #137 "latest version not correctly identified"
We recently received a report that some of the translations for the Molecules and Light simulation had disappeared from the web site.  After some investigation, I found that it was due to a problem where Rosetta was not correctly recognizing that version 1.1.10 comes after 1.1.9.  This is because it was relying on the order in with directory names are sorted by the JavaScript Array.sort() function

[2016-09-26 22:56] jbphet commented on #137
I looked around and the other sims and verified that none of them have gotten to version x.x.10 other than Molecules and Light, so no other sim pages and deployments will need to be fixed up as a result of this.

[2016-09-27 01:51] arouinfar commented on #136
We encountered the same testing failure in Atomic Interactions, which supports @phet-steele's server switch theory.

[2016-09-27 01:54] arouinfar commented on #100
When translating Atomic Interactions into the fa locale, we encountered the same 414 error (in addition to #136). Not sure if it's worth reopening this issue, but I wouldn't be surprised if there are still some combinations of sims/locales that are hitting the character limit.

[2016-09-27 18:22] arouinfar opened #138 "Translation Utility missing Java strings for Atomic Interactions"
@jbphet When translating Atomic Interactions into the fa locale, the Java strings were not pre-populated in the translation utility (common strings were still present). Sándor also encountered this issue for the hu locale, as reported in https://github.com/phetsims/atomic-interactions/issues/65.

[2016-09-28 18:29] arouinfar commented on #100
@aadish suggested this could addressed with a post request.

Character limits will definitely be an issue when we start allowing translations of scene descriptions for accessibility. After talking to @jbphet I'm reopening this issue.

[2016-09-28 21:38] jbphet commented on #138
The Java versions of the States of Matter simulations were created many years ago, and the way that we name our string identifiers has changed radically since then.  As a result, none of the string keys in the Java versions of the string files overlap with those in the current English strings for the HTML5 simulation.  It would take a fair amount of work to fix this up, so I decided to just leave

[2016-09-28 21:48] arouinfar commented on #138
@jbphet It's only a minor inconvenience to re-enter previously translated strings, so I don't with its worth addressing.

[2016-09-28 21:48] #138 closed

[2016-09-29 17:27] oliver-phet commented on #113
1. Create ph_ET locale
2. make sure web site ph_ET will not be visible on the site, outside of admin users.

[2016-09-29 17:31] jbphet commented on #116
As of this writing, chains is visible in Rosetta to **all** translators.  This is not a huge problem, but there are a lot of translators who are translating it just because it's there.  It would be good to hide this from who are not team members.

We discussed this in the 9/29/2016 developer meeting and decided so assign it to @zepumph to implement.

[2016-09-29 17:33] jbphet commented on #116
"Example Simulation" is also currently visible and should be hidden for non-PhET team people.

[2016-09-29 17:51] oliver-phet opened #139 "User reported issue: test url too long"
`https://phet.colorado.edu/sims/html/least-squares-regression/latest/least-squares-regression_en.html?strings=%7B%22LEAST_SQUARES_REGRESSION%2Fcustom.graphTitle%22%3A%22Egy%C3%A9ni%22%2C%22LEAST_SQUARES_REGRESSION%2FtemperatureCelsiusLatitude.graphTitle%22%3A%22H%C5%91m%C3%A9rs%C3%A9klet%20(%CB%9AC)%C2%A0%E2%80%94%20f%C3%B6ldrajzi%20sz%C3%A9less%C3%A9g%22%2C%22LEAST_SQUARES_REGRESSION%2Ftemperatur

[2016-09-29 17:51] oliver-phet commented on #139
Assigning to @jbphet for now.

[2016-09-29 18:39] mattpen commented on #112
rosetta is working on the vm and ox-dev.

[2016-09-29 18:39] #112 closed

[2016-09-29 20:04] jbphet commented on #139
This is essentially the same issue as https://github.com/phetsims/rosetta/issues/100.  I'll leave them both open as a reminder to test each when I have a fix in place.

[2016-10-03 17:06] arouinfar commented on #139
@oliver-phet to get around this issue, a translator can temporarily remove a few strings. I would recommend temporarily removing a few common strings that won't show up in the sim itself so that the URL becomes short enough to test. Before submitting the translation, the common strings should be pasted back in.

This method isn't without risks, however. If a translator forgets to return the delete

[2016-10-11 22:25] jbphet commented on #139
I used a utility to count the number of characters in the long URL in the comment above.  It is 8479 characters long.

[2016-10-11 22:59] jbphet commented on #139
I just tried some experiments to determine the max length URL supported by our server.  It looks like the limit is 8202 characters.

[2016-10-11 23:02] jbphet commented on #139
I did some research, and it sounds like there is no limit in the HTTP spec for how long a URL can be, but browsers seem to support different limits.  Long term, we probably need to look at an alternative way to support this feature.  In the short term, it may be possible to configure our server to accept longer URLs.

@mattpen - can you take a look at what the current configuration value is and wh

[2016-10-12 02:33] mattpen commented on #139
@jbphet - It looks like extending the limit will require editing the Apache source code and recompiling.

Is it feasible to send this data in a POST request instead of in query parameters?

[2016-10-20 16:47] oliver-phet opened #140 "Change link of PhET HTML5 Translation Utility User Guide"
Please change the 'Help' (within a HTML5 sim translation) link to https://docs.google.com/document/d/18UHBP1O_es-YnGgWb9Ywvlv7OtWYbHpGxM4OVe6CAjU/edit#

Could we also add an identical 'Help' button to the Select Simulation / Select Locale page?

[2016-10-20 17:34] mattpen commented on #140
@oliver-phet - Is the access to this doc intentionally controlled?  Neither @jbphet or I can access the doc.

[2016-10-20 17:36] oliver-phet commented on #140
Fixed to view only!

[2016-10-20 17:45] mattpen commented on #140
@jbphet - I added the new button and changed the link.  I think it should be ok to deploy, would you like to review?

[2016-10-20 18:08] jbphet opened #141 "items to include in Rosetta v2"
This issue will be used to keep track of the features to be added in the 2nd version of Rosetta.  The work for this is currently be discussed for mid-November 2016.

The features and fixes currently being discussed are:
- fix the problem where testing of the sim doesn't work due to long URLs, see #100 and #139
- support translation of the app strings (maybe - we may do this elsewhere)
- indicating

[2016-10-20 18:24] phet-steele commented on #141
@jbphet, there are a lot of open issues in this repo with the label "rosetta:not for 1.0", maybe look through those to see which can be included?

Also, maybe work for #113? 😄

[2016-10-24 19:16] jbphet commented on #140
Looks good to me.  Please go ahead with deploying it, but let me know when you do so that I can take a look. Thanks!

[2016-10-25 02:12] mattpen commented on #140
@jbphet @oliver-phet - This should be live now on the main website.  Please let me know if any further changes are needed.

[2016-10-25 15:27] mattpen commented on #139
This will be addressed in November with Rosetta v2, unassigning myself for now.

[2016-10-25 16:24] jbphet commented on #140
I just tested it, and it looks good.  Thanks @mattpen.  Closing.

[2016-10-25 16:24] #140 closed

[2016-11-15 22:12] jbphet commented on #139
We should look at using a POST message to Rosetta and have it process it, replace the strings in the sim's HTML file, and returning that.  I discussed this with @zepumph, and he might have some time to try this out shortly.

[2016-11-16 20:42] zepumph commented on #113
I know there is already a deferred flag on this, but after talking with @jbphet yesterday I'm going to unassign myself from this until the installer builder port is working fully. Since it is so close I don't want to start this new side of the project (rosetta) while I already have another project on the plate. I will still take this on though.

[2016-11-16 20:42] zepumph commented on #116
After talking with @jbphet yesterday I'm going to unassign myself from this until the installer builder port is working fully. Since it is so close I don't want to start this new side of the project (rosetta) while I already have another project on the plate. I will still take this on though.

[2016-11-16 20:47] phet-steele commented on #113
Actually, @ariel-phet was the deferred label supposed to be removed from this some time ago? Back on 9/29? (I understand that it still wouldn't have the *highest* priority).

[2016-11-16 20:48] ariel-phet commented on #113
@phet-steele I think deferred is still appropriate

[2016-11-18 19:14] jbphet commented on #137
This appears to be working correctly now, since we haven't had any recurrences of the issue for a while.  While this doesn't constitute definitive proof that the problem is solved, I feel pretty good about the solution and am comfortable closing the issue.

[2016-11-18 19:14] #137 closed

[2016-11-18 19:57] jbphet commented on #136
I ran a test where I removed all but a handful of the Persian (locale=fa) strings, and the problem still shows up, so I don't think that this is related to the long URI issue.  I also tested this with another RTL language - Hebrew - and the problem shows up there for newer sims too.

It doesn't make any sense to me that the switch to a new server would cause this, so I'm assigning to @phet-steele

[2016-11-18 20:04] pixelzoom commented on #136
I see no indication that this issue was fixed, and you say "the problem still shows up".   So I don't understand why you're surprised that this issue is still occurring.

As another data point... @phet-steele's most recent comment is Sept-9, conversion to QueryStringMachine started on Nov-13.

[2016-11-18 20:31] jbphet commented on #136
@pixelzoom said:

I think there's a bit of a misunderstanding here.  I'm not at all surprised that it isn't fixed, that's not what I was saying.  When I said, "the problem still shows up" I meant that it shows up when very short URI's are used, ergo, it's probably not related to the issue that @arouinfar referenced above.

The info about `QueryStringMachine` is good to know, and likely rules that

[2016-11-18 20:36] pixelzoom commented on #136
Got it, thanks for clarification.

[2016-11-18 21:33] jonathanolson commented on #136
In https://github.com/phetsims/rosetta/issues/115 the double-decoding of the strings query parameter was fixed (changed to a single decoding), however the RTL push and pop remained double-encoded on the rosetta side:
[code]
so basically, ```encodeURIComponent( '\u202b' ) === '%E2%80%AB'```, and so the result had to be decoded twice.

In newer sims, the double-encoding meant that the strings object

[2016-11-18 21:44] jonathanolson commented on #136
It looks like some sims are out WITH the fix from https://github.com/phetsims/rosetta/issues/115 but some aren't (acid-base-solutions was a first example).

Presumably for this behavior, we'd want to run a maintenance release.

@ariel-phet, is this worth a maintenance release to fix (could do at the same time as the maintenance release for Yotta's tracking)? It only affects the ?strings query para

[2016-11-18 22:39] phet-steele commented on #136
I had JO take care of it 😄

Sims that will need to have a maintenance release (they were relying on double encoding):

- [ ] Acid Base Solutions
- [ ] Arithmetic
- [ ] Balancing Act
- [ ] Balancing Chemical Equations
- [ ] Balloons and Static Electricity
- [ ] Build an Atom
- [ ] Color Vision
- [ ] Energy Skate Park: Basics
- [ ] Faraday's Law
- [ ] Fraction Matcher
- [ ] Graphing Lines
- [ ] Grav

[2016-11-22 01:52] ariel-phet commented on #136
@jonathanolson if we need to do a maintenance release for Yotta tracking anyhow, yes, it would be ideal to roll this fix in with that release.

It does not look as if @jbphet has reviewed this change yet, so perhaps talk with him the week of 11/28/2016?

[2016-11-28 18:39] jbphet opened #142 "English sim seems to be rebuilt with each new translation"
I haven't dug into this much, but when I look at the modification dates of the sim files, it appears as if the English simulations are being rebuilt every time a new simulation is submitted.  We discussed this in a recent developer meeting, and decided it wasn't much of a problem, but I thought we should have an issue that tracks it.

[2016-11-28 21:33] ariel-phet commented on #142
The more this comes up, the more distasteful it is seeming, and it seems like it might be important for the app in the long run. Self-assigning to discuss with @jbphet in the near future.

[2016-11-29 23:40] jbphet commented on #136
The commit looks good, though since it adds the explicit LTR embedding marks it may actually exacerbate the issue with long URLs (https://github.com/phetsims/rosetta/issues/139), but let's not worry about that for now.

I'd like to test this before going live on phet-server, and will try to do so within the next couple of days.

[2016-12-01 00:06] jbphet commented on #142
I decided to spend a few minutes to see if I could localize this issue.  I looked at the directory containing the Arithmetic simulation, and found that a Spanish translation (locale=es) was built on Nov 29 at 14:59, and the English version was also rebuilt at that time.  I examined the log for Rosetta and can see that the URL that was sent to the build server at that time contained the string ```l

[2016-12-01 00:30] jbphet commented on #142
The problem appears to be that the grunt tasks defined in chipper always assume that the English locale should be built.  In the current master version of chipper, in the function `getLocales` in `getBuildConfig.js`, the "fallback locale" is always added to the list of locales, and there is a comment that says, "fallback locale is included in all cases".

As an experiment, I built a sim from the c

[2016-12-01 00:53] jbphet commented on #136
I was about to try testing this on the dev server, and thought I'd remind myself of how to duplicate the issue, but as of this moment I can't duplicate it on the live version of Rosetta.  I can see that the change that @jonathanolson made has been pulled to phet-server, but I don't see any record of a restart in the log.  However, the logs only go back to Nov 23, so perhaps it was restarted with t

[2016-12-01 06:41] jonathanolson commented on #136
There was a recent automated commit, maybe this triggered a rosetta restart? (https://github.com/phetsims/rosetta/commit/7f6990db5c97bb0b7ce125ffe554ff5e12546b5f)

The rosetta repo on phet-server definitely pulled my fix, and was presumably restarted (since the fix is being applied live!)

The sims without the maintenance release seem to be working since they mostly don't involve symbols that will

[2016-12-01 17:03] pixelzoom commented on #142
FYI, this confused me when I was comparing a master change against published versions.  I looked at the date in the About dialog and has a difficult time finding a sim that hadn't been "published" in the past few days.  @jbphet explained that the English version gets rebuilt whenever a translation is added, so I understand this now.  Perhaps we should investigate *not* rebuilding the English versi

[2016-12-01 17:08] pixelzoom commented on #142
@jbphet said:

If it's difficult to "drop the fallback locale", then we could also do this:

- copy the English version to a safe place
- build and publish
- restore the saved English version

[2016-12-01 20:54] jbphet opened #143 "set up the logs to be longer and withstand a restart"
I was recently trying to figure out if Rosetta had been restarted to resolve a question about whether it had been updated.  The log only contained ~7 days worth of data, from Nov 23 through Nov 30.  I discussed this with @mattpen, and he said that this may indicate that the process was restarted.  If true, that's a problem, because we will never be able to look at the log output just before a cras

[2016-12-02 15:59] mattpen commented on #143
@jbphet - It looks like we may have log messages for rosetta going back a month.

If you run `grep phet-server\ rosetta /var/log/messages* | less` you can see logs going back to Oct 31.

This command parses through 4-5 files which may not be grepped in specific order so the dates may make odd jumps in that output.

It looks like these are rotated weekly and kept in storage for a month.  If you'd l

[2016-12-02 22:20] jbphet commented on #142
In the 12/1/2016 developer meeting we decided to move forward with making the build task **not** include the fallback locale of other locales are explicitly specified.

[2016-12-02 22:26] jbphet commented on #142
I just had a bit of a stark realization: Since the resolution to this issue involves changing a file in chipper, and since our releases specify a specific version of chipper, the fix for this won't take effect until we either publish a version of the sim from master or do a maintenance release that pulls the fix into the release branches.

[2016-12-02 23:20] jbphet commented on #142
Assigning to @pixelzoom to review, since his name appears most often in the history.

Also assigning to @ariel-phet to say whether this should be incorporated into any upcoming maintenance releases.  I believe there is one coming up for stats, this could potentially be rolled in if important enough.

[2016-12-03 00:20] jbphet commented on #143
I looked the logs and determined that there wasn't a restart of rosetta, so I think they are totally time based.

A month of logs seems a little short.  Can we make it three months without consuming too much disk space?

Also, the grep approach is a little klunky since data can be out of order.  Is it hard to configure it so that, say, a month's worth of data is actually available in the journalct

[2016-12-03 00:38] jbphet commented on #136
I just did a `ps aux | grep rosetta` on phet-server and, if I'm interpreting the output correctly, the rosetta process hasn't been restarted since Oct 24 2016.  I also looked through the logs and saw no evidence of a restart over the last month.  So, are we sure that the new code is really being run?

[2016-12-03 03:20] mattpen commented on #143
@phetsims/mark-morlino Can you help us adjust the logging for rosetta and build-server in journalctl on phet-server?

The logs from the past 7 days are currently available in journalctl.  `/var/log/messages` is storing the logs as well, rotating files weekly and retaining files for 1 month.  Is it possible to keep 3 months worth of files?  Can we configure journalctl to have access to read 3 month

[2016-12-05 15:34] markmorlino commented on #143
@mattpen
I think the easiest way to determine when any service last started is probably to use the ps command and look at the date/time.

[code]

A restart of a service shouldn't clear anything from the journalctl journal for that service, or from /var/log/messages. Journalctl will attempt to dynamically adjust its retention period based on available disk space. It does this across everything it k

[2016-12-05 16:58] mattpen commented on #143
@jbphet - It looks like we have 3 months of logs that will be available (although obviously logs prior to November 2016 won't be available), and a method to parse them in chronological order.  Will this method work for you?  It looks like configuring it through journalctl would not be ideal.

[2016-12-05 17:29] pixelzoom commented on #142
First test, to verify that 'en' is not built:

[code]

Second test, to verify that 'en' is built:

[code]

Looks good, closing.

[2016-12-05 17:29] #142 closed

[2016-12-05 17:57] jbphet commented on #136
@jonathanolson and I looked at this today during core hours, and it definitely appears that rosetta is running the fixed code, but has not been restarted.  This is a bit mysterious, and would seem to imply that it is dynamically loading updated code.  If true, we need to be very careful about what we commit to rosetta.  Indeed, we should probably do all future development on branches until we figu

[2016-12-05 17:59] jbphet commented on #136
Since the issue of RTL testing is mostly resolved (details explained above) and the only sims with special characters have the necessary update, @jonathanolson and I are making the recommendation that we *not* do a maintenance release and that we just let this change get incorporated as sims are deployed from master.  Assigning to @ariel-phet to make sure that he is okay with this and, if so, he c

[2016-12-05 19:28] jbphet commented on #143
Works for me, thanks.  Closing.

[2016-12-05 19:28] #143 closed

[2016-12-06 18:56] jonathanolson commented on #136
@ariel-phet, if this is still desired in the maintenance release, please let me know in the next few hours if possible.

[2016-12-06 18:57] ariel-phet commented on #136
Not desired considering your recommendation. Closing

[2016-12-06 18:57] #136 closed

[2016-12-28 20:45] jbphet commented on #105
I received 17 of these PUSH FAILED notifications in the period from Wed Dec 21 2016 through 1:36 PM Wed Dec 28 2016.  This is far higher than the normal rate.  This may be due in part to the publication of the States of Matter and States of Matter Basics, which are popular sims and the full version was made available for translation on Dec 20 2016.

I have a hypothesis about this uptick in failure

[2016-12-28 20:45] jbphet opened #144 "unnecessary commits, suspect problem with comparing strings"
I'm investigating a spate of PUSH FAILED notifications coming from Rosetta just after the publication of States of Matter (see https://github.com/phetsims/rosetta/issues/105#issuecomment-269538219), and I've noticed that there are a lot of commits for the "adaptedFrom" string in Joist that don't seem to actually change the value of the string.  I suspect that this is because the string contains a

[2016-12-28 20:55] jbphet commented on #144
There is some code that looks like it could be at the root of this problem in `commitQueue.js`.  It looks like this:

[code]

I'm not sure what this is all about, and I'm going to add some debug logging code so that I can see exactly how the change works and whether it is causes problems with comparing the old and new string values.

[2016-12-28 21:16] pixelzoom commented on #105
@jbphet said:

Note that "adaptedFrom" was removed from joist-strings_en.json in https://github.com/phetsims/joist/issues/383.

[2016-12-28 21:24] jbphet commented on #144
I just tested Rosetta by going to the translation utility URL, selecting the States of Matter simulation, and selecting Danish as the language, since I know the sim has been translated into this language.  I was a little surprised at first to find that the `adaptedFrom` string isn't shown to the user.  This probably makes sense, since it isn't used in the PhET-branded version of the sim, but that

[2016-12-31 00:37] jbphet commented on #144
The debug code I added is definitely being hit, and it is showing that indeed, Rosetta is causing commits even when the user isn't changing anything.  The commit https://github.com/phetsims/babel/commit/439e0bdc4c09acb5ef4c8897c0673c16ef9734ff is an example.  Recall that this string isn't being presented to the user, so Rosetta is causing this change on its own.  Here is what was in the debug log

[2017-01-03 23:35] jbphet commented on #105
I spent some time digging into the cause of these PUSH FAILED messages, and I'm seeing what seems to me like a big architectural problem with Rosetta.  There is an async task queue called ```commitQueue``` that I thought - based on the name and the documentation - serialized commits going to GitHub so that they wouldn't all happen at once.  It doesn't.  It is actually a queue of translation submis

[2017-01-04 15:18] samreid commented on #105
Trying to understand the preceding comment: would it solve the problem to make the `commitQueue` wait until a commit completes before attempting the next commit?

[2017-01-04 15:53] jbphet commented on #105
Yes, absolutely.  That is essentially what an ```async.queue``` allows one to do.  There may be simpler ways, and I'll investigate as I work on this, but that's the solution that the original developer of the Rosetta code chose.

[2017-01-31 01:18] jonathanolson opened #145 "Pushes failing"
At least 18 failure messages in the last week, for example:
[code]
or
[code]

We should investigate. Additionally, since I'm less involved, how can I not get these emails?

[2017-01-31 16:19] jbphet commented on #145
This is a duplicate of https://github.com/phetsims/rosetta/issues/105, check there for more information.  I'll remove @jonathanolson from the email distribution list today.  Closing.

[2017-01-31 16:19] #145 closed

[2017-02-09 18:41] jessegreenberg opened #146 "Accessibility strings would be vulnerable to XSS"
From https://github.com/phetsims/john-travoltage/issues/175.  Copying discussion to rosetta because this isssue is not specific to john-travoltage.

@jonathanolson said:

In JohnTravoltageA11yStrings, replace arrowKeysMoveFootString's value to:

[code]

We should have a better way to mark up bold/non-bold text, or we could use improved validation.
@mattpen, in your investigation with the OWASP val

[2017-02-15 20:44] jbphet opened #147 "remove unused code and dependency related to SQL queries"
The file `rosetta.js` has a require statement for pg-query, and the it appears to configure a query but never use it.  The actual code looks like this:

[code]
I believe that this is left over from a time where rosetta used DB queries to submit things like translation credits to the web site.  This is all done through URLs now to avoid issues with caching and such.

The build server had the same i

[2017-02-15 21:32] jbphet commented on #147
I removed the dead code, and tried to remove the `pg` dependency, but rosetta wouldn't run without it, so I added it back.  I tried testing on ox-dev, but string saving didn't work.  However, I'm not sure if it *ever* worked on ox-dev, so I'm not sure if this is an issue.  I need to test it on phet-server, but I don't have time to do so now, so I'll get back to this in the near future.

[2017-03-02 23:46] jbphet commented on #147
Turns out that rosetta is indeed using postgres connections - it uses them to save user strings if the user isn't ready to submit them.  The code removed above configures that connection, and is necessary for it to run.  It's been added back, so I'm closing this issue, since all of these dependencies are still used.

[2017-03-02 23:46] #147 closed

[2017-03-04 00:07] jbphet commented on #135
I just moved `rosetta.js` to the `js` directory and adjusted the paths.  I tested it on ox-dev and had to do a few iterations, then made the change on phet-server and tested there.  I blew the commit messages though, and attributed the commits to the wrong issue, so here they are:

+ 39d41d1cdbbb2b82405d8186a7fea6cb8b779a9c
+ c648b1879dea60aa57fa8bb12e2bf7b9076b4b2b
+ 5229681e9207f3bc4388dc2b7ed12

[2017-03-14 21:57] jbphet commented on #135
Several translations have been successfully submitted since the last change was made, so I think it's safe to close this.

[2017-03-14 21:57] #135 closed

[2017-03-20 17:16] jbphet opened #148 "pull simInfoArray so that Rosetta can run in separate directory from build-server"
There is a shared file that currently exists between Rosetta and the build-server that contains information about the simulations, mostly about where Rosetta should go to find the latest published version of each sim.  This file is called `simInfoArray`, and it is updated by the build server and read by Rosetta (I think).  The way it currently works, the build server writes to the copy on phet-ser

[2017-04-06 16:12] pixelzoom opened #149 "Add support for country-specific versions of the English language locale"
Add support for country-specific versions of the English language locale, e.g. en_CA and en_GB. (Confirm that those are correct locales.)

This was motivated by https://github.com/phetsims/unit-rates/issues/198.  According to @jbphet, this may "create unanticipated side effects".  Presumably he's anticipating that something may be assuming that there is only one 'en' locale.

Consult with @ariel-p

[2017-04-06 22:12] jbphet commented on #149
Adding @ariel-phet to list of assignees in order to set priority.  We're building up some "technical debt" on translation, would be good to tackle a few of these issues.

Here's a time and risk estimate in order to help with prioritization.  If things go well, I think I could add the new locales and verify them through some test builds in about three hours.  However, I'm concerned that some portio

[2017-04-07 00:34] ariel-phet commented on #149
@jbphet considering the low risk, and that we have already had user requests, I am labeling high priority. Please dedicate one day next week to translation issues, and lets see where we are at after that day.

[2017-04-07 19:04] jbphet opened #150 "copy es translations to es_MX"
We have had a request to copy the existing es translations to the es_MX locale for all simulations that do not yet have an es_MX translation.  @kathy-phet has said that this is pretty high priority.

[2017-04-07 19:44] jbphet opened #151 "CCK Black Box Study is appearing in Rosetta"
While working on #150 I noticed that there are some translations for Circuit Construction Kit: Black Box Study.  I asked @samreid about it via Skype, and he said it shouldn't be there.  Here is the dialog:

[1:38:43 PM] John Blanco: Yo Sam - I'm doing some translation work, and I noticed some translations for cckbbs.  I just checked in Rosetta and it is indeed appearing.  Is this desired or not?
[

[2017-04-07 20:41] jbphet commented on #150
Here is the list of sim and common code repos for which there is an `es` translation but not an `es_MX` translation:
[code]

[2017-04-07 22:29] jbphet commented on #150
I copied the `es` files to `es_MX` in all repos where needed and let the requester know that they should now be available.  Closing, will repoen if more work needs to be done.

[2017-04-07 22:29] #150 closed

[2017-04-07 22:37] jbphet commented on #149
I just searched for a list of English locale codes, and below is what I found on a site called "Locale Planet", see http://www.localeplanet.com/icu/iso639.html#en.

[code]

Adding all of these would definitely be overkill, so my plan is to add en-GB (United Kingdom, a.k.a. Great Britain) and en-CA (Canada).  My reasoning is that Canada uses the metric system but uses the same dollar sign as the US

[2017-04-10 23:07] jbphet commented on #149
I implemented this capability and did a maintenance release of the chains sim to enable testing, and then did a maintenance release unit-rates and created an en_CA (Canadian) translation, see https://phet.colorado.edu/sims/html/unit-rates/latest/unit-rates_en_CA.html.  As far as I can tell, this seems like it works fine for creating a version of the sim with metric units.

In the course of doing t

[2017-04-10 23:11] jbphet commented on #104
This was added a while back, and I just checked that it's working and that the correct document is being linked.  All looks good.  Closing.

[2017-04-10 23:11] #104 closed

[2017-04-10 23:31] jbphet commented on #151
This sim was appearing in Rosetta because the sim info had made it into a file in the Rosetta repo named `SimInfoArray.json`.  This file is updated by the build server when a new sim is added, but it doesn't appear that there is any mechanism in place to take sims out of it, so I just manually removed CCKBB.  I pulled on the server and checked Rosetta, and the sim did indeed disappear from the lis

[2017-04-11 17:01] ariel-phet commented on #149
@jbphet agreed bulk maintenance not warranted since this was mainly a special request for Unit Rates. Good that we have this capability going forward if this kind of circumstance arises in future sims.

Assigning back to @jbphet - feel free to close if nothing else to do here.

[2017-04-12 19:00] jbphet commented on #149
Closing.

[2017-04-12 19:00] #149 closed

[2017-04-13 16:37] pixelzoom opened #152 "add "es_MX" to Java Translation Utility"
@kathy-phet asked me to add support for "es_MX" to the Java Translation Utility.

I'm adding this issue to rosetta because it's related to translation, and so I don't have to deal with Unfuddle for tracking.

[2017-04-13 18:39] pixelzoom commented on #152
According to phetcommon-locales.properties, "es_MX" is already supported:

[code]

And running Translation Utility version `2.18.00 (74383) May 28, 2015`, I see "Spanish, Mexico (es_MX)" in the locale combo box:

![screenshot_215](https://cloud.githubusercontent.com/assets/3046552/25018957/2457562a-2046-11e7-929f-091bc47e6b63.png)

So there's nothing to do here, it's already supported.

Closing.

[2017-04-13 18:42] kathy-phet commented on #152
@oliver-phet - Can you send Diana the existing string files for es_MX and es.

[2017-04-13 18:44] mattpen opened #153 "Add unit to rosetta for translating strings in the mobile apps"
We should add this before the translatable versions of the app are published so that the initial strings are published in the app versions.

[2017-04-13 18:44] mattpen commented on #153
@jbphet - Can we find a time to briefly discuss the best way to do this?

[2017-04-17 17:31] mattpen commented on #153
@jbphet and I discussed this today.  We are going to add a new button on the rosetta home page for "Mobile App" translation.  The strings will still be handled by the same backend, by storing them in json files in babel.

[2017-04-17 18:16] jbphet commented on #151
I just checked Rosetta's logs and the web site, and we have received several new translations since my changes in the commit above, and CCK Black Box hasn't reappeared.  I think this has been successfully resolved, closing.

[2017-04-17 18:16] #151 closed

[2017-04-18 15:19] oliver-phet commented on #152
@phet-steele let's get together to get all of the files for Diana.

[2017-04-18 15:30] jbphet commented on #153
Other notes from the discussion:
+ I was actually envisioning a different landing page with two buttons that allows the user to choose between translating a simulation and translating the mobile app.  Choosing a simulation would send the user to the current landing page where they choose a sim and a language.  Choosing the mobile app would land them on a page where they choose only the language, t

[2017-04-18 15:41] mattpen commented on #153
I think we will need to add an interface in the website code that will allow the strings to be stored in postgres via http post request.

[2017-05-10 21:48] mattpen commented on #153
It might make more sense to build this API into rosetta directly, and it should be cached by varnish.

Another question we'll need to solve is how does rosetta find out what the current english strings are.  The app finds these for sims by parsing them out of the built `_en.html` file.  One option is that we could get them from the strings resource file in the android repo itself, since rosetta pr

[2017-05-11 18:46] mattpen opened #154 "Should rosetta's psql tables be in website_production?"
Currently rosetta uses tables (e.g. saved_translations) located in the website_production database.  It seems like it should not be connecting to this database but rather using its own database to improve encapsulation between the two applications.  Should we create a new db called `rosetta`?

[2017-05-11 20:01] jbphet commented on #154
A separate DB sounds like it would make sense.  Let me know when it is set up and ready and we can try it out from Rosetta.  Ideally, we'd be able to test on ox-dev first, so I don't know if that means the DB should be set up on both ox-dev and phet-server.  I'll leave that to...@mattpen I guess.

[2017-05-12 04:36] jonathanolson commented on #154
Sounds fine to me, but let me know if we should then add an additional backup step for Rosetta's DB.

[2017-05-12 21:35] mattpen commented on #153
So far I have the new initial screen to choose app or sims working, the screen to choose an app platform/language/version working, and I've populated the android strings on the translate page on ox-dev.  I still have yet to implement saving/submitting.

![image](https://cloud.githubusercontent.com/assets/11747676/26017762/82fb1be6-3728-11e7-89fa-15dedc1faa5b.png)

[2017-05-12 21:35] mattpen commented on #153
One more thing we may need to consider is how to setup a testing framework for the strings, so translators can view the context.

[2017-05-17 20:13] mattpen commented on #153
String saving and submitting is now working for rosetta for the mobile-apps.  Next up is providing an API for the mobile apps to retrieve the strings at runtime.

[2017-05-31 22:51] oliver-phet commented on #152
Sent to Diana, closing.

[2017-05-31 22:51] #152 closed

[2017-06-21 19:36] pixelzoom opened #155 "no validation support for named placeholders"
In https://github.com/phetsims/phetcommon/issues/36, we switched to patterns that use named placeholders, e.g. `"{{name}} is {{age}} years old."`

The old approach was similar to Java's MessageFormat, using numbered placeholders, e.g. `"{0} is {1} years old."`   (This approach is deprecated, but will likely live on forever due to the number of translated strings involved. It will not be used in ne

[2017-06-21 19:42] pixelzoom commented on #155
StringUtils.fillIn uses this regular expression to extract placeholders:

```var placeholders = template.match( /\{\{[^\{\}]+\}\}/g ) || [];```

Probably the same for Rosetta.

[2017-06-21 19:57] pixelzoom commented on #155
I did some investigation into what happens when translated and English string don't have the same placeholders.   There are 2 cases, which I'll describe using this English example:

[code]

(1) The translated string is missing a placeholder that appears in the English string. In this case, the extra value provided to `StringUtils.fillIn` is simply ignored.  Example:

[code]

(2) The translated str

[2017-06-22 19:34] pixelzoom commented on #155
6/22/17 consensus:
• Yes, validation should be added to Rosetta.
• Since it doesn't crash the sim, this is not urgent. It will be addressed the next time we do a bunch of Rosetta work.

[2017-06-22 20:26] jonathanolson opened #156 "Validation differences for normal/HTML text"
RichText supports an HTML subset that we'll presumably want to validate in the future. We'll also want to tag strings with how they are used in the sim, so that rosetta can know whether it's meant for RichText, Text, MultiLineText, etc.

Marked as deferred, presumably handle when translating of iOS/Android apps.

[2017-07-24 17:32] samreid opened #157 "What should the license be for this repo?"
Please review the guidelines in https://github.com/phetsims/tasks/issues/875 and see what license this repo should have.  I thought it might need to be classified as MIT, but wasn't sure.

[2017-07-26 18:41] jbphet commented on #157
I reviewed the guidelines, and I agree that the MIT license seems more appropriate since I don't think we have any concerns about getting back any modified code.

[2017-07-26 18:43] jbphet commented on #157
Done, assigning back to @samreid to either close or continue the discussion at his discretion.

[2017-07-26 18:47] samreid commented on #157
Thanks, closing.

[2017-07-26 18:47] #157 closed

[2017-07-27 15:07] oliver-phet opened #158 "Add locale: Lakota"
We received a request to add Lakota support into the HTML5 translation utility.

JB commented: This might be a bit tricky to support, since there is apparently no ISO 639-1 two letter code for this language, nor is there an entry in ISO 629-2 (which has the three letter codes), so it may not be trivial to add.

[2017-07-27 16:33] jbphet commented on #158
Here are a couple of links for the ISO 639-1 and ISO 639-2 codes.  Neither includes Lakota:

https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

https://www.loc.gov/standards/iso639-2/php/code_list.php

However, it does show up in this list:

http://search.cpan.org/dist/DateTime-Locale/lib/DateTime/Locale/Catalog.pm

[2017-07-28 23:56] jbphet commented on #158
The Internet Assigned Numbers Authority (IANA) apparently maintains a set of language codes too, and it seems from some things that I saw on line that this is what Android uses as its language list.  I'm not sure how it relates to the ISO 639 codes, but the IANA list includes Lakota.  Here is a link to the "subtag registry":
https://www.iana.org/assignments/language-subtag-registry/language-subtag

[2017-07-28 23:59] jbphet commented on #158
I'd like to get input from @jonathanolson and @samreid on this.  Here some initial ideas on what we could do:

+ Add the locale 'lk', which doesn't exist in ISO 639, but is unlikely to conflict with anything new.  We could document it heavily in the header file of `LocaleInfo.js`, where we already describe some differences that PhET does.
+ Migrate to the IANA codes.  This would be ambitious and p

[2017-07-29 01:09] samreid commented on #158
IMO this is not a sufficient reason to migrate to a different set of codes.  Since nobody else has claimed 'lk' yet, it seems good to assign it to Lakota.  If another LK group comes along later we can assign them a different code.  But I'm interested to hear @jonathanolson thoughts as well.

[2017-07-29 18:21] jonathanolson commented on #158
Currently on the JS-side, we can definitely add locales with no problem (need to update build-server, rosetta, and maybe some other parts that use localeInfo.js).

I'm somewhat more concerned with the website and/or Java/Flash sims. @mattpen, since we use the Locale objects in Java for the website, would this be a problem?

[2017-07-31 15:52] ariel-phet commented on #158
Marking for dev meeting, as we may want to have a general policy, and seems like this involves multiple parties

[2017-08-03 17:11] jbphet commented on #158
Turns out that Lakota *is* included in ISO 639-3.  The Wikipedia entry for 639-3 says, "ISO 639-3 extends the ISO 639-2 alpha-3 codes with an aim to cover all known natural languages."   The three letter code is "lkt".

[2017-08-03 17:58] jbphet commented on #158
In the 8/3/2017 dev meeting we decided that we should test out adding a two-letter locale code to `localeInfo.json` and test it on ox-dev.  I'll do that and report back.

[2017-08-25 22:29] jbphet commented on #158
I tried getting this to run on phet-server-dev, but run into a bunch of issues with permissions and such that were unrelated to the problem at hand, so I just went for it on phet-server.  The lk locale is now available in the translation utility, but sims can't be successfully translated unless a maintenance release is done that adds this locale to the version of chipper used by the released simul

[2017-08-25 22:31] jbphet commented on #158
@mattpen - now that I've done this for the HTML5 sims, is there anything that you need to check about the website code to make sure that the presence of this non-standard locale in the localInfo file doesn't mess anything up with the Java and Flash sims?